Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Allow klientadmins to use admin pages without Access management package
  src/features/amUI/agentDetails/AgentDetailsPage.tsx
  src/features/amUI/clientDetails/ClientDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/features/amUI/clientDetails/ClientDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/features/amUI/agentDetails/AgentDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Allow klientadmins to use admin pages without Access management package (#2301)
  src/features/amUI/agentDetails/AgentDetailsPage.tsx
  src/features/amUI/clientDetails/ClientDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Hide download button with display: none
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
Due: yarn prettier --write

Hide download button with display: none (#2302)
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
Due: yarn prettier --write

QA fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

add unwrap
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

Revert "Hide download button with display: none (#2302)"
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
Due: yarn prettier --write

Revert "Hide download button with display: none (#2302)" (#2303)
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
Due: yarn prettier --write

Add test for focusing target inside container with same id
  src/resources/hooks/useRestoreFocus.test.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix

move logic to provider and add RestoreFocusTarget to better handle async updates
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/RestoreFocus/RestoreFocusContext.test.tsx
  src/features/amUI/common/RestoreFocus/RestoreFocusContext.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useRestoreFocus.test.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix

add nb texts
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

remove connection of SI users (will be done in authentication backend instead)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConnectionClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
Due: none

update urls and method names
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
Due: none

remove dead variable
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ConnectionClient.cs
Due: none

remove using
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
Due: none

File download: Hide toggle on subunit and block paralell requests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
Due: yarn prettier --write, yarn lint --fix

add translations
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

fix warnig and stable buttin component that keeps focus
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: rename packageAs prop to PackageComponent for clarity
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: rename PackageAs prop to PackageComponent for clarity in AreaItemContent
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
Due: none

Potential fix for pull request finding
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
Due: none

linting fix
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
Due: none

Add Tenor testdata client and yarn command for fetching test persons
  playwright/e2eTests/tenor/hentTestbruker.spec.ts
  playwright/package.json
  playwright/tenor/TenorApiRequests.ts
  playwright/tenor/hentTestpersoner.ts
Due: yarn prettier --write, yarn lint --fix

Include person name (fornavn/etternavn) in Tenor test person output
  playwright/tenor/TenorApiRequests.ts
  playwright/tenor/hentTestpersoner.ts
Due: yarn prettier --write, yarn lint --fix

Fix flaky enkelttjeneste delegation tests
  playwright/e2eTests/altinn3/Tilgangsstyring/Enkelttjenestedelegering.spec.ts
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

Make actor selection wait for the dialog list before searching
  playwright/pages/LoginPage.ts
Due: yarn prettier --write, yarn lint --fix

Inline client delegation test data as constants instead of CSV
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
  playwright/e2eTests/testdata/forretningsfoerer/customers.csv
  playwright/e2eTests/testdata/forretningsfoerer/facilitator.csv
  playwright/e2eTests/testdata/regnskapsfoerer/customers.csv
  playwright/e2eTests/testdata/regnskapsfoerer/facilitator.csv
  playwright/e2eTests/testdata/revisor/customers.csv
  playwright/e2eTests/testdata/revisor/facilitator.csv
  playwright/util/loadFacilitators.ts
Due: yarn prettier --write, yarn lint --fix

Add Tenor CLI for fetching facilitator businesses (revisor/regnskapsfoerer/forretningsfoerer)
  playwright/package.json
  playwright/tenor/TenorApiRequests.ts
  playwright/tenor/hentVirksomhet.ts
Due: yarn prettier --write, yarn lint --fix

Use Tenor facilitators with few clients for client delegation tests
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

Drop Facilitator/Customer interfaces, use plain inline objects
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

Use pomFixture for ClientDelegationPage and AccessManagementFrontPage
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

Address PR review: naming, fixture import, token reuse, CLI hardening
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
  playwright/e2eTests/tenor/hentTestbruker.spec.ts
  playwright/package.json
  playwright/tenor/TenorApiRequests.ts
  playwright/tenor/hentTestpersoner.ts
  playwright/tenor/hentVirksomhet.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Revert tsx dependency change to avoid touching repo-wide yarn.lock
  playwright/package.json
  playwright/tenor/hentTestpersoner.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Refactor RestoreFocus API to use controller
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/RestoreFocus/RestoreFocusContext.test.tsx
  src/features/amUI/common/RestoreFocus/RestoreFocusContext.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
Due: yarn prettier --write, yarn lint --fix

Move Enkelttjenester tab/panel locators into the page object
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

Remove no-op awaits on locator getters and drop Tenor demo spec
  playwright/e2eTests/tenor/hentTestbruker.spec.ts
  playwright/pages/AccessManagementFrontPage.ts
  playwright/pages/profile/delegationPage.ts
Due: yarn prettier --write, yarn lint --fix

File download: Hide toggle on subunit and block paralell requests (#2306)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
