Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

color fix
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

Enhance AdvancedUserSearch and UserList components: add pagination for indirect users, implement user action buttons, and improve styling for show more functionality.
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/common/UserList/useFilteredUsers.ts
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
Due: yarn prettier --write, yarn lint --fix

fix: remove ActionBarHeader header size, since it conflicts the child paragraph data-size
  src/components/ActionBar/ActionBarHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Enhance AdvancedUserSearch component: update styling for controls and results, add new user button, and improve localization for user search features
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

use skeleton as loader instead of spinner
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.tsx
Due: yarn prettier --write, yarn lint --fix

Enhance AdvancedUserSearch component: refactor user filtering logic, add ConnectionsList component for displaying users, and update localization for add user button
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/AdvancedUserSearch/ConnectionsList.tsx
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove feature toggle for displaying access packages for standard system users
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

minor css
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.module.css
Due: yarn prettier --write

cleanup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
Due: none

fix selected menu styling
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

open modal with info from meta data api
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Role.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IRoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Roles/roles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Roles/roles_old.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RoleClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/RoleController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Filters/ValidateApiKeyAttribute.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Filters/ValidateRefererAttribute.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/UserPageHeader/UserPageHeader.tsx
  src/features/amUI/common/UserRoles/RoleInfoModal.module.css
  src/features/amUI/common/UserRoles/RoleInfoModal.tsx
  src/features/amUI/common/UserRoles/UserRoles.tsx
  src/features/amUI/common/UserRoles/roleUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/roleApi.ts
Due: yarn prettier --write, yarn lint --fix

simplification
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

handle event for consent used
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consents_org.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentLog_org.json
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/features/amUI/consent/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consent_org.json
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

added mock and tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RoleClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RoleControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Role/roles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  src/features/amUI/common/UserRoles/RoleInfoModal.module.css
  src/features/amUI/common/UserRoles/RoleInfoModal.tsx
Due: yarn prettier --write, yarn lint --fix

fixes
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor user delegation and revocation logic: update parameters to accept User objects, enhance loading states in user actions, and improve integration with access package delegation.
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/AdvancedUserSearch/ConnectionsList.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/resources/hooks/useDelegateAccessPackage.tsx
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor (also remove enrichment of rights for agent systemuser, agent systemuser cannot have rights atm)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
Due: none

fix: remove feature toggle for displaying access packages for standard system users (#1605)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

minor: show correct text when created consent exists, but no accepted consents exist
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

memoize computed values
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

qa
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IRoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RoleClientMock.cs
  src/features/amUI/common/UserRoles/RoleInfoModal.tsx
Due: yarn prettier --write, yarn lint --fix

fix warnings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IRoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RoleClientMock.cs
Due: none

Added new verification test case and oppryddingssteget with afterAll
  .yarn/releases/yarn-4.9.4.cjs
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/api-requests/delegation-tilgangspakke/tokenGenerator.ts
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/accesspkgdelegation/accesspkgdelegate.spec.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
  playwright/util/delegationApiUtil.ts
Due: yarn prettier --write, yarn lint --fix

consent tests to support different languages
  playwright/e2eTests/accesspkgdelegation/accesspkgdelegate.spec.ts
  playwright/e2eTests/consent/consent.spec.ts
  playwright/e2eTests/consent/consenttests.spec.ts
  playwright/pages/consent/ConsentPage.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
Due: yarn prettier --write, yarn lint --fix

refactor: move consentStatus + use expired status in request header
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.module.css
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

nitpick
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.tsx
  src/localizations/en.json
Due: yarn prettier --write, yarn lint --fix

add utils functions for handling consent events
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.tsx
  src/features/amUI/consent/utils.ts
Due: yarn prettier --write, yarn lint --fix

display settings page in GUI
  package.json
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/settings/SettingsModal.module.css
  src/features/amUI/settings/SettingsModal.tsx
  src/features/amUI/settings/SettingsPage.tsx
  src/features/amUI/settings/SettingsPageContent.module.css
  src/features/amUI/settings/SettingsPageContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Refactored to have one test per spec file as per Playwright guidelines
  playwright/api-requests/delegation-tilgangspakke/tokenGenerator.ts
  playwright/e2eTests/accesspkgdelegation/accesspkgdelegate.spec.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
Due: yarn prettier --write, yarn lint --fix

show handledBy in log
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ConsentLogItemFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consents_org.json
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
  src/features/amUI/consent/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

use dictionary for lookup instead og array find
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consent_org.json
Due: none

Made changes to have token generator in same file
  playwright/api-requests/Token.tsx
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/api-requests/delegation-tilgangspakke/tokenGenerator.ts
Due: yarn prettier --write, yarn lint --fix

fix crash + refactor
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Consent.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

Added test for deletion av delegert access pacakge
  playwright/e2eTests/accesspkgdelegation/accesspkgDirectdelegatation.spec.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
Due: yarn prettier --write, yarn lint --fix

Added test case for delegating access pacakage from Org-1(Avgiver) to Org-2(Rettighetshaver) (#1595)
  .yarn/releases/yarn-4.9.4.cjs
  playwright/api-requests/Token.tsx
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/accesspkgdelegation/accesspkgDirectdelegatation.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
  playwright/pages/profile/brukerflateDelegtionPage.ts
  playwright/playwright.config.ts
  playwright/util/delegationApiUtil.ts
  playwright/uuTests/accessibilityHelpers/delegeringHelper.ts
  playwright/uuTests/accessibilityTests/enkelttjenesteDelegering.spec.ts
  tsconfig.json
Due: yarn prettier --write, yarn lint --fix

refactor
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

Reverted config file back to normal setup
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Reverted playwright config file to normal setup
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
