Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

refactor: replace rerouteIfLimitedPreview function with useRerouteIfLimitedPreview to follow rules for hooks
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/resources/utils/featureFlagUtils.tsx
Due: yarn prettier --write, yarn lint --fix

Display org number, hide system users, mark subunits and hide roles on reportee page (#1552)
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/reportees/ReporteePage.module.css
  src/features/amUI/reportees/ReporteesList.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor: simplify partyUuid handling in PoaOverviewPage component
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

update search handling in AccessPackagePermissions component to use debounced value
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
Due: yarn prettier --write, yarn lint --fix

fix: ensure navigation to '/not-found' uses replace option in reroute functions
  src/resources/utils/featureFlagUtils.tsx
Due: yarn prettier --write, yarn lint --fix

streamline badge rendering logic in AreaItem component and update PermissionBadge props
  src/features/amUI/common/AccessPackageList/AreaItem.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/AccessPackageList/PermissionBadge.tsx
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.module.css
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor: remove unused enableActions and enableDelegationCheck props from AreaItemContent component
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
Due: yarn prettier --write, yarn lint --fix

chore: update @altinn/altinn-components dependency to version 0.36.7
  package.json
  yarn.lock
Due: none

refactor: simplify permission badge logic and improve accessibility in AreaItem and UndelegatedPackageWarning components
  src/features/amUI/common/AccessPackageList/AreaItem.tsx
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.tsx
Due: yarn prettier --write, yarn lint --fix

Display list of packages and its permissions (#1553)
  package.json
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/AreaItem.tsx
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.module.css
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/AccessPackageList/PermissionBadge.tsx
  src/features/amUI/common/AccessPackageList/SkeletonAccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.module.css
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.module.css
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/featureFlagUtils.tsx
  src/rtk/features/accessPackageApi.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

feat: add access package details page and related functionality
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Frontend/AccessPackageFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AccessPackageService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAccessPackageService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessPackageClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/AccessPackageController.cs
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/AccessPackageList/UndelegatedPackageWarning.module.css
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

fix: update GetAccessPackageAccesses method signature to include packageId parameter
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessPackageClient.cs
Due: none

WIP
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.module.css
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.tsx
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
  src/features/amUI/consent/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/consentPath.ts
Due: yarn prettier --write, yarn lint --fix

fix consent request styling after meeting with design
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ConsentListItemFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/activeConsents_org.json
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

fixed buttons and added help text
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fixes
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
Due: yarn prettier --write

refactor
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
  src/features/amUI/consent/types.ts
Due: yarn prettier --write, yarn lint --fix

fix test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/activeConsents_org.json
Due: none

new design for consent status
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

feat: introduce PermissionFE model and update AccessPackageFE to use it; enhance role code handling in package details
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Frontend/AccessPackageFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Frontend/PermissionFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AccessPackageService.cs
  src/dataObjects/dtos/Common.tsx
  src/dataObjects/dtos/accessPackage.tsx
  src/features/amUI/common/UserRoles/roleUtils.ts
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
Due: yarn prettier --write, yarn lint --fix

better flow on revoke consent
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

hide popover on error to display error message
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

timeline changes
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.module.css
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

text fixes
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

styling
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.module.css
  src/features/amUI/consent/ConsentHistoryPage/ConsentTimeline.tsx
Due: yarn prettier --write, yarn lint --fix

fix: enhance error handling in AccessPackageClient and mock; improve response logging and mock data retrieval
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessPackageClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/AccessPackageController.cs
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

add consent menu item
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

feat: add mock data for access package delegations and single package permissions; enhance controller tests for permission retrieval
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetSinglePackagePermissions/167536b5-f8ed-4c5a-8f48-0279507e53ae.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessPackageClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/AccessPackageController.cs
Due: none

Fixed buttons and added help text (#1556)
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

split consent and poa texts
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

refactor: replace PermissionFE with Permission model; update related services and tests; enhance PackagePoaDetails with search functionality
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Frontend/AccessPackageFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Frontend/PermissionFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AccessPackageService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  src/dataObjects/dtos/accessPackage.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserRoles/roleUtils.ts
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
Due: yarn prettier --write, yarn lint --fix

test: update AccessPackageControllerTest to use AccessPackageFE model; add expected results for single package permissions
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetSinglePackagePermissions/cd35779b-b174-4ecc-bbef-ece13611be7f.json
Due: none

refactor: remove packageId parameter from GetAccessPackageAccesses method; update related service calls
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AccessPackageService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
Due: none

refactor: remove packageId parameter from GetAccessPackageAccesses method
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessPackageClientMock.cs
Due: none

add missing translations
  src/localizations/en.json
  src/localizations/no_nn.json
Due: none

chore: change consent request styling after meeting with design (#1555)
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

GET rights and access packages for standard systemusers from new endpoint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/StandardSystemUserDelegations.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserController.cs
Due: none

refactor: update Entity models and localization strings; enhance user feedback for search results
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Entity.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/Connection/Entity.cs
  src/dataObjects/dtos/Common.tsx
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

refactor: enhance loading state in PackagePoaDetails with skeleton components; add heading container styling
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
