Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

fix import
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
Due: yarn prettier --write, yarn lint --fix

update index from the start
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
Due: none

Update YT featureflags so they mirror TT
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
Due: none

Update html language when changing language in the UI (#2281)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
  package.json
  src/features/amUI/common/PageLayoutWrapper/useHeader.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Remove pending service requests button on mobile
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
Due: yarn prettier --write, yarn lint --fix

Har gått gjennom heile nynorskfila og gjort rettingar pluss litt smårusk i språket som eg også retta i bokmålsfila.
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Apply suggestions from code review
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Feat/hide list-buttons on small screens (#2271)
  src/features/amUI/agentDetails/AgentDetailsClientsList.tsx
  src/features/amUI/agentDetails/useAgentDetailsAccessPackageActions.ts
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientDetails.tsx
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/clientDetails/ClientDetailsAgentsList.tsx
  src/features/amUI/common/AccessPackageListItems/AccessPackageListItems.tsx
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/ClientAgentPackageList/ClientAgentPackageList.tsx
  src/features/amUI/common/ClientAgentPackageList/useClientAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/AccessPackages/ClientPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/ClientPackageInfoModal.tsx
  src/features/amUI/common/DelegationModal/Party/PartyInfo.module.css
  src/features/amUI/common/DelegationModal/Party/PartyInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/createSearchResultControlsRenderer.tsx
  src/features/amUI/common/ResourceList/ResourceList.test.tsx
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/RoleList/RoleList.tsx
  src/features/amUI/common/StatusSection/StatusSection.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/common/UserSearch/UserSearch.tsx
  src/features/amUI/common/UserSearch/UserSearchResults.tsx
  src/features/amUI/common/UserSearch/types.ts
  src/features/amUI/maskinporten/ScopeSearchControls.tsx
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/packagePoaDetailsPage/PackageUserModal.tsx
  src/features/amUI/packagePoaDetailsPage/PartyInfoModal.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add static area heading instead of description to package list (#2285)
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

More language fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/AccessPackageExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportColumnNames.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/InstanceRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/RoleExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/accessPackages.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/roles.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights-instances.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/DelegationExportCsvBuilderTest.cs
Due: none

fixed tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/DelegationExportCsvBuilderTest.cs
Due: none

Simplify zip name
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
Due: none

fixed test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
Due: none

Export delegated rights endpoint in BFF (zip of CSV files) (#2277)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/DelegationExportCsvBuilder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/PersonIdentifierUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/AccessPackageExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportColumnNames.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportResult.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/InstanceRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/RoleExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/SingleRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IDelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Roles/Permissions/cd35779b_none.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/InstanceClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/accessPackages.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/roles.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights-instances.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/GetReporteeListForUser/reporteeList.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/DelegationExportCsvBuilderTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/PersonIdentifierUtilsTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
Due: none

Update pathUtils.tsx
  src/resources/utils/pathUtils.tsx
Due: yarn prettier --write, yarn lint --fix

useTabState for tab management across multiple components
  .yarn/releases/yarn-4.15.0.cjs
  src/features/amUI/InstanceDetailPage/InstanceDetailPage.tsx
  src/features/amUI/agentDetails/AgentDetails.tsx
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/common/Breadcrumbs/Breadcrumbs.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/common/useUrlParamState.ts
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/ConsumerPageContent.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/maskinporten/SupplierPageContent.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/requestPage/RequestsPage.tsx
  src/resources/hooks/index.ts
  src/resources/hooks/useTabState.ts
Due: yarn prettier --write, yarn lint --fix

Update pathUtils.tsx (#2288)
  src/resources/utils/pathUtils.tsx
Due: yarn prettier --write, yarn lint --fix

Use parentTab for PoA overview navigation
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/GuardianshipPermissions.tsx
  src/features/amUI/poaOverview/InstancePermissions.tsx
Due: yarn prettier --write, yarn lint --fix

chore: update deployment workflows to include YT01 environment and remove YT01 release job
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
Due: none

reuse buttons; keep focus on button on add/remove system user client
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

chore: update deployment workflows to include YT01 environment and remove YT01 release job (#2290)
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
Due: none

Update YT featureflags so they mirror TT (#2286)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
Due: none

Fix tab state handling by removing unnecessary encoding in URL hash
  .yarn/releases/yarn-4.15.0.cjs
  src/resources/hooks/useTabState.ts
Due: yarn prettier --write, yarn lint --fix

reuse buttons; keep focus on button on add/remove system user client (#2291)
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

WIP: legg til støtte for glemt passord for altinn2-bruker
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccountLink/Altinn2AccountFromTokenRequest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccountLink/Altinn2ForgotPasswordRequest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/rtk/features/selfIdentifiedUserApi.ts
Due: yarn prettier --write, yarn lint --fix

fix: upgrade altinn-components to get new snackbar implementation. Remove old snackbars from dialogs
  src/features/amUI/InstanceDetailPage/RequestInstanceAdminPackage/RequestInstanceAdminPackage.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/myClients/MyClientsPage.tsx
  src/features/amUI/packagePoaDetailsPage/PartyInfoModal.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.tsx
  src/features/amUI/requestPage/SentRequestsCombinedModal.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/sites/ErrorPage/amUi/ErrorLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

add package.json and lock file
  package.json
  yarn.lock
Due: none

Add download button to GUI
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.module.css
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.module.css
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

yarn
  .yarn/releases/yarn-4.15.0.cjs
Due: none

remove icon
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
Due: yarn prettier --write, yarn lint --fix

fix styling of paging in agent systemuser customer list
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
Due: yarn prettier --write, yarn lint --fix

remove extra fragment
  src/features/amUI/myClients/MyClientsAccessSection.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/features/amUI/poaOverview/AccessPackagePermissions.module.css
Due: yarn prettier --write

Potential fix for pull request finding
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/localizations/no_nn.json
Due: none

Potential fix for pull request finding
  src/localizations/no_nb.json
Due: none

Potential fix for pull request finding
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
Due: yarn prettier --write
