Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

fix memozation bug: calls to useAppSelector should return the same result
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

fix typescript errors
  src/components/CollectionBar/CollectionBar.module.css
  src/components/CollectionBar/CollectionBar.tsx
  src/components/GroupElements/GroupElements.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/vite-env.d.ts
Due: yarn prettier --write, yarn lint --fix

add vite file to tsconfig exclude
  tsconfig.json
Due: none

fix typescript errors
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
Due: yarn prettier --write, yarn lint --fix

more typescript fixes
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

refactor search
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Update no_nn.json
  src/localizations/no_nn.json
Due: none

Add placeholder for header and left menu (#981)
  src/features/amUI/users/UsersFakePageWrapper.module.css
  src/features/amUI/users/UsersFakePageWrapper.tsx
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

fixed missing quote
  src/localizations/no_nn.json
Due: none

Mette_nynorskendringar_Update no_nn.json (#991)
  src/localizations/no_nn.json
Due: none

add translations for registry type roles (#982)
  src/features/amUI/users/UsersList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix memozation bug: calls to useAppSelector should return the same result (#983)
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Fix typescript type errors (#986)
  src/components/CollectionBar/CollectionBar.module.css
  src/components/CollectionBar/CollectionBar.tsx
  src/components/GroupElements/GroupElements.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
  src/vite-env.d.ts
  tsconfig.json
Due: yarn prettier --write, yarn lint --fix

rename "entrees" to "entries"
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Add live region
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

Update user search placeholder text and move filter logick to hook
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/useDebouncedFilteredRightHolders.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/resources/utils/debounce.ts
Due: yarn prettier --write, yarn lint --fix

updated nonmajor nuget packages and fixed errors blocking build
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
Due: none

removed lines reported to fail
  .husky/pre-commit
Due: none

Move user search feedback text
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Update non major nuget packages (fix) (#995)
  .husky/pre-commit
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
Due: none

Add hideLabel prop to Search component and update user search placeholder text
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor List component to use TypeScript interface for props
  src/components/List/List.tsx
Due: yarn prettier --write, yarn lint --fix

chore: Update UsersList component to useFilteredRightHolders hook and fix search functionality
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/useDebouncedFilteredRightHolders.ts
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Refactor user search functionality and update nn text
  src/features/amUI/users/useFilteredRightHolders.ts
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix typo
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Søk i brukerliste (#987)
  src/components/List/List.tsx
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/amUI/users/useFilteredRightHolders.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/debounce.ts
Due: yarn prettier --write, yarn lint --fix

minor cosmetic fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  src/features/amUI/users/FakePageWrapper/FakePageWrapper.module.css
  src/features/amUI/users/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/users/FakePageWrapper/index.ts
  src/features/amUI/users/UserDisplay.tsx
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Sort right holders list
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Sort users by name, ignore roles for now
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

fix pageEntries filtering issue
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Sort right holders list (#997)
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Added new UserItem component with three sizes for hierarchical use
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/List/TestDataUserList.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/users/UserDisplay.tsx
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/UserItem/index.ts
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/useFilteredRightHolders.ts
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Add language detection for selectedLanguage cookie
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/ProfileHelper.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/main.jsx
Due: yarn prettier --write, yarn lint --fix

fixed bug by changing text of tertiary button
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fixed bug by changing text of tertiary button (#1004)
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fixed default value of user icon size
  src/components/UserIcon/UserIcon.module.css
Due: yarn prettier --write

Display logged in user on top of the page (and create UserItem component) (#1002)
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/List/TestDataUserList.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/users/FakePageWrapper/FakePageWrapper.module.css
  src/features/amUI/users/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/users/FakePageWrapper/index.ts
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/UserItem/index.ts
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/amUI/users/useFilteredRightHolders.ts
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Refactor language code retrieval in APIDelegationController and HomeController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
Due: none

refactor: rename ProfileHelper to LanguageHelper
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/LanguageHelper.cs
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
