Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

cleanup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
Due: none

Fix api-delegation filter
  src/components/Filter/OptionDisplay.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
Due: yarn prettier --write, yarn lint --fix

make filter not go to page 1 when closed
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

add actual code
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
Due: none

import localization texts from relative path to enable versioning in browser cache
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/resources/LoadLocalizations/LoadLocalizations.tsx
Due: yarn prettier --write, yarn lint --fix

Setup config file in playwright to run tests in different env
  .github/workflows/playwright.yml
  cypress.config.ts
  package.json
  playwright/README.md
  playwright/config/.env.at21
  playwright/config/.env.at22
  playwright/config/.env.at23
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Made changes in yml file
  .github/workflows/playwright.yml
Due: none

Setup config file in playwright to run tests in different env (#890)
  .github/workflows/playwright.yml
  cypress.config.ts
  package.json
  playwright/README.md
  playwright/config/.env.at21
  playwright/config/.env.at22
  playwright/config/.env.at23
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

finished creating skeleton
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.module.css
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/resources/hooks/useFetchRecipientInfo.tsx
Due: yarn prettier --write, yarn lint --fix

Made changes in playwright.yml file
  .github/workflows/playwright.yml
Due: none

Made changes in playwright.yml file (#892)
  .github/workflows/playwright.yml
Due: none

Co-authored-by: Andreas Isnes Nilsen <andreas.isnes@gmail.com>
  .github/workflows/playwright.yml
Due: none

Made changes in package.json file
  playwright/package.json
Due: none

Made changes in package.json file
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Fixed test which is failing in github actions
  .github/workflows/playwright.yml
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

made changes requested in QA
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  src/components/Filter/OptionDisplay.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

Fixed tests which was failing from github actions (#895)
  .github/workflows/playwright.yml
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/package.json
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

import localization texts from relative path to enable versioning in browser cache (#885)
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/resources/LoadLocalizations/LoadLocalizations.tsx
Due: yarn prettier --write, yarn lint --fix

Bugfix/875 rar oppforsel i filter i api delegering (#884)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  src/components/Filter/OptionDisplay.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

gitignore dist folder
  .gitignore
Due: none

enabled hybrid localdev solution and added readme
  README.md
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Properties/launchSettings.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
Due: none

fixed lint errors
  .eslintignore
  cypress/cypress.config.js
  cypress/pageObjects/profile3/APIadministration.js
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/e2e/profile/idPortenLogin.js
  cypress/src/support/APIadministration.js
  cypress/src/support/generic-helper.js
  cypress/src/support/inbox.js
  cypress/src/support/index.js
  cypress/src/support/login.js
  eslint.config.cjs
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Update README.md
  README.md
Due: none

fixed filter after new design system update
  src/components/Filter/FilterButton.module.css
  src/components/Filter/OptionDisplay.module.css
Due: yarn prettier --write

Use new dev keyvault
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Properties/launchSettings.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
Due: none

lint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
Due: none

removed unused launch settings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Properties/launchSettings.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
Due: none

Update readme
  README.md
Due: none

New local setup (hybrid solution) (#899)
  README.md
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Properties/launchSettings.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
Due: none

added back missing workflows
  .github/pr-labels.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/scheduled-release.yml
Due: none

Fix rendering service delegations when service has long name
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Display skeleton while initializing single-rights page (#891)
  .gitignore
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.module.css
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/resources/hooks/useFetchRecipientInfo.tsx
Due: yarn prettier --write, yarn lint --fix

added back missing workflows (#901)
  .github/pr-labels.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/scheduled-release.yml
Due: none

Made changes in API-delegering to address the failures
  cypress/package.json
  cypress/pageObjects/profile3/APIadministration.js
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
  package.json
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Made changes in API-delegering to address the failures
  .github/workflows/playwright.yml
Due: none

Fix rendering service delegations when service has long name (#902)
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

updated yarn file
  yarn.lock
Due: none

Made changes in package file
  cypress/package.json
  package.json
  yarn.lock
Due: none

Update backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
Due: none
