Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

set focus to h1 on receipt page on consent request and draft request pages
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestHeader.tsx
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

Turn off RouteChangeReporteeViaAltinn2 in AT23
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
Due: none

Update breadcrumb labels for Maskinporten suppliers and consumers in localization files
  src/features/amUI/common/Breadcrumbs/Breadcrumbs.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

endret tilgang til fullmakt
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

oppdatere sidetitler
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Add search placeholder for API in Maskinporten components and localization files
  src/features/amUI/common/ResourceFilterToolbar/ResourceFilterToolbar.tsx
  src/features/amUI/maskinporten/ScopeList.tsx
  src/features/amUI/maskinporten/ScopeSearch.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Har endra tilgang til fullmakt i Be om fullmakt.
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Turn off RouteChangeReporteeViaAltinn2 in AT23 (#2232)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
Due: none

La til to nye tester
  playwright/e2eTests/altinn3/Tilgangsstyring/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

fjernet ubrukte parametere
  playwright/e2eTests/altinn3/Tilgangsstyring/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

Skjul ikke-delegerbare pakker fra pakkelister #3190 (#2223)
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

New landing page info card
  src/features/amUI/landingPage/LandingPage.module.css
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/landingPage/LandingPageInfoCard.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix: adjust skeleton height in landing page info card
  src/features/amUI/landingPage/LandingPageInfoCard.tsx
Due: yarn prettier --write, yarn lint --fix

qa
  src/features/amUI/landingPage/LandingPage.module.css
Due: yarn prettier --write

fix: update alert link and text in landing page info card
  src/features/amUI/landingPage/LandingPage.module.css
  src/features/amUI/landingPage/LandingPageInfoCard.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Har endra på tekst i inforboksane på brukarsidene.
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Har endra på tekst i inforboksane på brukarsidene. (#2236)
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

New landing page info card (#2235)
  src/features/amUI/landingPage/LandingPage.module.css
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/landingPage/LandingPageInfoCard.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add aria attributes to settings icons
  src/features/amUI/settings/SettingsModal.tsx
  src/features/amUI/settings/SettingsPageContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

set focus to h1 on receipt page on consent request and draft request pages (#2231)
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestHeader.tsx
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

Add hideA2Links feature flag and hide A2 links
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/features/amUI/common/NotAvailableForUserTypeAlert/NotAvailableForUserTypeAlert.tsx
  src/features/amUI/common/OldRolesAlert/OldRolesAlert.tsx
  src/features/amUI/common/PageLayoutWrapper/InfoModal.tsx
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
  src/features/amUI/consent/components/OldConsentAlert/OldConsentAlert.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/global.d.ts
  src/resources/utils/featureFlagUtils.tsx
  src/resources/utils/sidebarConfig.tsx
Due: yarn prettier --write, yarn lint --fix

La til tre tester for hoved- og underenheter (#2224)
  playwright/CLAUDE.md
  playwright/e2eTests/altinn3/Tilgangsstyring/AccessManagement.spec.ts
  playwright/e2eTests/altinn3/Tilgangsstyring/Enkelttjenestedelegering.spec.ts
  playwright/e2eTests/altinn3/Tilgangsstyring/tilgangspakkedelegering.spec.ts
  playwright/e2eTests/altinn3/navigation/headertest.spec.ts
  playwright/pages/AccessManagementFrontPage.ts
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

coderabbit
  src/features/amUI/settings/SettingsPageContent.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update src/localizations/en.json
  src/localizations/en.json
Due: none

enable in dev
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
Due: none

upgrade altinn-components to get toolbar search field aria-label fix
  package.json
  yarn.lock
Due: none

Delete A2 roles from A3 UI (#2212)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Role.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IRoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RoleClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RoleClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RoleControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/RoleController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/DelegationModal/Role/RoleInfo.module.css
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/DelegationModal/Role/RoleStatusMessages.tsx
  src/features/amUI/common/DeletePoaConfirmation/DeletePoaConfirmation.module.css
  src/features/amUI/common/DeletePoaConfirmation/DeletePoaConfirmation.tsx
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.ts
  src/features/amUI/common/RoleList/RoleDeleteButton.tsx
  src/features/amUI/common/RoleList/RoleList.tsx
  src/features/amUI/common/RoleList/RoleListItem.tsx
  src/features/amUI/common/RoleList/roleSection.module.css
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraphs.tsx
  src/features/amUI/common/useInheritedStatus.ts
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/featureFlagUtils.tsx
  src/rtk/features/roleApi.ts
Due: yarn prettier --write, yarn lint --fix

upgrade altinn-components to get toolbar search field aria-label fix (#2239)
  package.json
  yarn.lock
Due: none

qa
  src/features/amUI/maskinporten/ConsumersTab.tsx
  src/features/amUI/maskinporten/MaskinportenInfoPopover.tsx
  src/features/amUI/maskinporten/SuppliersTab.tsx
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

merge conflict
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
Due: none

Fix/maskinporten GUI justeringer (#2226)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  src/features/amUI/common/Breadcrumbs/Breadcrumbs.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/ResourceFilterToolbar/ResourceFilterToolbar.tsx
  src/features/amUI/maskinporten/AddSupplierButton.tsx
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/ConsumersTab.tsx
  src/features/amUI/maskinporten/DelegatedResourcesSection.tsx
  src/features/amUI/maskinporten/MaskinportenInfoPopover.module.css
  src/features/amUI/maskinporten/MaskinportenInfoPopover.tsx
  src/features/amUI/maskinporten/MaskinportenPage.module.css
  src/features/amUI/maskinporten/ScopeList.module.css
  src/features/amUI/maskinporten/ScopeList.tsx
  src/features/amUI/maskinporten/ScopeSearch.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/maskinporten/SuppliersTab.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update altinn-components to get recent bugfixes
  package.json
  yarn.lock
Due: none

Update altinn-components to get recent bugfixes (#2240)
  package.json
  yarn.lock
Due: none

change standalone ListItem and UserListItem element type to div
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserSkeleton.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/landingPage/LandingPage.tsx
Due: yarn prettier --write, yarn lint --fix

add helper function to get date of birth label (and avoid rendering undefined)
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
  src/features/amUI/clientDetails/ClientDetailsAgentsList.tsx
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/landingPage/LandingPage.tsx
  src/resources/utils/reporteeUtils.ts
Due: yarn prettier --write, yarn lint --fix

synkroniseringsglipp
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
Due: yarn prettier --write, yarn lint --fix

Leave roles tab unchanged
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/features/amUI/common/OldRolesAlert/OldRolesAlert.tsx
  src/features/amUI/common/PageLayoutWrapper/InfoModal.tsx
  src/resources/utils/sidebarConfig.tsx
Due: yarn prettier --write, yarn lint --fix
