Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

handle resources that only give access through packages
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponseV0/a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Fix/more null (#1939)
  src/features/amUI/common/DelegationModal/Role/RoleStatusMessages.tsx
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.ts
  src/features/amUI/common/RoleList/useGroupedRoleListEntries.ts
Due: yarn prettier --write, yarn lint --fix

fixed error and reset mock
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponseV0/a3-app.json
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

fix: resolve merge conflict in UserRoles component
  src/features/amUI/common/UserRoles/UserRoles.tsx
Due: yarn prettier --write, yarn lint --fix

qa
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientDetails.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Support agentAddedAt and highlight new agents (#1918)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ClientDelegation/AgentDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/clientsAccessPackages.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/clientsAccessPackages.json
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientDetails.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/useFilteredUsers.test.ts
  src/features/amUI/common/UserList/useFilteredUsers.ts
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/features/amUI/common/UserListItems/UserListItems.tsx
  src/features/amUI/common/isNewUser.ts
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/clientApi.ts
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

new return model on delegationCheck
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/ResourceAction.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/ResourceCheckDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/RuleCheck.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/ClientUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_potato-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_terje-sin-test-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-509.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-510.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/jks-test-resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/ske-innrapportering-boligsameie.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Utils/Util.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationCheck/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

delegation now works
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  src/features/amUI/common/DelegationModal/SingleRights/ResourceSearch.module.css
  src/resources/hooks/useDelegateRights.tsx
Due: yarn prettier --write, yarn lint --fix

Handle resources that are only available through access packages (#1940)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

formatDisplayName of agent shown in snackbar
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
Due: yarn prettier --write, yarn lint --fix

formatDisplayName of agent shown in snackbar (#1942)
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
Due: yarn prettier --write, yarn lint --fix

Add klient-delegation handeling to the deleteUserModal
  .mock/handlers/user.ts
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.module.css
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.stories.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.test.ts
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Flyttet EnduserConnections-spørringer til egen fil
  playwright/api-requests/ApiRequests.tsx
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
  playwright/e2eTests/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

change check for whether guardianship tab should be shown
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
Due: yarn prettier --write, yarn lint --fix

add new texts for landing page alert for private individuals + fix some nn texts
  src/features/amUI/landingPage/LandingPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Improve empty state texts on client admin pages
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientDetails.tsx
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/UserListItems/UserListItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update no_nn.json
  src/localizations/no_nn.json
Due: none

lagde basic setuptest
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
  playwright/e2eTests/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

Fix empty access text condition in ClientAccessList component
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
Due: yarn prettier --write, yarn lint --fix

Add empty state text styles and update localization for search results
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write

rename
  src/features/amUI/agentDetails/AgentDetails.tsx
  src/features/amUI/agentDetails/AgentDetailsClientsList.tsx
  src/features/amUI/agentDetails/AgentDetailsDeleteModal.tsx
  src/features/amUI/agentDetails/AgentDetailsPage.tsx
  src/features/amUI/agentDetails/AgentDetailsTabs.tsx
  src/features/amUI/agentDetails/useAgentDetailsAccessClientLists.ts
  src/features/amUI/agentDetails/useAgentDetailsAccessPackageActions.ts
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/clientDetails/ClientDetailsAgentsList.tsx
  src/features/amUI/clientDetails/ClientDetailsPage.tsx
  src/features/amUI/clientDetails/ClientDetailsTabs.tsx
  src/features/amUI/clientDetails/useClientDetailsAccessAgentLists.ts
  src/features/amUI/clientDetails/useClientDetailsAccessPackageActions.ts
  src/routes/Router/Router.tsx
Due: yarn prettier --write, yarn lint --fix

yarn
  .mock/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Fix/update texts client admin pages (#1946)
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientAgentsList.tsx
  src/features/amUI/clientAdministrationClientDetails/ClientAdministrationClientDetails.tsx
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/features/amUI/common/UserListItems/UserListItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix broken PEP integration after update
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/MockPDP.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/PdpPermitMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Authorization/EndUserResourceAccessHandler.cs
Due: none

remove big green button from users page
  src/features/amUI/common/UserList/UserList.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

fix
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

fix2
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

displaying delegations works
  .mock/handlers/role.ts
  .mock/handlers/user.ts
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessPackage/Permission.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Entity.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Role.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/ResourceRight.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/jks-test-resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/app_ttd_a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/jks-test-resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/ske-innrapportering-boligsameie.json
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/resources/utils/sidebarConfig.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

fix
  src/localizations/en.json
  src/localizations/no_nn.json
Due: none

increase width of searchfield to show whole placeholder text
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
Due: yarn prettier --write

replace local search fields with DebouncedSearchField
  src/features/amUI/common/DebouncedSearchField/DebouncedSearchField.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
Due: yarn prettier --write, yarn lint --fix

change check for whether guardianship tab should be shown (#1944)
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
Due: yarn prettier --write, yarn lint --fix

update empty list text
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

fix
  src/localizations/en.json
Due: none

update text based on change in other issue
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

UX qa
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.module.css
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.stories.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.test.ts
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update text shown when user has no poa for others (#1953)
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
