Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Update README.md
  README.md
Due: none

removed old references
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerIntegationtest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ResourceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn3.ruleset
Due: none

add inherit secret in CI
  .github/workflows/continuous-integration-backend.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-rollback.yml
Due: none

features/818 (#824)
  .github/workflows/continuous-integration-backend.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-rollback.yml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerIntegationtest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ResourceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn3.ruleset
Due: none

Fixed API-delegation failing tests in github actions
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
Due: yarn prettier --write, yarn lint --fix

Before trying to fix ActionBarHeader
  src/components/ActionBar/ActionBarHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Before fixing action bar tests after revisioned ActionBar
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/ActionBar/ActionBarHeader.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

switched to new endpoint for fetching reportee
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/LookupClient.cs
Due: none

fix all build issues
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AuthenticationControllerTest.cs
Due: none

add skip test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AuthenticationControllerTest.cs
Due: none

Fixed API-delegation failing test cases in github action
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
Due: yarn prettier --write, yarn lint --fix

Fix ActionBar
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBarHeader.tsx
Due: yarn prettier --write, yarn lint --fix

clear access cache after delegations have returned
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/BaseAttribute.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/dataObjects/dtos/BaseAttribute.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Fix ActionBar
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBarHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Fix ActionBar hierarchi problem
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBarHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Cleanup css
  src/components/CompactDeletableListItem/CompactDeletableListItem.module.css
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.module.css
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
Due: yarn prettier --write

Add icon size util
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/components/Filter/Filter.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/resources/utils/iconUtils.tsx
  src/resources/utils/index.ts
Due: yarn prettier --write, yarn lint --fix

code cleanup
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

Update README.md (#803)
  README.md
Due: none

Add ref back
  src/components/ActionBar/ActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Update src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Update src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

PR fixes
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Fixed API-delegation failing test cases in github action (#839)
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
Due: yarn prettier --write, yarn lint --fix

typos and name changes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Clear Access Cache for recipient after new single right access delegation(s) (#842)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/BaseAttribute.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/dataObjects/dtos/BaseAttribute.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Make cancel button redirect
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Add RestartPrompter
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

revert change
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Make cancel button redirect (#850)
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Correct the nynorsk translation
  src/localizations/no_nn.json
Due: none

additional corrections
  src/localizations/no_nn.json
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
