Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

Allow for choice of multiple service owners in the resourceFilterToolbar
  src/features/amUI/common/ResourceFilterToolbar/ResourceFilterToolbar.tsx
  src/features/amUI/common/ResourceList/ResourceList.module.css
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/ResourceList/useFilteredResources.ts
Due: yarn prettier --write, yarn lint --fix

use ds sizing
  src/features/amUI/common/ResourceList/ResourceList.module.css
Due: yarn prettier --write

Allow for choice of multiple service owners in the resourceFilterToolbar (#1822)
  src/features/amUI/common/ResourceFilterToolbar/ResourceFilterToolbar.tsx
  src/features/amUI/common/ResourceList/ResourceList.module.css
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/ResourceList/useFilteredResources.ts
Due: yarn prettier --write, yarn lint --fix

Made delegation cleanup CSV-driven and fixed tests after GUI changes (#1821)
  .mock/mockServiceWorker.js
  package.json
  playwright-report/index.html
  playwright/api-requests/Token.tsx
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/config/.env.at23
  playwright/config/.env.tt02
  playwright/e2eTests/accessPackageDelegation/accessPackageDirectdelegatation.spec.ts
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/testdata/accesspkgdelegation/cleanup-data.csv
  playwright/e2eTests/testdata/accesspkgdelegation/test-person.csv
  playwright/fixture/pomFixture.ts
  playwright/pages/LoginPage.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
  playwright/playwright.config.ts
  playwright/util/asyncUtils.ts
  playwright/util/cleanup-delegationutils.ts
  playwright/util/cleanupDelegation-helper.ts
  playwright/util/delegationApiUtil.ts
  playwright/util/testDelegationdatautil.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

legg til alle klienter v1
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

add customers in batches of 5 (except first batch which is always 1)
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Added testdata for tt02 in csv file and fixed failing test
  playwright/e2eTests/accessPackageDelegation/accessPackageDirectdelegatation.spec.ts
  playwright/e2eTests/testdata/accesspkgdelegation/at23/cleanup-data.csv
  playwright/e2eTests/testdata/accesspkgdelegation/at23/test-person.csv
  playwright/e2eTests/testdata/accesspkgdelegation/tt02/cleanup-data.csv
  playwright/e2eTests/testdata/accesspkgdelegation/tt02/test-person.csv
  playwright/pages/LoginPage.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
  playwright/util/cleanup-delegationutils.ts
  playwright/util/cleanupDelegation-helper.ts
  playwright/util/testDelegationdatautil.ts
Due: yarn prettier --write, yarn lint --fix

Added testdata for tt02 in csv file and fixed failing test (#1824)
  playwright/e2eTests/accessPackageDelegation/accessPackageDirectdelegatation.spec.ts
  playwright/e2eTests/testdata/accesspkgdelegation/at23/cleanup-data.csv
  playwright/e2eTests/testdata/accesspkgdelegation/at23/test-person.csv
  playwright/e2eTests/testdata/accesspkgdelegation/tt02/cleanup-data.csv
  playwright/e2eTests/testdata/accesspkgdelegation/tt02/test-person.csv
  playwright/pages/LoginPage.ts
  playwright/pages/profile/accessPkgDelegationPage.ts
  playwright/playwright.config.ts
  playwright/util/cleanup-delegationutils.ts
  playwright/util/cleanupDelegation-helper.ts
  playwright/util/testDelegationdatautil.ts
Due: yarn prettier --write, yarn lint --fix

fix some issues related to designsystemet upgrade
  src/components/ActionBar/ActionBarHeader.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.module.css
Due: yarn prettier --write, yarn lint --fix

replace size prop 'xl' with 'lg'
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserSkeleton.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/systemUser/components/RightsList/ResourceDetails.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

refactor add all
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/AddAllCustomers.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

move add all customers buttom
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

remove unused props
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

remove test code
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

add translations
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/AddAllCustomers.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

add feature toggle for add all customers
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/global.d.ts
  src/resources/utils/featureFlagUtils.tsx
Due: yarn prettier --write, yarn lint --fix

Set up BFF and client api for ClientAdmin
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ClientDelegation/AssignmentDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ClientDelegation/ClientDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ClientClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/app/store.ts
  src/rtk/features/clientApi.ts
Due: yarn prettier --write, yarn lint --fix

upgrade altinn-components
  package.json
  yarn.lock
Due: none

move selector based on coderabbit comment
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
Due: yarn prettier --write

Refactor NewUserModal to integrate organization and person
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewPersonContent.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

Add tabs and agent management functionality to Client Administration page
  src/features/amUI/clientAdministration/ClientAdministrationPage.tsx
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ClientAdministrationPage to simplify structure and integrate ClientAdministrationPageContent
  src/features/amUI/clientAdministration/ClientAdministrationPage.tsx
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
Due: yarn prettier --write, yarn lint --fix

Enhance ClientAdministrationPageContent with agent delegation and indirect connections support
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

change escalate logic: user must first try to approve request before given the choice to escalate it
  src/features/amUI/systemUser/SystemUserAgentRequestPage.tsx
  src/features/amUI/systemUser/SystemUserChangeRequestPage.tsx
  src/features/amUI/systemUser/SystemUserRequestPage.tsx
  src/features/amUI/systemUser/components/EscalateRequest/EscalateRequest.tsx
  src/features/amUI/systemUser/requestUtils.ts
  src/features/amUI/systemUser/urlUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix too much copy-paste
  src/features/amUI/systemUser/SystemUserAgentRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ClientDelegationClient to improve error handling and response processing in AddAgent method
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
Due: none

Refactor client delegation methods to return lists instead of paginated results and introduce AgentDelegation model
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ClientDelegation/AgentDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ClientClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
  src/dataObjects/dtos/Common.tsx
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
  src/rtk/features/clientApi.ts
Due: yarn prettier --write, yarn lint --fix

Add mock data for client and agent delegations, and update ClientClientMock to load data from JSON files
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/clients.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ClientClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/clients.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

rabbit QA
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ClientControllerTest to use a centralized HttpClient setup and improve test readability
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
Due: none

fix test setup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

Refactor ClientService and related interfaces to remove unused methods and improve error handling
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
Due: none

lint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ClientService.cs
Due: none

Refactor ClientService to remove unused logger dependency and clean up ClientClientMock by removing unnecessary methods; improve error handling in NewOrgContent and NewPersonContent components.
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ClientService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ClientClientMock.cs
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewPersonContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor AddAgentModal and NewPersonContent components to improve error handling and enforce required addPerson prop
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ClientClientMock.cs
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
  src/features/amUI/users/NewUserModal/NewPersonContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor AddAgentModal to improve translation handling and ensure modal closes after adding an agent
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
Due: yarn prettier --write, yarn lint --fix

show escalated systemuser requests on requests page
  src/features/amUI/requestPage/RequestPage.module.css
  src/features/amUI/requestPage/RequestsPage.tsx
  src/features/amUI/requestPage/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useRequests.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ClientAdministrationAgentsTab and AdvancedUserSearch to filter indirect connections and add search placeholder; update localization files for agent search placeholder
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Oppgrader altinn-components til pakke med designsystemet v19 + relaterte endringer (#1826)
  package.json
  src/components/ActionBar/ActionBarHeader.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserSkeleton.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.module.css
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.module.css
  src/features/amUI/systemUser/components/RightsList/ResourceDetails.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix
