Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

Update backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
Due: none

Update src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
Due: yarn prettier --write

Update src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Made changes in API-delegering to address the failures (#916)
  .github/workflows/playwright.yml
  .yarn/releases/yarn-4.2.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  cypress/package.json
  cypress/pageObjects/profile3/APIadministration.js
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
  package.json
  playwright/package.json
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Add role='alert' to warnings
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.module.css
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/singleRight/components/RecipientErrorAlert/RecipientErrorAlert.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

Fix import error
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.tsx
Due: yarn prettier --write, yarn lint --fix

add status message to add org
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

Add status message to api page
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add useDocumentTitle hook for setting document title
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/pageUtils.tsx
Due: yarn prettier --write, yarn lint --fix

Update page title for received API-accesses
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update document titles for API delegation and single rights pages
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add visible live region to users that there vas no search-results from the query
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update search result messages in localization files
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

feat: Add status message for search organization not found
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

Added helper methods for single right delegations in playwright and made changes in cypress tests
  cypress/pageObjects/profile3/APIadministration.js
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
  playwright/README.md
  playwright/config/.env.at21
  playwright/config/.env.at22
  playwright/config/.env.at23
  playwright/config/.env.at24
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/jsonReports/jsonReport.json
  playwright/package.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/delegationPage.ts
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Merge conflicts resolved
  .github/workflows/playwright.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
Due: none

Update backend/src/Altinn.AccessManagement.UI/Dockerfile
  backend/src/Altinn.AccessManagement.UI/Dockerfile
Due: none

Update cypress/package.json
  cypress/package.json
Due: none

Update package.json
  package.json
Due: none

made changes to controller structure
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ILookupService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/LookupService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/MaskinportenSchemaControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerIntegationtest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ProfileControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/LookupController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ProfileController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/apiDelegation/delegationRequest/delegationRequestSlice.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/resourceApi.ts
  src/rtk/features/singleRights/singleRightsApi.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

Add unstyledList class to Common.module.css and use it in ChooseOrgPage components
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/resources/css/Common.module.css
Due: yarn prettier --write, yarn lint --fix

Update search result messages in localization files
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

chore: Update ChooseApiPage to use isLoading instead of isFetching
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
Due: yarn prettier --write, yarn lint --fix

rename useDocumentTitle
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/resources/hooks/useDocumentTitle.tsx
Due: yarn prettier --write, yarn lint --fix

Added helper methods for single right delegations in playwright and made changes in cypress tests (#922)
  cypress/pageObjects/profile3/APIadministration.js
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/support/APIadministration.js
  playwright/README.md
  playwright/config/.env.at21
  playwright/config/.env.at22
  playwright/config/.env.at23
  playwright/config/.env.at24
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/jsonReports/jsonReport.json
  playwright/package.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/delegationPage.ts
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Update ActionBar title element to use span instead of paragraph
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Add classnames to ChooseApiPage for styling consistency
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
Due: yarn prettier --write, yarn lint --fix

cleanup in clients. mock clients, mock data and tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ILookupClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/LookupClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-400.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-402.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/nav_aa_distribution.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/DelegationCheck/appid-136.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/DelegationCheck/appid-400.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/DelegationCheck/default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/RevokeOffered/nav_aa_distribution.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/RevokeReceived/nav_aa_distribution.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ResourceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerIntegationtest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/CustomWebApplicationFactory.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeOffered/Input_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeReceived/Input_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/TestDataUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
Due: none

delete unnececcary (duplicated) tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerIntegationtest.cs
Due: none

added test of GetPartyFromReporteeList
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

remove unnessessary code
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

Chore/general/789 live regions (#921)
  src/components/ErrorPanel/ErrorPanel.tsx
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.module.css
  src/components/StatusMessageForScreenReader/StatusMessageForScreenReader.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/components/RecipientErrorAlert/RecipientErrorAlert.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/css/Common.module.css
  src/resources/hooks/useDocumentTitle.tsx
Due: yarn prettier --write, yarn lint --fix

added conditional tests for exception handling and added fix from QA
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  src/rtk/features/resourceApi.ts
Due: yarn prettier --write, yarn lint --fix
