Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Fix: use Europe/Oslo timezone for consent expiration texts + wrap in try-catch (#1516)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

install timezones
  Dockerfile
Due: none

install timezones (#1517)
  Dockerfile
Due: none

handle consent requests without message
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentRight.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org_without_message.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConsentClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConsentControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_org_without_message.json
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/types.ts
Due: yarn prettier --write, yarn lint --fix

fix: if one resource used in consent has isOneTimeConsent: true, the whole consent will be one time consent
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

better check
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

show message for user being unable to create systemuser in Alert component
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.module.css
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.tsx
Due: yarn prettier --write, yarn lint --fix

fix: set escapeValue: false for i18n interpolation
  src/main.jsx
Due: yarn prettier --write, yarn lint --fix

fix class names
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.module.css
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.tsx
Due: yarn prettier --write, yarn lint --fix

Fix: one time consent for consent requests with multiple resources (#1519)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

handle consent requests without message (#1518)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentRight.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org_without_message.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConsentClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConsentControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_org_without_message.json
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/types.ts
Due: yarn prettier --write, yarn lint --fix

Handle multiple access to same package with alert
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.module.css
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.tsx
  src/features/amUI/common/AccessPackageList/RevokeAccessPackageActionControl.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

fix css whitespace value
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.module.css
Due: yarn prettier --write

login isnt flaky any more
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

add tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_21cc8752-4801-490d-a6ab-ab3266a0f748.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/21cc8752-4801-490d-a6ab-ab3266a0f748.json
  src/features/amUI/common/AccessPackageList/RevokeAccessPackageActionControl.tsx
Due: yarn prettier --write, yarn lint --fix

fixed loggin both places, but need to refactor this mess
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

adjusted timeout for client delegation tests
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

fix: set escapeValue: false for i18n interpolation (#1522)
  src/main.jsx
Due: yarn prettier --write, yarn lint --fix

Show message for user being unable to create systemuser in Alert component (#1520)
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.module.css
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.tsx
Due: yarn prettier --write, yarn lint --fix

add special endpoint to get reportee for system user with system user permissions
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Constants/AuthzConstants.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/Frontend/SystemUserReporteeFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/systemUser/CreateSystemUserPage/RightsIncluded.tsx
  src/features/amUI/systemUser/CreateSystemUserPage/SelectRegisteredSystem.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/features/amUI/systemUser/SystemUserAgentRequestPage.tsx
  src/features/amUI/systemUser/SystemUserChangeRequestPage.tsx
  src/features/amUI/systemUser/SystemUserDetailPage/SystemUserDetailsPage.tsx
  src/features/amUI/systemUser/SystemUserRequestPage.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
  src/features/amUI/systemUser/components/CanCreateSystemUser/CanCreateSystemUser.tsx
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

update texts
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_21cc8752-4801-490d-a6ab-ab3266a0f748.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/21cc8752-4801-490d-a6ab-ab3266a0f748.json
Due: none

fux confusing variable name
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
Due: yarn prettier --write, yarn lint --fix

Handle multiple access to same package with alert (#1523)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_21cc8752-4801-490d-a6ab-ab3266a0f748.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/21cc8752-4801-490d-a6ab-ab3266a0f748.json
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.module.css
  src/features/amUI/common/AccessPackageList/PackageIsPartiallyDeletableAlert/PackageIsPartiallyDeletableAlert.tsx
  src/features/amUI/common/AccessPackageList/RevokeAccessPackageActionControl.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

Add proxy to altin-cdn to get org-data and cache it. Use this in the list to show correct logo.
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/OrgData.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AltinnCdnService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAltinnCdnService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AltinnCdn/altinn-orgs.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AltinnCdnClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AltinnCdn/orgData.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/AltinnCdnController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/rtk/app/store.ts
  src/rtk/features/accessPackageApi.ts
  src/rtk/features/altinnCdnApi.ts
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

add AltinnCdn setting to MockSettings and configuration files
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

refactor: update logger type in AltinnCdnClient and fix data path in AltinnCdnClientMock
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AltinnCdnClientMock.cs
  src/rtk/features/altinnCdnApi.ts
Due: yarn prettier --write, yarn lint --fix

fix: correct class name in constructor summary for AltinnCdnService
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AltinnCdnService.cs
Due: none

refactor: simplify AltinnCdnClient constructor by removing unused parameters
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AltinnCdnClient.cs
Due: none

fix tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AltinnCdn/altinn-orgs.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
Due: none

refactor: update AltinnCdnService and mock data to use relative paths and improve test coverage
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AltinnCdnService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AltinnCdn/altinn-orgs.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AltinnCdn/orgData.json
Due: none

refactor: enhance SetupUtils with AltinnCdnController test client setup method
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

reset unrelated files
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor: simplify GetTestClient method by removing unused parameter
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

refactor: update AltinnCdnClient summary and remove unused test methods in AltinnCdnControllerTest
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
Due: none

refactor: remove unnecessary blank lines in AltinnCdnControllerTest
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
Due: none

have to add a delay when typing
  playwright/e2eTests/systemuser/approveSystemUserChangeRequest.spec.ts
  playwright/e2eTests/systemuser/approveSystemUserRequest.spec.ts
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

move useMinimizableResourceList to new file
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/useMinimizableResourceList.ts
Due: yarn prettier --write, yarn lint --fix

refactor: simplify org data retrieval logic in useMinimizableResourceList
  src/features/amUI/common/DelegationModal/AccessPackages/useMinimizableResourceList.ts
Due: yarn prettier --write, yarn lint --fix

Feat/amUI/906-vise-tjenestebilder-i-pakke-modalen (#1526)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/OrgData.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/AltinnCdnService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAltinnCdnService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AltinnCdnClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AltinnCdn/altinn-orgs.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AltinnCdnClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AltinnCdnControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AltinnCdn/orgData.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/AltinnCdnController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/useMinimizableResourceList.ts
  src/rtk/app/store.ts
  src/rtk/features/accessPackageApi.ts
  src/rtk/features/altinnCdnApi.ts
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
