Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

Refactor spacing in ActionBar.stories.tsx and remove unnecessary prop
  src/components/ActionBar/ActionBar.stories.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.module.css
Due: yarn prettier --write, yarn lint --fix

delegation-modal
  .mock/handlers.js
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.stories.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Refactor spacing in Dialog.stories.tsx and fix modal onClose
  src/components/Dialog/Dialog.stories.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

made hooks for delegation and revoke rights
  .mock/mockServiceWorker.js
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeReceivedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/resources/hooks/useDelegateRights.tsx
  src/resources/hooks/useRevokeRights.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

testing if the error is the newest node version
  .github/workflows/template-build-and-test-frontend.yml
Due: none

update changed ds-props
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceAlert.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/sites/ErrorPage/ErrorPage.tsx
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
Due: yarn prettier --write, yarn lint --fix

downgrade es-lint
  package.json
  yarn.lock
Due: none

downgrade es-lint (#1120)
  package.json
  yarn.lock
Due: none

fix typescript errors + rebuild yarn.lock file
  .mock/mockServiceWorker.js
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceAlert.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

testing if the error is the newest node version (#1119)
  .github/workflows/template-build-and-test-frontend.yml
Due: none

Update singleRightsSlice.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

fix typescript errors + rebuild yarn.lock file (#1121)
  .mock/mockServiceWorker.js
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceAlert.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

use node:18-alpine in dockerfile
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.5.0.cjs
  Dockerfile
Due: none

use node:18-alpine in dockerfile (#1122)
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.5.0.cjs
  Dockerfile
Due: none

node:20-alpine in dockerfile
  Dockerfile
Due: none

test 22-slim
  Dockerfile
Due: none

Update node in dockerfile (#1124)
  Dockerfile
Due: none

heading size & overviewPage story update
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.stories.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

add manual spacing
  src/components/ActionBar/ActionBarContent.module.css
  src/components/RestartPrompter/RestartPrompter.module.css
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.module.css
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.module.css
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.module.css
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.module.css
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

remove console.log
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

Update CSS for users list heading and action bar content headings
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.module.css
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ChooseOrgPage component and CSS
  .mock/handlers.js
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.stories.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix margins in confirmation-page
  src/components/BorderedList/BorderedListItem/BorderedListItem.module.css
  src/components/CompactDeletableListItem/CompactDeletableListItem.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.stories.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

new revoke endpoint and hook based on backends new endpoints
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/Frontend/RightsUpdate.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/EditModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/resources/hooks/useEditResource.tsx
  src/resources/hooks/useRevokeResource.tsx
  src/resources/hooks/useRevokeRights.tsx
  src/resources/utils/index.ts
  src/resources/utils/urnUtils.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

fix margins for users list heading and action bar content headings
  src/components/ActionBar/ActionBarHeader.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.stories.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

remove story
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor mockServiceWorker.js and ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
Due: yarn prettier --write

added use of new endpoints for edit functionality
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-502/read.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-502/write.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/userRightsPage/DelegationModal/EditModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/EditModal.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/users/UsersList.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useEditResource.tsx
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Handle cases where not all actions can be delegated & add test cases to storybook
  .mock/handlers.js
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update rightDescription texts
  .mock/handlers.js
Due: yarn prettier --write, yarn lint --fix

fixed and added tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-503/sign.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetDelegations/delegations.json
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/localizations/en.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Update src/localizations/en.json
  src/localizations/en.json
Due: none

Update src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
Due: yarn prettier --write, yarn lint --fix

added final tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

Use ErrorCode enum & rename warn-messages
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/errorCodeUtils.ts
Due: yarn prettier --write, yarn lint --fix

moved back button up
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

Fix code scanning alert no. 36: Log entries created from user input
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
Due: none

fixed warnings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

add sb test-data
  .mock/handlers.js
Due: yarn prettier --write, yarn lint --fix
