Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

fix: Add support for person account type + show skeleton menu when loading user (#1616)
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
Due: yarn prettier --write, yarn lint --fix

switch to Azure CLI Login / OICD to avoid having to manually update s… (#1614)
  .github/workflows/template-playwright.yml
Due: none

fix merge
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
Due: yarn prettier --write, yarn lint --fix

fix merge
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

fix color
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.module.css
Due: yarn prettier --write

Replace AZURE_CLIENT_ID with AZCOPY_SPA_APPLICATION_ID
  .github/workflows/template-playwright.yml
Due: none

fix OIDC secrets reference stuffy
  .github/workflows/template-playwright.yml
Due: none

fix oidc stuffy
  .github/workflows/template-playwright.yml
Due: none

Update template-playwright.yml
  .github/workflows/template-playwright.yml
Due: none

supporting different languages
  playwright/api-requests/ConsentApiRequests.tsx
  playwright/e2eTests/consent/consent.spec.ts
  playwright/e2eTests/consent/consentEnglish.spec.ts
  playwright/e2eTests/consent/consentTemplateDictionary.ts
  playwright/fixture/pomFixture.ts
  playwright/helpers/testHelper.ts
  playwright/pages/consent/ConsentPage.ts
  playwright/util/helper.ts
Due: yarn prettier --write, yarn lint --fix

chores: fix OIDC stuffy (#1620)
  .github/workflows/template-playwright.yml
Due: none

Refactor user search and delegation components for improved query handling and loading states
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/AdvancedUserSearch/ConnectionsList.tsx
  src/features/amUI/common/DelegationCheck/AccessPackageDelegationCheckContext.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/common/UserList/useFilteredUsers.ts
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
Due: yarn prettier --write, yarn lint --fix

mobile styling fixes
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.module.css
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

Chore: add feature toggle for consent GUI (#1617)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/global.d.ts
Due: yarn prettier --write, yarn lint --fix

chore: clean up code from consent request (#1618)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Constants/ConsentProblem.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/EnrichedConsentTemplate.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ConsentRequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org_without_message.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_person.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConsentControllerTest.cs
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.module.css
  src/features/amUI/consent/components/ConsentStatus/ConsentStatus.tsx
  src/features/amUI/consent/types.ts
  src/features/amUI/consent/utils.ts
Due: yarn prettier --write, yarn lint --fix

better mobile styling
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.module.css
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
Due: yarn prettier --write, yarn lint --fix

check if user has rights to see agreements if reportee is an organization
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

forgot file
  src/features/amUI/consent/utils.ts
Due: yarn prettier --write, yarn lint --fix

use consts for path
  src/features/amUI/consent/ConsentHistoryPage/ConsentHistoryPage.tsx
Due: yarn prettier --write, yarn lint --fix

type fix
  src/features/amUI/consent/utils.ts
Due: yarn prettier --write, yarn lint --fix

add skeleton for badge
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
Due: yarn prettier --write, yarn lint --fix

memoize active grouped consents
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Added API endpoints for delegating access pacakage to run every test isolated
  playwright/api-requests/Token.tsx
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/accesspkgdelegation/accesspkgDirectdelegatation.spec.ts
  playwright/util/delegationApiUtil.ts
Due: yarn prettier --write, yarn lint --fix

removed space after backslash so arguments are properly used for azure client
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

Added API endpoints for delegating access pacakage to run every test isolated (#1621)
  playwright/api-requests/Token.tsx
  playwright/api-requests/delegation-tilgangspakke/delegationApiRequest.ts
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/accesspkgdelegation/accesspkgDirectdelegatation.spec.ts
  playwright/util/delegationApiUtil.ts
Due: yarn prettier --write, yarn lint --fix

invalidate consentLog when consent is revokes
  src/rtk/features/consentApi.ts
Due: yarn prettier --write, yarn lint --fix

minor whitespace fix
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

use button loading prop instead of adding spinner to button
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

stuffy
  .github/workflows/template-playwright.yml
Due: none

stuffy (#1623)
  .github/workflows/template-playwright.yml
Due: none

Add UsersTab component and refactor PackagePoaDetails for improved user management
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/common/UserList/useFilteredUsers.ts
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/features/amUI/packagePoaDetailsPage/usePackagePermissionConnections.ts
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Refactor CSS gap variable and clean up unused code in AdvancedUserSearch and UserList components
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.stories.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/features/amUI/packagePoaDetailsPage/usePackagePermissionConnections.ts
Due: yarn prettier --write, yarn lint --fix

Refactor AdvancedUserSearch and UserList components for improved state management and styling consistency
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.stories.tsx
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/AdvancedUserSearch/ConnectionsList.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor AdvancedUserSearch and ConnectionsList components to use ExtendedUser type for improved type safety
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/common/AdvancedUserSearch/ConnectionsList.tsx
  src/features/amUI/common/UserList/UserList.tsx
Due: yarn prettier --write, yarn lint --fix

dont run the slow playwrighttests as part of deploy
  .github/workflows/template-playwright.yml
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

scheduled run for slow tests
  .github/workflows/scheduled-slow-playwright-tests.yml
Due: none

show pending consents in UI
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ActiveConsentItemFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

config spaces
  playwright/config/.env.at24
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/idPortenLogin.spec.ts
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
