Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Fix empty delete user modal in cases "only A2 role" and "via party" (#2368)
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.stories.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModalContent.tsx
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.test.ts
  src/features/amUI/common/DeleteUserModal/deletionModalUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

removed unused code and added comment
  src/features/amUI/common/AmTabs/AmTabs.module.css
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/requestPage/RequestPage.module.css
Due: yarn prettier --write

no margin on button when wrapped
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
Due: yarn prettier --write

rabbit qa
  src/features/amUI/common/AmTabs/AmTabs.test.tsx
Due: yarn prettier --write, yarn lint --fix

add missing file
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
Due: none

Snackbar + aria label on poa-page
  src/features/amUI/common/AccessPackageList/DelegateAccessPackageActionControl.tsx
  src/features/amUI/common/AccessPackageList/RevokeAccessPackageActionControl.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Make tabs mobile friendly (#2369)
  src/features/amUI/agentDetails/AgentDetailsTabs.tsx
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.module.css
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
  src/features/amUI/clientDetails/ClientDetailsTabs.tsx
  src/features/amUI/common/AmTabs/AmTabs.module.css
  src/features/amUI/common/AmTabs/AmTabs.stories.tsx
  src/features/amUI/common/AmTabs/AmTabs.test.tsx
  src/features/amUI/common/AmTabs/AmTabs.tsx
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.module.css
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/requestPage/RequestPage.module.css
  src/features/amUI/requestPage/RequestsPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

cleanup
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

clean
  .storybook/preview-head.html
Due: none

Fix flaky tests by awaiting the Users page to show up when navigating to the Users page
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

Refactor snackbar handling in AccessPackage actions and update localization keys
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor snackbar aria labels and localization keys in access package action controls
  src/features/amUI/common/AccessPackageList/DelegateAccessPackageActionControl.tsx
  src/features/amUI/common/AccessPackageList/RevokeAccessPackageActionControl.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Fix flaky tests by awaiting the Users page to show up when navigating to the Users page (#2374)
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
Due: yarn prettier --write, yarn lint --fix

update delete endpoint to use clientid instead of delegationid
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

fix: change size of poaDetails header + hide icon on small screens
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.module.css
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.tsx
Due: yarn prettier --write, yarn lint --fix

fix poaDetailsHeader skeleton styling
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeaderSkeleton.tsx
Due: yarn prettier --write, yarn lint --fix

fix: change size of poaDetails header + hide icon on small screens (#2375)
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.module.css
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeaderSkeleton.tsx
Due: yarn prettier --write, yarn lint --fix

use common component to display access package details in systemuser RightsList
  src/features/amUI/systemUser/components/RightsList/ResourceDetails.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.module.css
  src/features/amUI/systemUser/components/RightsList/RightsList.test.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

delete dead file + fixes
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.test.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
Due: yarn prettier --write, yarn lint --fix

Minimize text and save more space on mobile
  src/features/amUI/InstanceDetailPage/InstanceDetailPageContent.tsx
  src/features/amUI/common/AmTabs/AmTabs.module.css
  src/features/amUI/common/InstanceDescription/InstanceDescription.module.css
  src/features/amUI/common/InstanceDescription/InstanceDescription.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Snackbar + aria label on poa-page (#2372)
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

QA
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Tekstendringar avtalelogg (samtykke) og feilmeldingar systemtilgang (#2355)
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Add approve all and reject all buttons to request review modal
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.module.css
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.test.ts
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Minimize text and save more space on mobile (#2377)
  src/features/amUI/InstanceDetailPage/InstanceDetailPageContent.tsx
  src/features/amUI/common/AmTabs/AmTabs.module.css
  src/features/amUI/common/InstanceDescription/InstanceDescription.module.css
  src/features/amUI/common/InstanceDescription/InstanceDescription.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

Add chevron on items - always
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.module.css
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

use common component to display access package details in systemuser RightsList (#2376)
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/ResourceDetails.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.module.css
  src/features/amUI/systemUser/components/RightsList/RightsList.test.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add approve all and reject all buttons to request review modal (#2378)
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.module.css
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.test.ts
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove tabs from client admin delegation; use two list sections instead
  src/features/amUI/agentDetails/AgentDetails.tsx
  src/features/amUI/agentDetails/AgentDetailsClientsList.tsx
  src/features/amUI/agentDetails/AgentDetailsTabs.tsx
  src/features/amUI/agentDetails/useAgentDetailsAccessClientLists.ts
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/clientDetails/ClientDetailsTabs.tsx
  src/features/amUI/clientDetails/useClientDetailsAccessAgentLists.ts
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.module.css
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.tsx
  src/features/amUI/common/ClientAdminSearchField/ClientAdminSearchField.module.css
  src/features/amUI/common/ClientAdminSearchField/ClientAdminSearchField.tsx
  src/features/amUI/common/ClientAgentPackageList/ClientAgentPackageList.tsx
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/features/amUI/common/UserListItems/UserListItems.tsx
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove override
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.module.css
Due: yarn prettier --write

css fix
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.module.css
  src/features/amUI/common/UserListItems/UserListItems.module.css
Due: yarn prettier --write

Hide sent requests from private person admins
  src/features/amUI/common/PageLayoutWrapper/useSidebarItems.tsx
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/requestPage/RequestsPage.tsx
  src/resources/utils/permissionUtils.ts
Due: yarn prettier --write, yarn lint --fix

QA changes
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.tsx
  src/features/amUI/common/ClientAdminSearchField/ClientAdminSearchField.module.css
  src/features/amUI/common/UserListItems/UserListItems.tsx
Due: yarn prettier --write, yarn lint --fix

add a section for recently added users
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/common/ClientAdminDetails/ClientAdminDetails.module.css
  src/features/amUI/common/UserListItems/UserListItems.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove dead css
  src/features/amUI/common/UserListItems/UserListItems.module.css
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
