Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Fix linting issues in mockServiceWorker.js
  package.json
  yarn.lock
Due: none

Refactor Avatar story title
  src/features/amUI/common/Avatar/Avatar.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor ChooseRightsPage component
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor heading sizes in ApiActionBar component
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor heading sizes in ReceiptActionBarContent component
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

2xs
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

readme
  README.md
Due: none

remove local script
  .vscode/launch.json
Due: none

formatting
  .eslintrc.cjs
Due: none

cleanup
  package.json
  src/components/Filter/Filter.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

cleanup
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/resources/css/Common.module.css
Due: yarn prettier --write, yarn lint --fix

cleanup
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

trigger delegation modal from service display
  src/components/List/List.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/EditModal.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/EditModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

color: accent
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor List.stories.tsx to remove unused code
  src/features/amUI/common/List/List.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor padding in OptionDisplay.module.css
  src/components/Filter/OptionDisplay.module.css
Due: yarn prettier --write

Refactor padding and add color to ResourceActionBar module
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.stories.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.module.css
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPageStory.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor padding and remove unused imports in ResourceActionBar module
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor color variables in ResourceActionBar and ActionBarSection modules
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.module.css
Due: yarn prettier --write

fix fullwidth buttons on mobile with v.1
  .mock/handlers.js
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.module.css
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.stories.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.module.css
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.module.css
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPageStory.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor imports and component usage in ConfirmationPage.tsx and NavigatonSection.stories.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/singleRight/components/NavigationSection/NavigatonSection.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor imports and component usage in NavigationSection.stories.tsx
  src/features/singleRight/components/NavigationSection/NavigatonSection.stories.tsx
Due: yarn prettier --write, yarn lint --fix

display which resources user already has on delegation
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
Due: yarn prettier --write, yarn lint --fix

Add logo to resource-search & avatar
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourceowners.json
  src/features/amUI/common/Avatar/Avatar.module.css
  src/features/amUI/common/Avatar/Avatar.stories.tsx
  src/features/amUI/common/Avatar/Avatar.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Add caching on resource owners
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/CacheConfig.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/appsettings.test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

Add caching to resource-list
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
Due: none

lint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourceowners.json
Due: none

lint 2
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/CacheConfig.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
Due: none

test fix
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourceowners.json
Due: none

display what rights the user already has
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/Frontend/ResourceDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetDelegations/delegations.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/amUI/common/List/List.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceAlert.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/no_nb.json
  src/resources/utils/arrayUtils.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Remove file icon
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
Due: yarn prettier --write, yarn lint --fix

Remove comment
  src/features/amUI/common/Avatar/Avatar.tsx
Due: yarn prettier --write, yarn lint --fix

Feat/amui/1095 tjenesteeiers logo på tjenester 2 (#1113)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/CacheConfig.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourceowners.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/appsettings.test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/Avatar/Avatar.module.css
  src/features/amUI/common/Avatar/Avatar.stories.tsx
  src/features/amUI/common/Avatar/Avatar.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

attempt fix possible cashing error
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
Due: none

attempt fix possible cashing error (#1114)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
Due: none

update pagination & replace Ingress
  package.json
  src/components/Paginering/AmPaginering.stories.tsx
  src/components/Paginering/AmPaginering.tsx
  src/components/Paginering/index.ts
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/features/amUI/users/UsersList.tsx
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.stories.tsx
  src/features/singleRight/components/SearchSection/SearchSection.module.css
  src/features/singleRight/components/SearchSection/SearchSection.stories.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.stories.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPageStory.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Replace chip.toggle with chip.checkbox and remove chip.group
  .mock/mockServiceWorker.js
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.stories.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.stories.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.stories.tsx
  src/localizations/en.json
Due: yarn prettier --write, yarn lint --fix

add story to test receipt-action-bar
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.stories.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
