Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Agent-systembruker: erstatt "kunde" med "klient" (#2018)
  playwright/pages/systemuser/ClientDelegation.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor delegation logic in useRightsSection to simplify access checks and remove unused variables
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

Display actions you can't give if they are already given
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Add skeleton loading state for ResourceInfo (#2022)
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfoSkeleton.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useHasResourceCheck.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

Display actions you can't give if they are already given (#2025)
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Remove Action and Resource from Right model (#2024)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/RightCheck.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_potato-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/app_ttd_terje-sin-test-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-509.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/appid-510.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/jks-test-resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationCheck/ske-innrapportering-boligsameie.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/app_ttd_a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/jks-test-resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetResourceRights/ske-innrapportering-boligsameie.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationCheck/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetResourceRights/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Enable manual workflow_dispatch trigger
  .github/workflows/deploy-at.yml
Due: none

Fix condition for containerization job to allow manual triggers
  .github/workflows/deploy-at.yml
Due: none

Enable manual workflow_dispatch trigger (#2026)
  .github/workflows/deploy-at.yml
Due: none

text changes from design
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Remove returnToUrlOnError prop and adjust alerts
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/settings/SettingsPage.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.test.tsx
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
Due: yarn prettier --write, yarn lint --fix

use navigate(-1) strategy
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/common/UserList/UserItem.tsx
Due: yarn prettier --write, yarn lint --fix

Byttet fra foreach til promise.all med map
  playwright/api-requests/EnduserConnection.tsx
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

Strammer inn betingelsen for «synkroniserings-glipp»-varsel fra PartyRepresentationContexten. (#2027)
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.test.tsx
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/settings/SettingsPage.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fjernet async fra test.describe
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

Changed name of tab to single services
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

oppdaterte cleanup steg
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

fixed gap
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
Due: yarn prettier --write

Handle rightsMeta errors and display resource id on error
  src/features/amUI/common/DelegationModal/SingleRights/ResourceAlert.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraph.stories.tsx
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraphs.module.css
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraphs.tsx
Due: yarn prettier --write, yarn lint --fix

la til manglende awaits
  playwright/e2eTests/altinn3/accessPackageDelegation/accessPackageDirectdelegatation.spec.ts
Due: yarn prettier --write, yarn lint --fix

fjernet ubrukte imports
  playwright/api-requests/EnduserConnection.tsx
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

update texts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

added button label
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

la til en manglende await
  playwright/pages/AccessManagementFrontPage.ts
Due: yarn prettier --write, yarn lint --fix

fjernet ubrukt kode
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

failec cleanup steg kaster error
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

fikset addPackagePerson
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

legg til endepunkt for å sjekke om egen virksomhet er lagt til systembruker
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserAgentDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserAgentDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserAgentDelegationClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

do not check if own organization is added to system user of user is not admin
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Use the term "Single services" in the services tab (#2029)
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

transformErrorResponse
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
Due: none

show snackbar on add and remove single rights in delegation modal (#2008)
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useResourceListDelegation.ts
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

coderabbit
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserAgentDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserAgentDelegationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

add tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserAgentDelegationClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
Due: none

Add InstanceClientMock and InstanceController with tests for instance delegation
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IInstanceClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/InstanceDelegation/DelegationInstance.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/InstanceDelegation/Frontend/InstanceDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/InstanceDelegation/InstancePermission.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/InstanceDelegation/InstanceRight.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/InstanceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IInstanceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/InstanceClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Instance/DelegationCheck/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Instance/GetInstanceRights/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Instance/GetInstances/instances.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/InstanceClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/InstanceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Instance/DelegationCheck/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Instance/GetInstanceRights/app_ttd_a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Instance/GetInstances/instances.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/InstanceController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT21.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

better loading state for systemuser right list for mobile
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
Due: yarn prettier --write, yarn lint --fix

Add delegation resources routes to InstanceController and corresponding tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/InstanceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/InstanceController.cs
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
