Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

remove modal from chooseServicePage
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Change import
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

code cleanup
  src/components/ProgressModal/ProgressModal.tsx
Due: yarn prettier --write, yarn lint --fix

change jsdoc
  src/components/ProgressModal/ProgressModal.tsx
Due: yarn prettier --write, yarn lint --fix

fixed tests
  package.json
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/Filter/Filter.test.cy.tsx
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.test.cy.tsx
  src/components/index.ts
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

first implementation of ChooseRightsPage
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Change status check
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

removed unused import
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, yarn lint --fix

Update filter with new checkboxes (#510)
  package.json
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/components/Filter/Filter.test.cy.tsx
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.test.cy.tsx
  src/components/Filter/OptionDisplay.tsx
  src/components/NavigationButtons/NavigationButtons.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Update src/components/ProgressModal/ProgressModal.module.css
  src/components/ProgressModal/ProgressModal.module.css
Due: yarn prettier --write

Feat/single rights/456 make progress modal (#500)
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/Dialog/Dialog.test.cy.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogContent.module.css
  src/components/Dialog/DialogContent.tsx
  src/components/Dialog/DialogContext.ts
  src/components/Dialog/index.ts
  src/components/ProgressModal/ProgressModal.module.css
  src/components/ProgressModal/ProgressModal.tsx
  src/components/index.ts
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/main.jsx
  src/routes/Router/Router.tsx
  src/sites/NotFoundSite/NotFoundSite.tsx
Due: yarn prettier --write, yarn lint --fix

implementation of warning color on ActionBars
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsSlice.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Before fixing rendered fewer hooks than expected
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Before fixing rendered fewer hooks than expected
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

remove function working
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

not-checked-by-default
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

not-checked-by-default-2
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

added bff endpoint, mock and tests. Plus updated designsystem deps and a minor visual fix on actionbar
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/DelegationRequestDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/ServiceResource.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-400/from_p50067798/to_810418362/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-400/from_p50067798/to_810418532/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-402/from_p50067798/to_810418362/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-402/from_p50067798/to_810418532/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/nav_aa_distribution/from_p50005545/to_810418672/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resources.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourcesfe.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Utils/Util.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightCotrollerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  package.json
  src/components/ActionBar/ActionBarHeader.module.css
  yarn.lock
Due: yarn prettier --write

Finish ChooseRightsPage
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/OnlyReadAppid505.json
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/errorCodeUtils.ts
  src/rtk/app/store.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

make buttons disabled
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Code cleanup
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

add useMemo
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Code cleanup
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

update fds tokens
  package.json
  yarn.lock
Due: none

remove automatical but redundant additions
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
Due: none

typo
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightCotrollerTest.cs
Due: none

typo again
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightCotrollerTest.cs
Due: none

BFF: Implement delegation endpoint (#517)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/DelegationRequestDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/Frontend/ServiceResourceFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/ResourceRegistry/ServiceResource.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-400/from_p50067798/to_810418362/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-400/from_p50067798/to_810418532/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-402/from_p50067798/to_810418362/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/appid-402/from_p50067798/to_810418532/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/nav_aa_distribution/from_p50005545/to_810418672/ExpectedOutput_Default.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resources.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/resourcesfe.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Utils/Util.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightCotrollerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/CreateDelegation/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  package.json
  src/components/ActionBar/ActionBarHeader.module.css
  yarn.lock
Due: yarn prettier --write

split searchSection out into separate local component
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/SearchSection/SearchSection.module.css
  src/features/singleRight/delegate/ChooseServicePage/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

Separate RightsActionBar from ResourceActionBar
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

added documentation to props
  src/features/singleRight/delegate/ChooseServicePage/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

minor fix
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

PR Code improvement
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Chore: Make ChooseServicePage more readable (#522)
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/SearchSection/SearchSection.module.css
  src/features/singleRight/delegate/ChooseServicePage/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

Separate RightsActionBar from ResourceActionBar (#521)
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Make first ActionBar open
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Fix navigation buttons placement
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
Due: yarn prettier --write

before trying to fix checked chips logic
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Fix navigationButton placement
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Fixed checked states not working
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix
