Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserChangeRequestClientMock.cs
Due: none

switching setup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Configuration/PlatformSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

Refactor UserRoles component to accept additional className prop and spread other props; update styles for improved layout in UserRightsPage.
  package.json
  src/features/amUI/common/UserRoles/UserRoles.tsx
  src/features/amUI/common/UserRoles/userRoles.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DelegatedAreaListItem.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DelegatedPackagesList.tsx
  src/features/amUI/userRightsPage/UserRightsPage.module.css
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Refactor UserRoles component to accept additional className prop and spread other props; update styles for improved layout in UserRightsPage. (#1242)
  package.json
  src/features/amUI/common/UserRoles/UserRoles.tsx
  src/features/amUI/common/UserRoles/userRoles.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DelegatedAreaListItem.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DelegatedPackagesList.tsx
  src/features/amUI/userRightsPage/UserRightsPage.module.css
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

added new mock data with all packages
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/packages.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/PackageSearch.module.css
Due: yarn prettier --write

fixed tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/167536b5-f8ed-4c5a-8f48-0279507e53ae.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/5c0656db-cf51-43a4-bd64-6a91c8caacfb.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/packages.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/167536b5-f8ed-4c5a-8f48-0279507e53ae.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/Search/emptySearch.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/Search/searchString_a.json
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/AccessPackageInfo.tsx
Due: yarn prettier --write, yarn lint --fix

Add more realistick mock data for demo purposes (#1243)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Configuration/PlatformSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/167536b5-f8ed-4c5a-8f48-0279507e53ae.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/5c0656db-cf51-43a4-bd64-6a91c8caacfb.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/packages.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AccessPackageControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/167536b5-f8ed-4c5a-8f48-0279507e53ae.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/Search/emptySearch.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/Search/searchString_a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/AccessPackages/PackageSearch.module.css
Due: yarn prettier --write, yarn lint --fix

fix test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SystemUser/systemUserChangeRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SystemUser/systemUserRequest.json
Due: none

fix expected test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserChangeRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserRequest.json
Due: none

fix expected test data again
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserChangeRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserRequest.json
Due: none

Lagt til pseudokode for neste steg
  playwright/e2eTests/singleRightsDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

first version of frontend code
  src/features/systemUser/SystemUserChangeRequestPage.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/CreateSystemUser.module.css
  src/features/systemUser/SystemUserPage/CreateSystemUser/CreateSystemUser.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/RightsIncluded.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/SelectRegisteredSystem.tsx
  src/features/systemUser/SystemUserPage/SystemUserOverviewPage.module.css
  src/features/systemUser/SystemUserPage/SystemUserOverviewPage.tsx
  src/features/systemUser/SystemUserRequestPage.tsx
  src/features/systemUser/components/ButtonRow/ButtonRow.module.css
  src/features/systemUser/components/ButtonRow/ButtonRow.tsx
  src/features/systemUser/components/DelegationCheckError/DelegationCheckError.module.css
  src/features/systemUser/components/DelegationCheckError/DelegationCheckError.tsx
  src/features/systemUser/components/RequestPageBase/RequestPageBase.module.css
  src/features/systemUser/components/RequestPageBase/RequestPageBase.tsx
  src/features/systemUser/components/RightsList/RightsList.module.css
  src/features/systemUser/components/RightsList/RightsList.tsx
  src/features/systemUser/types.ts
  src/features/systemUser/urlUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/css/Common.module.css
  src/routes/Router/Router.tsx
  src/routes/paths/index.ts
  src/routes/paths/systemUserPath.ts
  src/rtk/app/store.ts
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

added cors origin
  vite.config.ts
Due: yarn prettier --write, yarn lint --fix

added cors origin (#1244)
  vite.config.ts
Due: yarn prettier --write, yarn lint --fix

Enhance cookie security by adding SameSite attribute to XSRF-TOKEN and AltinnPartyUuid cookies
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
Due: none

Enhance cookie security by adding SameSite attribute to XSRF-TOKEN and AltinnPartyUuid cookies (#1245)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
Due: none

Add Role management features
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/EditModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/Role/RoleInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleInfoModal.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/rtk/features/roleApi.ts
Due: yarn prettier --write, yarn lint --fix

update github actions
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
  .github/workflows/template-playwright.yml
Due: none

Add role delegation and revocation functionality with UI components
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IRoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RoleService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessPackageClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/RoleController.cs
  src/features/amUI/userRightsPage/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/userRightsPage/RoleSection/DelegateRoleButton.tsx
  src/features/amUI/userRightsPage/RoleSection/RevokeRoleButton.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
Due: yarn prettier --write, yarn lint --fix

add workflow dispatch for playwright
  .github/workflows/template-playwright.yml
Due: none

uncomment deploy-main and remove trailing comma
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

Test/general/1204 add accessibility test enkelttjenestedelegering (#1246)
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
  .github/workflows/template-playwright.yml
Due: none

restore yarn.lock
  .gitignore
  playwright/config/.env.at22
  playwright/fixture/pomFixture.ts
  playwright/pages/profile/brukerflateDelegtionPage.ts
  playwright/playwright.config.ts
  playwright/uuTests/accessibilityHelpers/delegeringHelper.spec.ts
  playwright/uuTests/accessibilityTests/enkelttjenesteDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

update gh actions
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
Due: none

Add unit tests for role delegation and revocation functionality
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RoleControllerTest.cs
Due: none

WIP frontend part 2
  src/features/systemUser/SystemUserPage/CreateSystemUser/CreateSystemUser.module.css
  src/features/systemUser/SystemUserPage/CreateSystemUser/CreateSystemUser.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/RightsIncluded.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/SelectRegisteredSystem.tsx
  src/features/systemUser/SystemUserPage/SystemUserDetails.module.css
  src/features/systemUser/SystemUserPage/SystemUserDetails.tsx
  src/features/systemUser/SystemUserPage/SystemUserOverviewPage.module.css
  src/features/systemUser/SystemUserPage/SystemUserOverviewPage.tsx
  src/features/systemUser/components/RequestPageBase/RequestPageBase.module.css
  src/features/systemUser/components/RightsList/RightsList.module.css
  src/features/systemUser/components/RightsList/RightsList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/systemUserPath.ts
Due: yarn prettier --write, yarn lint --fix

improvements
  src/features/systemUser/SystemUserPage/CreateSystemUser/CreateSystemUser.module.css
  src/features/systemUser/SystemUserPage/CreateSystemUser/RightsIncluded.tsx
  src/features/systemUser/SystemUserPage/CreateSystemUser/SelectRegisteredSystem.tsx
  src/features/systemUser/SystemUserPage/SystemUserDetails.tsx
Due: yarn prettier --write, yarn lint --fix

fixed issue by no longer pushing resource name through i18next
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Made changes in deploy yml file
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
Due: none

update tests; move variables
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemRegisterControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserRequestControllerTest.cs
Due: none

Test/general/1204 add playwright accessibility tests (#1247)
  .github/workflows/deploy-at.yml
  .github/workflows/deploy-release.yml
  .gitignore
  playwright/config/.env.at22
  playwright/fixture/pomFixture.ts
  playwright/pages/profile/brukerflateDelegtionPage.ts
  playwright/playwright.config.ts
  playwright/uuTests/accessibilityHelpers/delegeringHelper.spec.ts
  playwright/uuTests/accessibilityTests/enkelttjenesteDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

Move controller, service and client for system user request (#1231)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserRequestClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/Frontend/SystemUserRequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/SystemUserRequest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserRequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserRequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserRequestClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SystemUser/systemUserRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemRegisterClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserRequestClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemRegisterControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserRequestControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUsers.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserRequestController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
Due: none

Made changes to run e2e tests in AT24 and UU tests in AT22
  .github/workflows/deploy-at.yml
Due: none

fixed issue by no longer pushing resource name through i18next (#1248)
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Added config file to run accessibility tests separately in AT22 and E2E tests in AT24 (#1249)
  .github/workflows/deploy-at.yml
Due: none

Added package which was missing for running accessibility tests
  package.json
  yarn.lock
Due: none
