Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

fix broken Playwright tests after UI changes (#2394)
  playwright/e2eTests/altinn3/klientadministrasjon/klientadministrasjon.spec.ts
  playwright/pages/profile/accessPackageDelegationPage.ts
  playwright/pages/tilgangsstyring/KlientAdministrasjonPage.ts
Due: yarn prettier --write, yarn lint --fix

ai qa
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Extensions/AppConfigurationExtensions.cs
Due: none

Add handling for Azure App Configuration feature flags in deployment script
  .github/workflows/template-deploy-container.yml
Due: none

nitpick
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RequestService.cs
  src/features/amUI/requestPage/RequestsPage.tsx
  src/features/amUI/requestPage/RequestsTabPanel.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor Azure App Configuration integration and improve feature flag handling
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Configuration/RefreshAppConfigurationHostedServiceTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Extensions/AppConfigurationExtensions.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
Due: none

add tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Request/handledRequestsFilter.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RequestClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RequestControllerTest.cs
Due: none

update tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Request/handledRequestsFilter.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RequestControllerTest.cs
Due: none

simplify translations
  src/features/amUI/requestPage/RequestsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Read feature flags from Azure App Configuration (#2396)
  .github/workflows/template-deploy-container.yml
  README.md
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Configuration/RefreshAppConfigurationHostedServiceTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConnectionControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ResourceControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RoleControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Configuration/RefreshAppConfigurationHostedService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ConnectionController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Extensions/AppConfigurationExtensions.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/global.d.ts
Due: yarn prettier --write, yarn lint --fix

Clarify that feature flags are defined in Terraform first
  README.md
Due: none

Note that terraform deploys require manual per-environment approval
  README.md
Due: none

sonarcloud + nitpick
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RequestService.cs
  src/features/amUI/requestPage/HandledRequestModal/HandledRequestModalContent.tsx
  src/features/amUI/requestPage/HandledRequestModal/useHandledRequests.ts
  src/features/amUI/requestPage/HandledRequestsSection.tsx
  src/features/amUI/requestPage/RequestsTabPanel.tsx
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Clarify feature flag definition process in README
  README.md
Due: none

show error message if loading enriched requests fail
  src/features/amUI/requestPage/HandledRequestModal/HandledRequestModalContent.tsx
  src/features/amUI/requestPage/HandledRequestModal/useHandledRequests.ts
Due: yarn prettier --write, yarn lint --fix

add feature toggle for showing handled requests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/global.d.ts
  src/resources/hooks/useRequests.tsx
Due: yarn prettier --write, yarn lint --fix

updates
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ConsentPartyFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/IdPortenAuthorization/IdPortenAuthorizationFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/IdPortenAuthorizationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IIdPortenAuthorizationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/IdPortenAuthorizationClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/IdPortenAuthorizationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPageContent.tsx
  src/features/amUI/consent/components/IdPortenAutorizationDetails/IdPortenAutorizationDetails.tsx
  src/features/amUI/consent/types.ts
  src/global.d.ts
  src/rtk/features/idPortenAuthorizationApi.ts
Due: yarn prettier --write, yarn lint --fix

Clarify that feature flags are defined in Terraform (#2399)
  README.md
Due: none

fixes after testing
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/IdPortenAuthorizationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/IdPortenAuthorizationClient.cs
  src/features/amUI/consent/components/IdPortenAutorizationDetails/IdPortenAutorizationDetails.tsx
Due: yarn prettier --write, yarn lint --fix

wrap only listitems in request lists
  src/features/amUI/requestPage/RequestsTabPanel.tsx
  src/features/amUI/requestPage/SentRequestsTabPanel.tsx
Due: yarn prettier --write, yarn lint --fix

Vise behandlede forespørsler (#2397)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Request/Frontend/RequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Request/RequestDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/RequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Request/handledRequestsFilter.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RequestClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RequestControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/agentDetails/AgentDetails.tsx
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/common/CollapsibleContainer/CollapsibleContainer.module.css
  src/features/amUI/common/CollapsibleContainer/CollapsibleContainer.tsx
  src/features/amUI/requestPage/HandledRequestModal/HandledRequestModal.tsx
  src/features/amUI/requestPage/HandledRequestModal/HandledRequestModalContent.tsx
  src/features/amUI/requestPage/HandledRequestModal/useHandledRequests.ts
  src/features/amUI/requestPage/HandledRequestsSection.tsx
  src/features/amUI/requestPage/RequestPage.module.css
  src/features/amUI/requestPage/RequestReviewModal/ProcessedStatusInfo.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestPackageDetail.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestResourceDetail.tsx
  src/features/amUI/requestPage/RequestsPage.tsx
  src/features/amUI/requestPage/RequestsTabPanel.tsx
  src/features/amUI/requestPage/SentRequestsTabPanel.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useRequests.tsx
  src/rtk/features/requestApi.ts
Due: yarn prettier --write, yarn lint --fix

fix empty error
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

fix typo in filename
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/components/IdPortenAuthorizationDetails/IdPortenAuthorizationDetails.tsx
  src/features/amUI/consent/components/IdPortenAuthorizationDetails/IdPortenAutorizationDetails.module.css
Due: yarn prettier --write, yarn lint --fix

rename 2
  src/features/amUI/consent/components/IdPortenAuthorizationDetails/IdPortenAuthorizationDetails.module.css
Due: yarn prettier --write

QA fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/IdPortenAuthorizationService.cs
  src/features/amUI/consent/components/IdPortenAuthorizationDetails/IdPortenAuthorizationDetails.tsx
  src/rtk/features/idPortenAuthorizationApi.ts
Due: yarn prettier --write, yarn lint --fix

sonarcloud
  src/features/amUI/consent/components/IdPortenAuthorizationDetails/IdPortenAuthorizationDetails.tsx
Due: yarn prettier --write, yarn lint --fix

remove unused imports
  src/features/amUI/consent/components/ConsentDetails/ConsentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

vis pakker bruker ikke har ved søk på brukersiden
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

refactor casing
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

minor refactor
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

rename variables
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
Due: yarn prettier --write, yarn lint --fix

hook fix
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

show resource errors for system user approval as list
  src/features/amUI/systemUser/components/DelegationCheckError/DelegationCheckError.tsx
Due: yarn prettier --write, yarn lint --fix

type fix
  src/features/amUI/systemUser/components/DelegationCheckError/DelegationCheckError.tsx
Due: yarn prettier --write, yarn lint --fix

fix key
  src/features/amUI/systemUser/components/DelegationCheckError/DelegationCheckError.tsx
Due: yarn prettier --write, yarn lint --fix

translate single error line
  src/features/amUI/systemUser/components/DelegationCheckError/DelegationCheckError.tsx
Due: yarn prettier --write, yarn lint --fix

minor fixes
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

Bruk nytt endepunkt for å hente antall samtykke-forespørsler (#2103)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IConsentClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentRequestStatusType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ConsentClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConsentClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConsentControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ConsentController.cs
  src/resources/hooks/useSidebarRequestCount.ts
  src/rtk/features/consentApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor: use common resourcelist component for showing and filtering role resources. Remove old code
  src/components/index.ts
  src/features/amUI/common/DelegationModal/AccessPackages/useResourceList.tsx
  src/features/amUI/common/DelegationModal/Role/RoleInfo.module.css
  src/features/amUI/common/DelegationModal/Role/RoleResourcesSection.tsx
  src/features/amUI/common/List/List.module.css
  src/features/amUI/common/List/List.stories.tsx
  src/features/amUI/common/List/List.tsx
  src/features/amUI/common/List/ListItem.tsx
  src/features/amUI/common/List/index.ts
Due: yarn prettier --write, yarn lint --fix

remove extra props
  src/features/amUI/common/DelegationModal/Role/RoleResourcesSection.tsx
Due: yarn prettier --write, yarn lint --fix

use isLoading from resourcelist
  src/features/amUI/common/DelegationModal/Role/RoleResourcesSection.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
