Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

update systemuser texts after design changes
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Update @altinn/altinn-components to version 0.22.8 and adjust titleAs props in UI components
  package.json
  src/features/amUI/common/AccessPackageList/AreaItem.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/RoleList/RoleListItem.tsx
  src/features/amUI/common/UserList/ListWrapper.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserList/UserListItem.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Refactor CurrentUserPageHeader to use ListItemBase and ListItemHeader for improved structure and styling
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
Due: yarn prettier --write, yarn lint --fix

Update titleAs props in CurrentUserPageHeader, UserListItem, ReporteesPage, and UsersList for improved accessibility
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/UserList/UserListItem.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

do not expect bool back from delete delegation
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserAgentDelegationClient.cs
Due: none

do not expect bool back from delete delegation (#1374)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserAgentDelegationClient.cs
Due: none

Update button rendering in SystemUserOverviewPage and RightsList components for improved accessibility
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.test.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
Due: yarn prettier --write, yarn lint --fix

show access packages for agent system users
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/features/amUI/systemUser/SystemUserAgentRequestPage.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

render system user list item as link
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Chore/amui/1360 fix heading levels (#1373)
  package.json
  src/features/amUI/common/AccessPackageList/AreaItem.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/RoleList/RoleListItem.tsx
  src/features/amUI/common/UserList/ListWrapper.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserList/UserListItem.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.test.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/features/amUI/users/UsersList.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

improve testing
  .mock/handlers/systemUser.ts
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.test.tsx
Due: yarn prettier --write, yarn lint --fix

fix merge
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix test
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.test.tsx
Due: yarn prettier --write, yarn lint --fix

fix customerlist styling
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
Due: yarn prettier --write, yarn lint --fix

fix list item heading levels
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
Due: yarn prettier --write, yarn lint --fix

Add styling for tab-panels
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.module.css
  src/features/amUI/reporteeRightsPage/ReporteeRoleSection.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
Due: yarn prettier --write, yarn lint --fix

quick fix
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

quick fix (#1376)
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

test animation on delegation
  package.json
  src/assets/testCheckmark.json
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContext.tsx
  src/resources/hooks/useDelegateAccessPackage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Implement context for managing expanded state in Access Package List
  src/features/amUI/common/AccessPackageList/AccessPackageExpandedContext.tsx
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/DelegationModal/DelegationModal.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: look up partyUuid from partyId instead of sending it from frontend
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRegisterClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/Frontend/CustomerPartyFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RegisterClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
Due: none

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/Frontend/AgentDelegationRequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
Due: none

remove partyUuid from systemuser frontend code
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

fix customer list control error message styling
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
Due: yarn prettier --write, yarn lint --fix

remove facilitatorId
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserController.cs
Due: none

add tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserControllerTest.cs
Due: none

fix sq
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserAgentDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserAgentDelegationController.cs
Due: none

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserAgentDelegationControllerTest.cs
Due: none

return ProblemDetails from DELETE agent system user
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserController.cs
Due: none

Update localization strings for role titles and adjust party representation in delegation components
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
  src/features/amUI/common/RoleList/RoleList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Remove unused import
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
Due: yarn prettier --write, yarn lint --fix

Change title element from h4 to h3 in RoleListItem component
  src/features/amUI/common/RoleList/RoleListItem.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor delegation components to remove unused 'toParty' prop and streamline role management
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/RoleList/RoleList.tsx
  src/features/amUI/common/RoleList/RoleListItem.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRoleSection.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor reportee rights components to remove unused CSS classes and streamline layout structure
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.module.css
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRoleSection.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.module.css
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/features/amUI/userRightsPage/RoleSection/roleSection.module.css
Due: yarn prettier --write, yarn lint --fix

Refactor RoleList component to streamline layout and remove unused CSS classes
  src/features/amUI/common/RoleList/RoleList.tsx
  src/features/amUI/common/RoleList/roleSection.module.css
Due: yarn prettier --write, yarn lint --fix

Update padding in RightsTabs component for improved spacing
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
Due: yarn prettier --write

Update localization strings for access packages to correct pluralization
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

add app to system user system mock data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SystemRegister/systems.json
Due: none

close add/remove customer dialog with click outside
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
