Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

Refactor language code retrieval in APIDelegationController and HomeController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
Due: none

Refactor ResourceController constructor parameters
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
Due: none

cleanup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/LanguageHelper.cs
Due: none

use find instead of firsOrDefault
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/LanguageHelper.cs
Due: none

Add tests for languageHelper and rename user-service in home-controller
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
Due: none

add more test cases
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
Due: none

more test-cases
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
Due: none

more test cases
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
Due: none

refactor: Remove unused dependencies in APIDelegationController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

Add namespace
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
Due: none

Add expand/collapse based on serch-result
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Feat/users/994 one language call to rule them all (#1005)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/LanguageHelper.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/ProfileHelper.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/LangugageHelperTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ResourceController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/main.jsx
Due: yarn prettier --write, yarn lint --fix

remove console.log
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

Add expand/collapse based on serch-result (#1006)
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/useFilteredRightHolders.ts
Due: yarn prettier --write, yarn lint --fix

13.12.0
  .github/workflows/deploy-at.yml
  .github/workflows/playwright.yml
  cypress/package.json
  cypress/src/e2e/profile/APIdelegering.js
  package.json
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/jsonReports/jsonReport.json
  playwright/package.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/pages/profile/delegationPage.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

13.12.0 (#1014)
  .github/workflows/deploy-at.yml
  .github/workflows/playwright.yml
  cypress/package.json
  cypress/src/e2e/profile/APIdelegering.js
  package.json
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/jsonReports/jsonReport.json
  playwright/package.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/pages/profile/delegationPage.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Made changes in yml file to trigger the pipeline to run tests on every push
  .github/workflows/playwright.yml
Due: none

Made changes in yml file to trigger the pipeline to run tests on every push (#1016)
  .github/workflows/playwright.yml
Due: none

Test github actions
  .github/workflows/deploy-at.yml
  .github/workflows/playwright.yml
Due: none

User details page
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.module.css
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/common/FakePageWrapper/index.ts
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userDetailsPage/UserDetailsPage.module.css
  src/features/amUI/userDetailsPage/UserDetailsPage.tsx
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
Due: yarn prettier --write, yarn lint --fix

Test github
  .github/workflows/deploy-at.yml
Due: none

Changed yml file
  .github/workflows/playwright.yml
Due: none

Made changes in yml file to test pipeline (#1019)
  .github/workflows/playwright.yml
Due: none

rename to user-rights-page
  src/features/amUI/userRightsPage/UserRightsPage.module.css
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
Due: yarn prettier --write, yarn lint --fix

Update src/localizations/en.json
  src/localizations/en.json
Due: none

Update src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.module.css
Due: yarn prettier --write

rename to top-actions
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
Due: yarn prettier --write, yarn lint --fix

Update UserRightsPage to use useGetPartyByUUIDQuery
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Add translation support to PageContainer component
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

chore: Update UserItem module CSS
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
Due: yarn prettier --write, yarn lint --fix

Add new parties to parties.json test-data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
Due: none

User details page (#1020)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.module.css
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/common/FakePageWrapper/index.ts
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/UserRightsPage.module.css
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
Due: yarn prettier --write, yarn lint --fix

Fix lint import-order rule
  .eslintrc.cjs
Due: none

Update import order in FakePageWrapper and PageContainer components
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Chore/general/fix eslint import rule (#1022)
  .eslintrc.cjs
  src/features/amUI/common/FakePageWrapper/FakePageWrapper.tsx
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Move stuff to bff
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeOfferedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeReceivedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
Due: yarn prettier --write, yarn lint --fix

Add RevokeDelegationDto and RevokeApiDelegationOutput models and batch-revoke api
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeApiDelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeDelegationDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeOfferedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeReceivedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

update client to use rtk-overview-org
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgApi.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
Due: yarn prettier --write, yarn lint --fix

add overviewOrg to rtk-store
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgApi.ts
Due: yarn prettier --write, yarn lint --fix
