Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

reading string constants from no_nb.json
  playwright/pages/profile/apidelegeringPage.ts
Due: yarn prettier --write, yarn lint --fix

fixed failing tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AuthenticationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/MaskinportenSchema/frontendOffered.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/MaskinportenSchema/frontendReceived.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/TestDataUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
Due: none

added templates
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

small edits
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

Added issue templates for Epic, Feature, and Task (#1055)
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

yarn release
  .yarn/releases/yarn-4.4.0.cjs
Due: none

fix: Disable button when there are no items to delete
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

remove newline
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/OrganizationApiSet.cs
Due: none

remove empty ilne
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/OrganizationApiSet.cs
Due: none

Chore/908 move overview org to rtk query (#1045)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/OrganizationApiSet.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeApiDelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeDelegationDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeOfferedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/RevokeReceivedDelegation.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/frontendCovered_OverviewOrg.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/frontendOffered_OverviewOrg.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeOffered/Input_revoke_delegation_batch_dto.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeOffered/Input_revoke_delegation_batch_dto_partial_success.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeOffered/Input_revoke_delegation_dto.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeReceived/Input_revoke_delegation_batch_dto.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeReceived/Input_revoke_delegation_batch_dto_partial_success.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/RevokeReceived/Input_revoke_delegation_dto.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/DelegationType.tsx
  src/features/apiDelegation/components/LayoutState.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/components/OverviewPageContent/useSoftDeleteApi.ts
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/main.jsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgApi.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
Due: yarn prettier --write, yarn lint --fix

added bug and testplan templates and added emojis
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/testplan.md
Due: none

fix api select for deletion bug
  src/features/apiDelegation/components/OverviewPageContent/useSoftDeleteApi.ts
Due: yarn prettier --write, yarn lint --fix

fix api select for deletion bug (#1057)
  src/features/apiDelegation/components/OverviewPageContent/useSoftDeleteApi.ts
Due: yarn prettier --write, yarn lint --fix

added bug and testplan templates and added emojis (#1056)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/testplan.md
Due: none

Invalidate cach on post api-delegation
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

Invalidate cach on post api-delegation (#1059)
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

need to manually dispatch the cache invalidation for the invalidation to occur
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

need to manually dispatch the cache invalidation for the invalidation to occur (#1060)
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

moved all cypress tests to playwright for delegation, but one is half-done (verifying deleted delegations)
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/pages/loginPage.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Run BFF tests on PRs (#1053)
  .github/workflows/template-build-and-test-backend.yml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/AuthenticationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/HomeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/MaskinportenSchema/frontendOffered.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/MaskinportenSchema/frontendReceived.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/TestDataUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
Due: none

synchronized feature flags between BFF and react app
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/global.d.ts
  src/resources/utils/envUtils.tsx
  tsconfig.json
Due: yarn prettier --write, yarn lint --fix

Display popular services on SingleRights (#1052)
  .yarn/releases/yarn-4.4.1.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/HomeController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  tsconfig.json
Due: yarn prettier --write, yarn lint --fix

more refactoring and restructuring of tests before adding texts from no_nb.json
  playwright/e2eTests/api-delegering.spec.ts
  playwright/pages/profile/apidelegeringPage.ts
Due: yarn prettier --write, yarn lint --fix

added texts from nb_no-file so tests don't break when FE code changes, and removed unnecessary page object from spec.ts file
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/pages/profile/apidelegeringPage.ts
Due: yarn prettier --write, yarn lint --fix

revert unnecessary yarn file change
  .yarn/releases/yarn-4.4.1.cjs
  playwright/e2eTests/api-delegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

revert unnecessary yarn file change
  .yarn/releases/yarn-4.4.1.cjs
Due: none

display orgnumber in overviewOrg and add component tests for checking rendered texts
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

display orgnumber in overviewOrg and add component tests for checking rendered texts (#1063)
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

Add single rights section to user access page
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/ReferenceSource.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetDelegations/List.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

chore: Adjust font sizes in SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
Due: yarn prettier --write

chore: Implement GetSingleRightsForRightholder method in SingleRightService
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
Due: none

chore: Add GetSingleRightsForUser test case to SingleRightControllerTest
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetDelegations/List.json
Due: none

map to frontend on getting resources
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/app_ttd_a3-app/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/app_ttd_a3-app2/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-136/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-400/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-401/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-402/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-403/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-502/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-503/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-508/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-509/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-510/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-511/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-512/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/appid-513/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/se_3225_1596/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/se_322a_159b/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetDelegations/List.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetDelegations/delegations.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetDelegations/List.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetDelegations/delegations.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

code review changes
  playwright/README.md
  playwright/e2eTests/api-delegering.spec.ts
  playwright/pages/profile/apidelegeringPage.ts
Due: yarn prettier --write, yarn lint --fix

Adjust SingleRightsSection styling and add pagination
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.tsx
  src/features/amUI/users/UsersList.tsx
  src/resources/hooks/usePagination.ts
Due: yarn prettier --write, yarn lint --fix

added module with search, listing of resources, and info view with specific rights
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/index.ts
  src/components/UserInfoBar/UserInfoBar.tsx
  src/components/index.ts
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/amUI/userRightsPage/DelegateSingleRightsModal.module.css
  src/features/amUI/userRightsPage/DelegateSingleRightsModule.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

lint fix
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
Due: none

Add test case for GetSingleRightsForUser handling error
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
Due: none

add case in test-data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/GetDelegations/delegations.json
Due: none

cosmetic changes
  src/features/amUI/userRightsPage/DelegateSingleRightsModal.module.css
Due: yarn prettier --write
