Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

remove dead package code
  src/components/ActionBar/ActionBar.test.cy.tsx
Due: yarn prettier --write, yarn lint --fix

add missing key
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, yarn lint --fix

fix tests after refactor
  src/components/Filter/Filter.test.cy.tsx
  src/components/Filter/OptionDisplay.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
Due: yarn prettier --write, yarn lint --fix

made route and added changing background color
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
  index.html
  src/components/PageContainer/PageContainer.module.css
  src/components/PageContainer/PageContainer.tsx
  src/components/PageWrapper/PageWrapper.module.css
  src/components/PageWrapper/PageWrapper.tsx
  src/components/index.ts
  src/features/amUI/users/UsersPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/css/Common.module.css
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  src/routes/paths/index.ts
Due: yarn prettier --write, yarn lint --fix

remove important from css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/CollectionBar/CollectionBar.module.css
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.module.css
Due: yarn prettier --write

add dependency array to useEffect + cleanup function
  src/resources/Token/RefreshToken.tsx
Due: yarn prettier --write, yarn lint --fix

Fix nynorsk error text
  src/localizations/no_nn.json
Due: none

move logic to bff and remove unused files
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationInput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/DelegableList.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.module.css
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/index.ts
  src/routes/Router/Router.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/apiDelegation/delegableApi/delegableApiSlice.ts
  src/rtk/features/apiDelegation/delegationRequest/delegationRequestSlice.ts
Due: yarn prettier --write, yarn lint --fix

rename file
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/DelegationLists.tsx
Due: yarn prettier --write, yarn lint --fix

fix casing error
  src/dataObjects/index.ts
Due: yarn prettier --write, yarn lint --fix

add index file for new component
  src/components/CircularProgress/index.ts
  src/components/ProgressModal/ProgressModal.tsx
Due: yarn prettier --write, yarn lint --fix

New route: Users (#954)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Profile/userprofiles.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Views/Home/Index.cshtml
  index.html
  src/components/PageContainer/PageContainer.module.css
  src/components/PageContainer/PageContainer.tsx
  src/components/PageWrapper/PageWrapper.module.css
  src/components/PageWrapper/PageWrapper.tsx
  src/components/index.ts
  src/features/amUI/users/UsersPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/css/Common.module.css
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  src/routes/paths/index.ts
Due: yarn prettier --write, yarn lint --fix

refactor localization: include translations in build (instead of loading them) + remove extra common namespace
  src/components/CollectionBar/CollectionBar.tsx
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/components/ErrorPanel/ErrorPanel.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/OptionDisplay.tsx
  src/components/PageContainer/PageContainer.tsx
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/components/RecipientErrorAlert/RecipientErrorAlert.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/main.jsx
  src/resources/LoadLocalizations/LoadLocalizations.tsx
  src/resources/LoadLocalizations/index.ts
  src/resources/hooks/useFetchRecipientInfo.tsx
  src/sites/ErrorPage/ErrorPage.tsx
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Add successful and failed API delegations to ConfirmationPage
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

refactor localization: include translations in build (instead of loading them) + remove extra common namespace (#956)
  src/components/CollectionBar/CollectionBar.tsx
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/components/ErrorPanel/ErrorPanel.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/OptionDisplay.tsx
  src/components/PageContainer/PageContainer.tsx
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/amUI/users/UsersPage.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/components/RecipientErrorAlert/RecipientErrorAlert.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/main.jsx
  src/resources/LoadLocalizations/LoadLocalizations.tsx
  src/resources/LoadLocalizations/index.ts
  src/resources/hooks/useFetchRecipientInfo.tsx
  src/sites/ErrorPage/ErrorPage.tsx
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
Due: yarn prettier --write, yarn lint --fix

Update property names in ApiDelegationOutput and ApiDelegationResult
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationOutput.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/rtk/features/apiDelegation/apiDelegationApi.ts
Due: yarn prettier --write, yarn lint --fix

Refactor APIDelegationController endpoint to support multiple third party organizations
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

Refactor APIDelegationController endpoint to support multiple third party organizations
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

Add batch delegation api test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/DelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-response.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Batch.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
Due: none

remove unused setting
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
Due: none

Refactor API delegation endpoint to remove unnecessary message property
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-response.json
  src/dataObjects/dtos/resourceDelegation.tsx
  src/rtk/features/apiDelegation/apiDelegationApi.ts
Due: yarn prettier --write, yarn lint --fix

rebuild yarn.lock file after merge conflict
  yarn.lock
Due: none

Refactor API delegation endpoint to remove unnecessary message property
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-mixed-response.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Batch_Invalid.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
Due: none

Refactor test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-mixed-response.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Batch_Invalid.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
Due: none

add missing Panel headers to Alerts
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
Due: yarn prettier --write, yarn lint --fix

fix styling
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, yarn lint --fix

add test to pr-labler.yml
  .github/pr-labels.yml
Due: none

Update README.md
  README.md
Due: none

Update release-drafter.yml
  .github/release-drafter.yml
Due: none

add back icon prop to FilterButton
  src/components/Filter/Filter.tsx
  src/components/Filter/FilterButton.module.css
  src/components/Filter/FilterButton.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

chore: Remove logging of exception in APIDelegationController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

Add test section to release notes (#962)
  .github/pr-labels.yml
  .github/release-drafter.yml
  README.md
Due: none

Refactor useTranslation hook in ConfirmationPage component
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
Due: yarn prettier --write, yarn lint --fix

move code for rollback
  src/components/ActionBar/ActionBarHeader.module.css
Due: yarn prettier --write

chore: Remove exception logging in APIDelegationController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

chore: Refactor APIDelegationController to remove unnecessary exception logging and merge conflicts
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

chore: Handle exception in CreateMaskinportenDelegationBatch endpoint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
Due: none

move logic to bff and remove unused files (#955)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationInput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/ApiDelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/DelegationOutput.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/APIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IAPIDelegationService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-mixed-response.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/MaskinportenSchema/Delegation/batch-delegation-response.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/APIDelegationControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Batch.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/RequestInputs/MaskinportenSchema/Delegation/Input_Batch_Invalid.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/APIDelegationController.cs
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/DelegationLists.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.module.css
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/index.ts
  src/routes/Router/Router.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/apiDelegation/delegableApi/delegableApiSlice.ts
  src/rtk/features/apiDelegation/delegationRequest/delegationRequestSlice.ts
Due: yarn prettier --write, yarn lint --fix

Add main page heading for users with power of attorney
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/app/store.ts
  src/rtk/features/userInfo/userInfoApi.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

refactor: Update UserInfoBar component to use span instead of p for user and reportee names
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
