Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

update error message
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
Due: none

Use the reportees name
  src/features/amUI/landingPage/LandingPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

små tekstendringer - ikke bruk ordet avgiver, og bruk actor i stedet for reportee på reportee-feilsiden
  src/localizations/en.json
  src/localizations/no_nb.json
Due: none

Tekst og begrepsendringar på landingssider (#2258)
  src/features/amUI/landingPage/LandingPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Fiks en feil i beskrivelsen til systemtilganger
  src/localizations/no_nb.json
Due: none

Update src/localizations/no_nb.json
  src/localizations/no_nb.json
Due: none

EnableMaskinportenAdministration -> true
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

EnableMaskinportenAdministration -> true (#2275)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

Hide revoke button for inherited access in UsersTab and clean up PartyInfoModal props
  src/features/amUI/common/DelegationModal/AccessPackages/ClientPackageInfoModal.tsx
  src/features/amUI/packagePoaDetailsPage/PartyInfoModal.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
Due: yarn prettier --write, yarn lint --fix

Add delegated-rights export endpoint (zip of CSV files)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/DelegationExportCsvBuilder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/PersonIdentifierUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/AccessPackageExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportResult.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/InstanceRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/RoleExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/SingleRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IDelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/DelegationExportCsvBuilderTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/PersonIdentifierUtilsTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  docs/issues/eksempel/enkeltrettigheter-instans.csv
  docs/issues/eksempel/enkeltrettigheter.csv
  docs/issues/eksempel/roller.csv
  docs/issues/eksempel/tilgangspakker.csv
  docs/issues/nedlasting-delegerte-rettigheter.md
Due: none

Add integration tests for delegated-rights export endpoint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

GUI + bff for å knytte sammen epost-bruker og bruker fra Altinn 2 (#2199)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccountLink/Altinn2AccountRequest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConnectionClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.module.css
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  src/rtk/app/store.ts
  src/rtk/features/selfIdentifiedUserApi.ts
Due: yarn prettier --write, yarn lint --fix

Fix SA1515 in DelegationExportCsvBuilder
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/DelegationExportCsvBuilder.cs
Due: none

Address review feedback on delegated-rights export
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportResult.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  docs/issues/nedlasting-delegerte-rettigheter.md
Due: none

Check ModelState.IsValid in DelegationExportController action
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
Due: none

Use plain birth date (dd.MM.yyyy) as recipient id for persons
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/PersonIdentifierUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Helpers/PersonIdentifierUtilsTest.cs
  docs/issues/eksempel/enkeltrettigheter-instans.csv
  docs/issues/eksempel/enkeltrettigheter.csv
  docs/issues/eksempel/roller.csv
  docs/issues/eksempel/tilgangspakker.csv
  docs/issues/nedlasting-delegerte-rettigheter.md
Due: none

Cover single-rights export end-to-end in integration tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
Due: none

feat: Hide delete button on small screens in RoleList and RequestsList components
  src/features/amUI/common/RoleList/RoleList.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
Due: yarn prettier --write, yarn lint --fix

Fiks en feil i beskrivelsen til systemtilganger (#2273)
  src/localizations/no_nb.json
Due: none

Cover all four export types in one integration test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Roles/Permissions/cd35779b_none.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
Due: none

feat: Add isInherited property to UserActionTarget and update UsersTab logic for inherited access
  src/features/amUI/common/UserSearch/UserSearchResults.tsx
  src/features/amUI/common/UserSearch/types.ts
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
Due: yarn prettier --write, yarn lint --fix

delete dead code
  src/features/amUI/common/DelegationModal/Party/PartyInfo.tsx
  src/features/amUI/common/useInheritedStatus.ts
Due: yarn prettier --write, yarn lint --fix

feat: Refactor UsersTab to use PackageUserModal for user access management
  src/features/amUI/common/ClientAgentPackageList/ClientAgentPackageList.tsx
  src/features/amUI/packagePoaDetailsPage/PackageUserModal.tsx
  src/features/amUI/packagePoaDetailsPage/UsersTab.tsx
Due: yarn prettier --write, yarn lint --fix

Update html language when changing language in the UI
  package.json
  src/features/amUI/common/PageLayoutWrapper/useHeader.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Clean up comments and remove unused PartyInfo stories
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/ClientPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/ClientPackageInfoModal.tsx
  src/features/amUI/common/DelegationModal/Party/PartyInfo.stories.tsx
  src/features/amUI/common/DelegationModal/Party/PartyInfo.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/packagePoaDetailsPage/PackageUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

Små tekstendringer - reportee -> actor, avgiver -> aktør (#2274)
  src/localizations/en.json
  src/localizations/no_nb.json
Due: none

feat: Update availableActions to be an empty array for inherited access in PackageUserModal
  src/features/amUI/packagePoaDetailsPage/PackageUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Remove default actions from PartyInfo component
  src/features/amUI/common/DelegationModal/Party/PartyInfo.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Correct revoke_confirmation message formatting in localization files
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

feat: Hide delete button on small screens in search result controls
  src/features/amUI/common/DelegationModal/SingleRights/createSearchResultControlsRenderer.tsx
  src/features/amUI/maskinporten/ScopeSearchControls.tsx
Due: yarn prettier --write, yarn lint --fix

Fix typo in access_package_plural localization
  src/localizations/en.json
Due: none

Fix typo in access_package_plural localization (#2282)
  src/localizations/en.json
Due: none

add query param org to system user overview page, to go directly to a given org number
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix some cases where snackbar was not read by screen reader
  src/features/amUI/InstanceDetailPage/RequestInstanceAdminPackage/RequestInstanceAdminPackage.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/SnackbarDialogWrapper.tsx
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/myClients/MyClientsPage.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.tsx
  src/features/amUI/requestPage/SentRequestsCombinedModal.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
Due: yarn prettier --write, yarn lint --fix

Add static area heading
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

qa
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
Due: yarn prettier --write, yarn lint --fix

styles
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
Due: yarn prettier --write

rabbit qa
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
Due: yarn prettier --write, yarn lint --fix

fix for MyClientsPage snackbar
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/myClients/MyClientsPage.tsx
  src/sites/ErrorPage/amUi/ErrorLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

fine-tuning and adding language support
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/DelegationExportCsvBuilder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/AccessPackageExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/DelegationExportColumnNames.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/InstanceRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/RoleExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/DelegationExport/SingleRightExportRow.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/DelegationExportService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/InstanceClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/accessPackages.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/roles.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights-instances.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/Examples/DelegationExportFiles/singleRights.csv
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/GetReporteeListForUser/reporteeList.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  docs/issues/nedlasting-delegerte-rettigheter.md
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
