Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

display expiry time in correct time zone
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

fix test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_person.json
Due: none

refactor
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsent.tsx
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

fix test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/activeConsents_org.json
Due: none

move code back to backend branch
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentRequestDetails.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentRequestEventDto.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/Frontend/ConsentRequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_org.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consentRequest_person.json
Due: none

fix test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_person.json
Due: none

reuse components
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/ConsentLogPage/ConsentLogPage.tsx
  src/features/amUI/consent/components/ActiveConsent/ActiveConsent.module.css
  src/features/amUI/consent/components/ActiveConsent/ActiveConsent.tsx
Due: yarn prettier --write, yarn lint --fix

refactor batch GET parties in consent
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

remove dead code
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/ConsentLogPage/ConsentLogPage.module.css
  src/features/amUI/consent/ConsentLogPage/ConsentLogPage.tsx
Due: yarn prettier --write, yarn lint --fix

fixed small visual bugs before tt02 release
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  src/features/amUI/common/AccessPackageList/AccessPackageExpandedContext.tsx
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContext.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/UserList/UserListItem.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/UsersList.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

qa
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
Due: yarn prettier --write

minor fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_person.json
  src/features/amUI/consent/ActiveConsentsPage/ActiveConsentsPage.tsx
  src/features/amUI/consent/components/ActiveConsent/ActiveConsent.module.css
  src/features/amUI/consent/components/ActiveConsent/ActiveConsent.tsx
Due: yarn prettier --write, yarn lint --fix

update multiple permissions logic
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_21cc8752-4801-490d-a6ab-ab3266a0f748.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetDelegations/21cc8752-4801-490d-a6ab-ab3266a0f748.json
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

show consent request UI
  package.json
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestError.tsx
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
  src/features/amUI/consent/types.ts
  src/features/amUI/consent/utils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/consentPath.ts
  src/routes/paths/index.ts
  src/rtk/app/store.ts
  src/rtk/features/consentApi.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

fix vitesst
  src/features/amUI/systemUser/components/RightsList/RightsList.test.tsx
Due: yarn prettier --write, yarn lint --fix

fixes
  src/localizations/en.json
  src/routes/paths/consentPath.ts
Due: yarn prettier --write, yarn lint --fix

pulled main
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/partiesOld.json
Due: none

Use new registry endpoint for fetching party data (#1508)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRegisterClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Common/Frontend/PartyFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Register/PartyR.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Register/PartyType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ILookupService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/LookupService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RegisterClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/partiesOld.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/LookupController.cs
  src/features/amUI/common/AccessPackageList/DelegateAccessPackageActionControl.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
  src/features/amUI/common/UserList/ListWrapper.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/resources/hooks/useFetchRecipientInfo.tsx
  src/rtk/features/lookupApi.ts
Due: yarn prettier --write, yarn lint --fix

catch error to avoid uncaught promise
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

remove empty hook
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

check for empty href
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

fix translation
  src/localizations/en.json
Due: none

serialize as string
  src/features/amUI/consent/types.ts
Due: yarn prettier --write, yarn lint --fix

minor
  src/features/amUI/consent/types.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

minor fix
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
Due: yarn prettier --write, yarn lint --fix

split large component
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

Visual fixes before TT02 (#1513)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessPackageClient.cs
  src/features/amUI/common/AccessPackageList/AccessPackageExpandedContext.tsx
  src/features/amUI/common/AccessPackageList/AccessPackageList.module.css
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContext.tsx
  src/features/amUI/common/DeleteUserModal/DeleteUserModal.tsx
  src/features/amUI/common/UserList/UserListItem.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/UsersList.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

handle logout for System user tests + make sure you're properly logged out
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

Update playwright/pages/loginPage.ts
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

Update playwright/e2eTests/systemuser/clientDelegation.spec.ts
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
Due: yarn prettier --write, yarn lint --fix

update feature flags in tt02
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
Due: none

Update feature flags to display limited preview launch in TT02 (#1515)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
Due: none

fix faulty logic
  src/features/amUI/common/AccessPackageList/useAreaPackageList.ts
Due: yarn prettier --write, yarn lint --fix

e2e client delegation tests should handle logout (#1509)
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

searching for actor doesnt work in headless?
  playwright/e2eTests/systemuser/clientDelegation.spec.ts
  playwright/pages/loginPage.ts
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

limit valid HTML tags in consent
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/consent-test-resource-poa/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_org.json
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
Due: yarn prettier --write, yarn lint --fix

GUI for consent request (#1514)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ResourceRegistry/consent-test-resource-poa/resource.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Consent/consentRequest_org.json
  package.json
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestError.tsx
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.tsx
  src/features/amUI/consent/components/ConsentRights/ConsentRights.module.css
  src/features/amUI/consent/components/ConsentRights/ConsentRights.tsx
  src/features/amUI/consent/types.ts
  src/features/amUI/consent/utils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/consentPath.ts
  src/routes/paths/index.ts
  src/rtk/app/store.ts
  src/rtk/features/consentApi.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

use Europe/Oslo timezone for consent expiration texts + wrap in try-catch
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none

better log
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ConsentService.cs
Due: none
