Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

changed the term 'servicedesk' to 'brukerservice' in Norwegian texts
  .github/workflows/scheduled-release.yml
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

changed in English as well
  src/localizations/en.json
Due: none

Changed the term 'servicedesk' (#926)
  .github/workflows/scheduled-release.yml
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Apply use of landmark roles & update CSS classes and structure in NavigationSection, Page, PageHeader, PageContainer, SearchSection, and UserInfoBar components
  src/components/Page/Page.tsx
  src/components/Page/PageHeader.tsx
  src/components/PageContainer/PageContainer.tsx
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.module.css
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

chore: Update search section element in SearchSection component
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Add list styling and layout adjustments to SearchSection and ChooseServicePage components
  src/features/singleRight/components/SearchSection/SearchSection.module.css
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

Move restart prompter
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Add CSS module for ChooseServicePage navigation container
  .yarn/releases/yarn-4.2.2.cjs
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

chore: Update closeButton aria-label in PageContainer component
  src/components/PageContainer/PageContainer.tsx
Due: yarn prettier --write, yarn lint --fix

undo change in buildfile
  .yarn/releases/yarn-4.2.2.cjs
Due: none

Chore/general/788-apply-use-of-landmark-roles (#928)
  src/components/Page/Page.tsx
  src/components/Page/PageHeader.tsx
  src/components/PageContainer/PageContainer.tsx
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.module.css
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/components/SearchSection/SearchSection.module.css
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

removed delegableOrg, moved all pertaining logic and fixed broken tests and test automation
  .github/workflows/continuous-integration-frontend.yml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/AuthorizedPartyType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessManagement/AuthorizedParty.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/useOrgSearch.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationSlice.ts
  src/rtk/features/apiDelegation/delegableOrg/delegableOrgSlice.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

update Azure.Identity
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
Due: none

fixed warnings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessManagement/AuthorizedParty.cs
Due: none

Specified name on CI for frontend
  .github/workflows/template-build-and-test-frontend.yml
Due: none

screenreader improvements
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Remove delegableOrgSlice (#936)
  .github/workflows/continuous-integration-frontend.yml
  .github/workflows/template-build-and-test-frontend.yml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/AuthorizedPartyType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessManagement/AuthorizedParty.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/useOrgSearch.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationSlice.ts
  src/rtk/features/apiDelegation/delegableOrg/delegableOrgSlice.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

Added API-delegering tests
  cypress/package.json
  package.json
  playwright/api.ts
  playwright/config/.env
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/jsonReports/jsonReport.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/pages/profile/delegationPage.ts
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Made changes in playwright file
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Made changes
  .yarn/releases/yarn-4.2.2.cjs
Due: none

Revert "Made changes"
  .yarn/releases/yarn-4.2.2.cjs
Due: none

Abort
  .github/workflows/continuous-integration-frontend.yml
  .github/workflows/template-build-and-test-frontend.yml
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/AuthorizedPartyType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccessManagement/AuthorizedParty.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  package.json
  playwright/package.json
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.test.cy.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChosenItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/DelegableOrgItems.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/useOrgSearch.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/apiDelegationSlice.ts
  src/rtk/features/apiDelegation/delegableOrg/delegableOrgSlice.ts
  src/rtk/features/apiDelegation/overviewOrg/overviewOrgSlice.ts
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

testing what release version is used
  .github/workflows/scheduled-release.yml
Due: none

try to trigger it on PRs for test
  .github/workflows/scheduled-release.yml
Due: none

fix syntax
  .github/workflows/scheduled-release.yml
Due: none

print
  .github/workflows/scheduled-release.yml
Due: none

try without tag
  .github/workflows/scheduled-release.yml
Due: none

reset to working on schedule
  .github/workflows/scheduled-release.yml
Due: none

Add extra printing to release drafting workflow (#938)
  .github/workflows/scheduled-release.yml
Due: none

Added API-delegering tests (#937)
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  cypress/package.json
  package.json
  playwright/api.ts
  playwright/config/.env
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/jsonReports/jsonReport.json
  playwright/pages/loginPage.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/pages/profile/delegationPage.ts
  playwright/playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

remove @altinn/altinn-design-system package
  package.json
  src/components/CircularProgress/CircularProgress.module.css
  src/components/CircularProgress/CircularProgress.tsx
  src/components/CompactDeletableListItem/CompactDeletableListItem.module.css
  src/components/CompactDeletableListItem/CompactDeletableListItem.test.cy.tsx
  src/components/CompactDeletableListItem/CompactDeletableListItem.tsx
  src/components/ErrorPanel/ErrorPanel.tsx
  src/components/Filter/Filter.tsx
  src/components/Filter/FilterButton.tsx
  src/components/Page/PageHeader.module.css
  src/components/Page/PageHeader.tsx
  src/components/ProgressModal/ProgressModal.tsx
  src/components/UserInfoBar/UserInfoBar.module.css
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

rollback tanstack query upgrade; will be done in separate branch
  package.json
  yarn.lock
Due: none

use css variables from new design system
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/Page/PageHeader.module.css
Due: yarn prettier --write

rollback test change
  src/components/CompactDeletableListItem/CompactDeletableListItem.test.cy.tsx
Due: yarn prettier --write, yarn lint --fix

remove deprecated as= prop from components
  src/components/ActionBar/ActionBarHeader.tsx
  src/components/CollectionBar/CollectionBar.tsx
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, yarn lint --fix

fix missing css variables
  src/components/Filter/FilterButton.module.css
Due: yarn prettier --write

use Button and Link components from design system instead of native <a> and <button>
  package.json
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/ActionBar/ActionBarHeader.tsx
  src/components/Filter/FilterButton.module.css
  src/components/Filter/FilterButton.tsx
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
  src/components/PageContainer/PageContainer.module.css
  src/components/PageContainer/PageContainer.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.module.css
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.module.css
  src/main.jsx
  src/resources/css/Common.module.css
  src/resources/utils/redirectUtils.ts
  src/resources/utils/utility.module.css
  src/sites/ErrorPage/ErrorPage.module.css
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

remove important statement
  src/sites/ErrorPage/ErrorPage.module.css
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
