Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

splitting up rights logic to make it more readable
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/useRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

Implement agent client delegation UI and functionality with localization updates
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.module.css
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/index.ts
  src/resources/hooks/useAccessPackageLookup.tsx
Due: yarn prettier --write, yarn lint --fix

text changes
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write

more fixes
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestPage.module.css
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write

nynorsk
  src/localizations/no_nn.json
Due: none

more cleaning
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/resources/hooks/useDelegateRights.tsx
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor client administration components and add localization for deleted status
  src/features/amUI/clientAdministration/ClientAdministrationClientsTab.tsx
  src/features/amUI/clientAdministrationAgentDetails/AccessPackageListItems.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/UserListItems.tsx
  src/features/amUI/common/clientSortUtils.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor ClientAdministrationAgentClientsList to improve client sorting and access package rendering
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/resources/hooks/useAccessPackageLookup.tsx
Due: yarn prettier --write, yarn lint --fix

Remove 'deleted' and 'deleted' translations from localization files for consistency
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

msg
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/ReferenceType.cs
Due: none

Revamp action display (#1855)
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/rightsUtils.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useDelegateRights.tsx
Due: yarn prettier --write, yarn lint --fix

Add search to resource service owner filter (#1849)
  src/features/amUI/common/ResourceFilterToolbar/ResourceFilterToolbar.tsx
  src/features/amUI/common/ResourceList/ResourceList.test.tsx
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

msg (#1856)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/ReferenceType.cs
Due: none

Enhance client administration UI with search functionality and localization updates
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.module.css
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetailsPage.tsx
  src/features/amUI/clientAdministrationAgentDetails/UserListItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor ClientControllerTest to streamline data loading by removing redundant methods and directly utilizing mock data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
Due: none

Enhance client administration features with error handling and localization updates
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetailsPage.tsx
  src/features/amUI/clientAdministrationAgentDetails/UserListItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

test coverage
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
Due: none

Gjorde favoritter-biten mindre flaky i Aktørvalg-testen.
  playwright/e2eTests/headertest.spec.ts
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

fix test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
Due: none

la til await på item.click();
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

renamed vars and consts
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

Gjorde favoritter-biten mindre flaky i Aktørvalg-testen. (#1858)
  playwright/e2eTests/headertest.spec.ts
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

Remove redundant HttpStatusException handling from ClientController methods
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ClientController.cs
Due: none

Handle null deserialization in ClientDelegationClient to ensure a valid return type
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
Due: none

refactor request tabs badge + show 0 in badge on sent requests tab (for now)
  src/features/amUI/requestPage/RequestsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Utils/Util.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
Due: none

handle version in consent resource as string (since it is sent as an url query param)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IResourceRegistryClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Consent/ConsentResourceAttribute.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ResourceRegistryClientMock.cs
Due: none

fix type in tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Consent/consents_org.json
Due: none

Add tests for invalid party format in client delegation endpoints
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Utils/Util.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ClientControllerTest.cs
Due: none

adding e-bevis scenario for consent
  playwright/api-requests/ConsentApiRequests.ts
  playwright/e2eTests/consent/consentMaskinporten.spec.ts
  playwright/e2eTests/consent/helper/scenarioBuilder.ts
Due: yarn prettier --write, yarn lint --fix

uppercase testscenario
  playwright/e2eTests/consent/consentMaskinporten.spec.ts
Due: yarn prettier --write, yarn lint --fix

Refactor ClientAdministrationAgentDetails to separate clients with and without agent access
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
Due: yarn prettier --write, yarn lint --fix

ClientAdministrationAgentTabs
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentTabs.tsx
Due: yarn prettier --write, yarn lint --fix

Add remove agent access functionality and update localization strings
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

la til test for "vis slettede"-knappen
  playwright/e2eTests/headertest.spec.ts
  playwright/pages/AktorvalgHeader.ts
Due: yarn prettier --write, yarn lint --fix

Refactor agent access package handling and introduce custom hooks for better code organization
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ClientDelegationClient.cs
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentClientsList.tsx
  src/features/amUI/clientAdministrationAgentDetails/ClientAdministrationAgentDetails.tsx
  src/features/amUI/clientAdministrationAgentDetails/useAgentAccessClientLists.ts
  src/features/amUI/clientAdministrationAgentDetails/useAgentAccessPackageActions.ts
Due: yarn prettier --write, yarn lint --fix

show page title on UserRightsPage + format party name
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
