Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Vis ny tekst på landingssiden for privatpersoner (#1945)
  src/features/amUI/landingPage/LandingPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

increase width of searchfield to show whole placeholder text (#1952)
  src/features/amUI/common/AdvancedUserSearch/AdvancedUserSearch.module.css
Due: yarn prettier --write

display inheritance
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/Frontend/RightChanges.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

la til deleteConnectionPerson
  playwright/api-requests/EnduserConnection.tsx
  playwright/e2eTests/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

change consent request to use primary buttons for both approve and reject
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestContent.tsx
Due: yarn prettier --write, yarn lint --fix

Fjernet console.logs og la til docs
  playwright/api-requests/EnduserConnection.tsx
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

undo'a lokal fiks
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

ikke vis switch for 'vis brukere med klienttilgang' på brukersiden for privatpersoner
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Endret litt på testdata og la til testdata-cleanup i starten av tester
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

change consent request to use primary buttons for both approve and reject (#1954)
  src/features/amUI/consent/ConsentRequestPage/ConsentRequestContent.tsx
Due: yarn prettier --write, yarn lint --fix

fjernet utkommenterte linjer og ubrukt import
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

ryddet opp i docs og rettet på småting i EnduserConnection.tsx
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

ryddet opp i feilmeldinger og docs
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

fjernet ubrukt query parameter
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

byttet "platformToken" fra public til private
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

Use different display for Rights with others direction
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceSearch.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/DelegationModal/SingleRights/SearchResults.tsx
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightChips.tsx
  src/features/amUI/common/ResourceList/ResourceList.module.css
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/ResourceList/utils.tsx
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useCanGiveAccess.tsx
  src/resources/utils/sidebarConfig.tsx
Due: yarn prettier --write, yarn lint --fix

fjernet unødvendig await
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

subscriptionkey er i uppercase nå
  playwright/api-requests/Token.tsx
Due: yarn prettier --write, yarn lint --fix

added tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/Role/Permissions/cd35779b_167536b5.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/GetResourceRights/appid-502.json
Due: none

fix warnings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

update when deleting
  src/features/amUI/common/DelegationModal/SingleRights/hooks/useRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

byttet throw new error til console.warn
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

fikset teksten i noen errors or warnings
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

format orgno - part 1
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/AccessPackage/GetSinglePackagePermissions/cd35779b-b174-4ecc-bbef-ece13611be7f.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ClientDelegation/clientsAccessPackages.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/cd35779b-b174-4ecc-bbef-ece13611be7f.json
  src/dataObjects/dtos/accessPackage.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
Due: yarn prettier --write, yarn lint --fix

rabbit qa
  src/dataObjects/dtos/accessPackage.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

nitpick
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/resources/utils/reporteeUtils.ts
Due: yarn prettier --write, yarn lint --fix

fixed tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/AccessPackage/GetDelegations/cd35779b-b174-4ecc-bbef-ece13611be7f_.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/agents.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ClientDelegation/clientsAccessPackages.json
Due: none

moved reason to only common file
  src/rtk/features/accessPackageApi.ts
Due: yarn prettier --write, yarn lint --fix

move import
  src/features/amUI/common/DelegationCheck/AccessPackageDelegationCheckContext.tsx
Due: yarn prettier --write, yarn lint --fix

lagde hjelpemetode som lager connection og delegerer tilgangspakker på én gang
  playwright/api-requests/EnduserConnection.tsx
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

oppdaterte docs
  playwright/api-requests/EnduserConnection.tsx
Due: yarn prettier --write, yarn lint --fix

altinn tokens med kun fødselsnummer i playwright (#1925)
  playwright/api-requests/EnduserConnection.tsx
  playwright/api-requests/Token.tsx
  playwright/e2eTests/altinn3/accessPackageDelegation/AccessManagement.spec.ts
Due: yarn prettier --write, yarn lint --fix

Formater organisasjonsnummer - del 1 (#1958)
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/resources/utils/reporteeUtils.ts
Due: yarn prettier --write, yarn lint --fix

add better test for setting redirectUrl in cookie on approve or reject consent
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ConsentControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

must add register sub keys for playwright tests
  .github/workflows/template-playwright.yml
Due: none

let's do it simple and ugly then
  .github/workflows/template-playwright.yml
Due: none

run branch despite not being maaain
  .github/workflows/deploy-at.yml
Due: none

only main
  .github/workflows/deploy-at.yml
Due: none

duh
  .github/workflows/template-playwright.yml
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
