Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

refactor: Remove unused imports and update API delegation functionality in UsersPage component
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

started implementation
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/RegistryRoleType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/AuthenticationHelper.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
Due: none

add missing heading & styling when converting Panel component to Alert component
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
Due: yarn prettier --write, yarn lint --fix

Simplify UserInfoBar component by removing unnecessary variables and adding types to UserInfoApi
  src/components/UserInfoBar/UserInfoBar.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Add main page heading for users with power of attorney (#963)
  src/components/UserInfoBar/UserInfoBar.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/app/store.ts
  src/rtk/features/userInfo/userInfoApi.ts
  src/rtk/features/userInfo/userInfoSlice.ts
Due: yarn prettier --write, yarn lint --fix

Replace redux-userinfo with rtq userInfoApi
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

better typenames in userInfoApi
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

refactor: Update organization number property names in ChooseOrgInfoPanel and ChooseOrgPage components
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Replace redux-userinfo with rtq userInfoApi (#968)
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

made automatically generated mock data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
Due: none

adding a list component to show users on the "/users" route.
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/TestDataUserList.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/users/List.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

move alert text when no organizations are found from header to body
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

add playwright generated report files to .gitignore
  .gitignore
Due: none

delete generated playwright report
  playwright/jsonReports/jsonReport.json
Due: none

Add playwright report files to gitignore (#971)
  .gitignore
  playwright/jsonReports/jsonReport.json
Due: none

add workflow for running playwright tests in given environment
  .github/workflows/template-test-playwright.yml
Due: none

update workflow on push to main branch to also run playwright tests
  .github/workflows/deploy-at.yml
Due: none

temporary fix for eslint (using v9.0.0): disable flat config + remove rules not supported by eslint v9.0.0
  .eslintrc.cjs
  .vscode/settings.json
Due: none

added pagination logic to frontend
  src/features/amUI/users/UsersPage.tsx
  src/resources/utils/arrayUtils.test.tsx
  src/resources/utils/arrayUtils.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

temporary fix for eslint (using v9.0.0): disable flat config + remove rules not supported by eslint v9.0.0 (#974)
  .eslintrc.cjs
  .vscode/settings.json
Due: none

added static mock data and documented covered mock users
  README.md
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/51473841.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
Due: none

small refactor + styling changes for user list
  src/components/List/List.module.css
  src/components/List/TestDataUserList.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/users/List.module.css
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

added and fixed integration tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

remove extra styling
  src/components/List/List.module.css
Due: yarn prettier --write

fix overflow
  src/features/amUI/users/List.module.css
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

added logged in user to list of right holders
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
Due: none

pixel-pushing
  src/features/amUI/users/List.module.css
Due: yarn prettier --write

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  src/resources/utils/arrayUtils.test.tsx
  src/resources/utils/arrayUtils.tsx
Due: yarn prettier --write, yarn lint --fix

Adding a list components to show users on the "/users" route. (#969)
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/TestDataUserList.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/users/List.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

added inheriting rightholders to organizations
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
Due: none

use new list for listing right holders
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Present users as a paginated list (with mocked data) (#975)
  README.md
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Enums/RegistryRoleType.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/AuthenticationHelper.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/User/RightHolder.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/51473841.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/LookupControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/resources/utils/arrayUtils.test.tsx
  src/resources/utils/arrayUtils.tsx
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

run AT21 tests in AT21
  playwright/package.json
Due: none

Turn off UseMockData AT22
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
Due: none

Turn off UseMockData AT22 (#978)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
Due: none

add placeholder for header and left menu
  src/features/amUI/users/UsersFakePageWrapper.module.css
  src/features/amUI/users/UsersFakePageWrapper.tsx
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

add prop for reporteeName
  src/features/amUI/users/UsersFakePageWrapper.tsx
  src/features/amUI/users/UsersPage.tsx
Due: yarn prettier --write, yarn lint --fix

add translations for registry type roles
  src/features/amUI/users/UsersList.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

add first version of user search
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix
