Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

test fix
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
Due: yarn prettier --write, yarn lint --fix

Update page header color variables and add new types to tsconfig for design system compatibility
  src/components/Page/PageHeader.module.css
  tsconfig.json
Due: yarn prettier --write

Add onChange prop to AmPagination component for better page change handling
  src/components/Paginering/AmPaginering.tsx
Due: yarn prettier --write, yarn lint --fix

moved system user tests to access management from authentication-fron… (#1297)
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
  .gitignore
  playwright/README.md
  playwright/api-requests/ApiRequests.tsx
  playwright/api-requests/Token.tsx
  playwright/api-requests/global-teardown.tsx
  playwright/config/.env
  playwright/config/.env.at22
  playwright/config/.env.at23
  playwright/config/.env.at24
  playwright/config/.env.tt02
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/e2eTests/systemuser/approveSystemUserChangeRequest.spec.ts
  playwright/e2eTests/systemuser/approveSystemUserRequest.spec.ts
  playwright/e2eTests/systemuser/deleteSystemUser.spec.ts
  playwright/e2eTests/systemuser/selectSystemVendor.spec.ts
  playwright/package.json
  playwright/pages/loginPage.ts
  playwright/pages/systemuser/SystemUserPage.ts
  playwright/playwright.config.ts
  playwright/playwright.service.config.ts
  playwright/util/TestdataApi.tsx
  playwright/util/api-requests/global-teardown.tsx
  playwright/uuTests/accessibilityTests/enkelttjenesteDelegering.spec.ts
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Refactor ActionBar and CollectionBar components to use data attributes for color and size
  src/components/ActionBar/ActionBar.stories.tsx
  src/components/CollectionBar/CollectionBar.stories.tsx
Due: yarn prettier --write, yarn lint --fix

had to set username and password properly for test api for Playwright tests
  .github/workflows/template-playwright.yml
Due: none

added feature flag and fixed a couple of bugs
  .storybook/preview-head.html
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageInfoModal.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/global.d.ts
  src/resources/utils/featureFlagUtils.tsx
Due: yarn prettier --write, yarn lint --fix

had to set username and password properly for test api for Playwright tests (#1312)
  .github/workflows/template-playwright.yml
Due: none

Refactor CollectionBar component to use data attributes for size and color
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/CollectionBar/CollectionBar.stories.tsx
  src/components/CollectionBar/CollectionBar.tsx
Due: yarn prettier --write, yarn lint --fix

inheriting secrets did not work, manually set them like in authentication
  .github/workflows/deploy-at.yml
Due: none

inheriting secrets did not work, manually set them like in authentication (#1314)
  .github/workflows/deploy-at.yml
Due: none

use the old setup for secrets
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

fixed variable namesplaywright api configs
  .github/workflows/template-playwright.yml
Due: none

need to define secrets in template as well, tested this manually
  .github/workflows/template-playwright.yml
Due: none

use the old setup for secrets (#1315)
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

Refactor ActionBar and CollectionBar components for improved styling and accessibility
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/ActionBar/ActionBarHeader.tsx
  src/components/CollectionBar/CollectionBar.tsx
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/resources/css/Common.module.css
Due: yarn prettier --write, yarn lint --fix

Remove unused imports from ActionBarHeader, PageContainer, and PageLayoutWrapper components
  src/components/ActionBar/ActionBarHeader.tsx
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

added feature flag and fixed a couple of bugs (#1313)
  .storybook/preview-head.html
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageInfoModal.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/global.d.ts
  src/resources/utils/featureFlagUtils.tsx
Due: yarn prettier --write, yarn lint --fix

clear cache before installing deps
  .github/workflows/template-build-and-test-frontend.yml
Due: none

data-color="danger"
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/amUI/common/ButtonWithConfirmPopup/ButtonWithConfirmPopup.stories.tsx
  src/features/amUI/common/ButtonWithConfirmPopup/ButtonWithConfirmPopup.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceAlert.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceSearch.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/singleRight/components/RecipientErrorAlert/RecipientErrorAlert.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptActionBarContent/ReceiptActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor components to use data attributes for color instead of color prop
  src/components/Filter/Filter.tsx
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/common/RoleList/SkeletonRoleList.tsx
  src/features/amUI/common/Snackbar/Snackbar.stories.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgInfoPanel.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor popover components to use data attributes for color and improve button handling
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/ButtonWithConfirmPopup/ButtonWithConfirmPopup.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor Snackbar component to use data attributes for color and adjust modal structure
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/Snackbar/Snackbar.tsx
  src/features/amUI/common/Snackbar/snackbar.module.css
Due: yarn prettier --write, yarn lint --fix

removed pool from config
  .mock/mockServiceWorker.js
  vitest.config.ts
Due: yarn prettier --write, yarn lint --fix

lint
  .yarn/releases/yarn-4.7.0.cjs
Due: none

secrerts were never added?
  .github/workflows/template-playwright.yml
Due: none

temporarily to test on branch
  .github/workflows/deploy-at.yml
Due: none

only run system user test temporarily
  .github/workflows/template-playwright.yml
Due: none

test running playwright with more workers
  .github/workflows/template-playwright.yml
Due: none

fix action-bar spinner
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

run tests only for main
  .github/workflows/deploy-at.yml
  playwright/e2eTests/singleRightsDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

accessibility tests need deploy step
  .github/workflows/deploy-at.yml
Due: none
