Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

feat: stack modal action buttons on narrow screens
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/Instance/InstanceInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.module.css
  src/features/amUI/common/DeletePoaConfirmation/DeletePoaConfirmation.module.css
  src/features/amUI/maskinporten/ScopeInfo.module.css
Due: yarn prettier --write

chore: remove unused styles from RoleInfo
  src/features/amUI/common/DelegationModal/Role/RoleInfo.module.css
Due: yarn prettier --write

refactor to remove duplicated code in add user dialogs across the solution
  src/features/amUI/InstanceDetailPage/AddUserModal.module.css
  src/features/amUI/InstanceDetailPage/AddUserModal.tsx
  src/features/amUI/InstanceDetailPage/useInstanceRights.ts
  src/features/amUI/common/AddUserDialog/AddUserDialog.module.css
  src/features/amUI/common/AddUserDialog/AddUserDialog.tsx
  src/features/amUI/common/AddUserDialog/recipient.ts
  src/features/amUI/common/AddUserDialog/useRecipientForm.ts
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/RightsChipList.module.css
  src/features/amUI/common/DelegationModal/SingleRights/RightsChipList.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/RecipientFields/NewUserAlert.tsx
  src/features/amUI/common/RecipientFields/OrgLookupFields.tsx
  src/features/amUI/common/RecipientFields/PersonFields.tsx
  src/features/amUI/common/RecipientFields/RecipientFields.module.css
  src/features/amUI/common/RecipientFields/useOrgLookup.ts
  src/features/amUI/common/RightsPicker/RightsPicker.module.css
  src/features/amUI/common/RightsPicker/RightsPicker.tsx
  src/features/amUI/common/RightsPicker/useDelegableRights.ts
  src/features/amUI/common/personIdentifierUtils.ts
  src/features/amUI/maskinporten/AddSupplierButton.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.module.css
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
  src/features/amUI/users/NewUserModal/AddAgentModal.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewPersonContent.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.module.css
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

add tests
  src/features/amUI/InstanceDetailPage/AddUserModal.test.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.test.tsx
  src/features/amUI/common/RightsPicker/useDelegableRights.test.ts
  src/features/amUI/common/personIdentifierUtils.test.ts
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
Due: yarn prettier --write, yarn lint --fix

more refactoring
  src/features/amUI/InstanceDetailPage/AddUserModal.test.tsx
  src/features/amUI/common/AddUserDialog/AddUserDialog.tsx
  src/features/amUI/common/RecipientFields/OrgLookupFields.tsx
  src/features/amUI/common/RecipientFields/PersonFields.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Address review feedback on UU scanning
  .github/workflows/deploy-at.yml
  .github/workflows/scheduled-playwright-tests.yml
  .github/workflows/template-playwright.yml
  playwright/accessibilityHelpers/README.md
  playwright/accessibilityHelpers/accessibilityHelper.ts
  playwright/accessibilityHelpers/axeScanner.ts
  playwright/accessibilityHelpers/dialogAccessibilityChecks.ts
  playwright/e2eTests/altinn3/Tilgangsstyring/Enkelttjenestedelegering.spec.ts
  playwright/e2eTests/altinn3/systemuser/escalateSystemUserRequest.spec.ts
  playwright/package.json
  playwright/util/accessibilityReports.test.cjs
  playwright/util/exportAccessibilityReports.cjs
  playwright/util/testSummary.cjs
Due: yarn prettier --write, yarn lint --fix

Remove reportContext and trim UU scan metadata
  playwright/accessibilityHelpers/README.md
  playwright/accessibilityHelpers/accessibilityHelper.ts
  playwright/accessibilityHelpers/accessibilityReport.ts
  playwright/accessibilityHelpers/axeScanner.ts
  playwright/accessibilityHelpers/dialogAccessibilityChecks.ts
  playwright/accessibilityHelpers/reportContext.ts
  playwright/e2eTests/altinn3/consent/consent.spec.ts
  playwright/e2eTests/altinn3/consent/consentMaskinporten.spec.ts
  playwright/e2eTests/altinn3/consent/consentOrgToOrg.spec.ts
  playwright/e2eTests/altinn3/consent/consentSkatteetaten.spec.ts
  playwright/e2eTests/altinn3/systemuser/addOwnOrg.spec.ts
  playwright/e2eTests/altinn3/systemuser/approveSystemUserChangeRequest.spec.ts
  playwright/e2eTests/altinn3/systemuser/approveSystemUserRequest.spec.ts
  playwright/e2eTests/altinn3/systemuser/clientDelegation.spec.ts
  playwright/e2eTests/altinn3/systemuser/deleteSystemUser.spec.ts
  playwright/e2eTests/altinn3/systemuser/escalateSystemUserRequest.spec.ts
  playwright/e2eTests/altinn3/systemuser/selectSystemVendor.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/package.json
Due: yarn prettier --write, yarn lint --fix

Report undetermined tab trap and keep original error in dialog checks
  playwright/accessibilityHelpers/dialogAccessibilityChecks.ts
Due: yarn prettier --write, yarn lint --fix

fix linting
  src/features/amUI/InstanceDetailPage/AddUserModal.test.tsx
  src/features/amUI/common/AddUserDialog/AddUserDialog.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsChipList.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.test.tsx
  src/features/amUI/common/DelegationModal/SingleRights/RightsSection.tsx
  src/features/amUI/common/RecipientFields/OrgLookupFields.tsx
  src/features/amUI/common/RecipientFields/useOrgLookup.ts
  src/features/amUI/common/RightsPicker/useDelegableRights.test.ts
  src/features/amUI/common/RightsPicker/useDelegableRights.ts
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

lint
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.tsx
Due: yarn prettier --write, yarn lint --fix

lint 2
  eslint-suppressions.json
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
Due: yarn prettier --write, yarn lint --fix

qa
  src/features/amUI/common/RevokeConfirmation/useCanRedelegate.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

remove forwardRef
  src/features/amUI/servicePoaDetailsPage/ServiceUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

ci: auto-rebuild runner image when dependencies change
  .github/workflows/gh-runner.yml
Due: none

ci: simplify runner rebuild triggers to yarn.lock and Dockerfile
  .github/workflows/gh-runner.yml
Due: none

add logic which Claude missed
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.test.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

feat: make remaining modal delete buttons secondary
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/Instance/InstanceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
Due: yarn prettier --write, yarn lint --fix

feat: align delete buttons in delegation modals (#2525)
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/Instance/InstanceInfo.module.css
  src/features/amUI/common/DelegationModal/Instance/InstanceInfo.tsx
  src/features/amUI/common/DelegationModal/Role/RoleInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.module.css
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DeletePoaConfirmation/DeletePoaConfirmation.module.css
  src/features/amUI/common/DeletePoaConfirmation/DeletePoaConfirmation.tsx
  src/features/amUI/common/RoleList/RoleDeleteButton.tsx
  src/features/amUI/maskinporten/ScopeInfo.module.css
  src/features/amUI/maskinporten/ScopeInfo.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

show warning if user cannot be added
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.test.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.tsx
Due: yarn prettier --write, yarn lint --fix

move heading
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

hide consent menu item for self identified users
  src/resources/utils/permissionUtils.ts
Due: yarn prettier --write, yarn lint --fix

change isLoading to isFetching for system user lists; this will show loading animation when cache when invalidated and list is refetched
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

change isLoading to isFetching for system user lists; this will show loading animation when cache when invalidated and list is refetched (#2528)
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserOverviewPage.tsx
Due: yarn prettier --write, yarn lint --fix

hide consent menu item for self identified users (#2527)
  src/resources/utils/permissionUtils.ts
Due: yarn prettier --write, yarn lint --fix

fix QA from Copilot
  src/features/amUI/servicePoaDetailsPage/ServiceUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

Lag details side for enkelttjenester pa fullmaktsoversikten (#2526)
  eslint-suppressions.json
  src/features/amUI/common/RevokeConfirmation/useCanRedelegate.test.tsx
  src/features/amUI/common/RevokeConfirmation/useCanRedelegateResource.ts
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.module.css
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsPage.module.css
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsPage.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUserModal.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.test.tsx
  src/features/amUI/servicePoaDetailsPage/ServiceUsersSection.tsx
  src/features/amUI/servicePoaDetailsPage/useServiceRights.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove wrong comment (forgot to check it in in previous branch)
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix: use Claude to fix return props from useInstanceDelegationRightsData
  eslint-suppressions.json
  src/features/amUI/InstanceDetailPage/AddUserModal.test.tsx
  src/features/amUI/InstanceDetailPage/useInstanceRights.ts
  src/features/amUI/common/DelegationModal/Instance/useInstanceDelegationRightsData.ts
Due: yarn prettier --write, yarn lint --fix

remove mis-merged files
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.module.css
  src/features/amUI/servicePoaDetailsPage/useServiceRights.ts
Due: yarn prettier --write, yarn lint --fix

remove wrong comment (forgot to check it in in previous branch) (#2529)
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Added tests for fullmaktsoversikt in playwright
  playwright/e2eTests/altinn3/fullmakter/fullmaktsoversikt.spec.ts
  playwright/fixture/pomFixture.ts
  playwright/pages/SidebarNav.ts
  playwright/pages/fullmakter/FullmaktsoversiktPage.ts
Due: yarn prettier --write, yarn lint --fix

show error if rights cannot be assigned when adding new user
  src/features/amUI/common/AddUserDialog/AddUserDialog.module.css
  src/features/amUI/common/AddUserDialog/AddUserDialog.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.test.tsx
  src/features/amUI/servicePoaDetailsPage/AddServiceUserModal.tsx
Due: yarn prettier --write, yarn lint --fix

cleanup
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
  src/features/amUI/common/ClientAgentPackageList/ClientAgentPackageList.tsx
  src/features/amUI/common/ClientResourceList/buildAccessItems.tsx
Due: yarn prettier --write, yarn lint --fix

remove dead suppression
  eslint-suppressions.json
Due: none

remove dead suppression 2
  eslint-suppressions.json
Due: none

prune 3
  eslint-suppressions.json
Due: none

Visuelle og funksjonelle fikser for fullmaktsoversiktens enkelttjenester
  src/features/amUI/common/InstanceDescription/InstanceDescription.module.css
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/poaOverview/SingleRightsPermissions.module.css
  src/features/amUI/poaOverview/SingleRightsPermissions.tsx
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsHeader.module.css
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsHeader.tsx
  src/features/amUI/servicePoaDetailsPage/ServicePoaDetailsPage.module.css
Due: yarn prettier --write, yarn lint --fix

surpressed blocking linting
  eslint-suppressions.json
  eslint.config.cjs
Due: none

add focus restore to client-page
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/common/DeleteClientProviderModal/DeleteClientProviderModal.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
