Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

fix clear search
  src/features/amUI/systemUser/SystemUserClientDelegationsPage/SystemUserClientDelegationsPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix: update AccessPackageInfoModal to use reportee data and right holder UUID
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageInfoModal.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
Due: yarn prettier --write, yarn lint --fix

fix: update role buttons to use new icon and variant styles
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/RequestRoleButton.tsx
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
  src/features/amUI/common/RoleList/RoleInfoModal.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRoleSection.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DeletePackageButton.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
Due: yarn prettier --write, yarn lint --fix

fix: update import statement for useParams to use react-router
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageInfoModal.tsx
Due: yarn prettier --write, yarn lint --fix

added new feature flag and made confetti package features inaccessible when active
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UsersPage.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/featureFlagUtils.tsx
  src/sites/ErrorPage/ErrorPage.module.css
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
Due: yarn prettier --write, yarn lint --fix

fix: remove unnecessary blank line in UserController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
Due: none

lint
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: clean up imports in PageLayoutWrapper component
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

casing 2
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserClientRequestController.cs
Due: none

fixed proper url for AT24
  .github/workflows/template-playwright.yml
  playwright/README.md
  playwright/config/.env.at24
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/e2eTests/systemuser/approveSystemUserChangeRequest.spec.ts
  playwright/e2eTests/systemuser/approveSystemUserRequest.spec.ts
  playwright/e2eTests/systemuser/deleteSystemUser.spec.ts
  playwright/e2eTests/systemuser/selectSystemVendor.spec.ts
  playwright/playwright.config.ts
  playwright/uuTests/accessibilityTests/enkelttjenesteDelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

failing tests
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
Due: yarn prettier --write, yarn lint --fix

more tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientV0Mock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
Due: none

fix tests
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
Due: yarn prettier --write, yarn lint --fix

refactor
  src/features/amUI/systemUser/SystemUserClientDelegationsPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserClientDelegationsPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUserClientDelegationsPage/SystemUserClientDelegationsPage.module.css
  src/features/amUI/systemUser/SystemUserClientDelegationsPage/SystemUserClientDelegationsPage.tsx
  src/features/amUI/systemUser/types.ts
  src/rtk/features/systemUserApi.ts
Due: yarn prettier --write, yarn lint --fix

temp fix for failing tests
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

Update appsettings.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

Add API for client systemuser request (#1302)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISystemUserClientRequestClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/Frontend/SystemUserClientRequestFE.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SystemUser/SystemUserClientRequest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISystemUserClientRequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SystemUserClientRequestService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SystemUserClientRequestClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SystemUser/systemUserClientRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SystemUserClientRequestClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SystemUserClientRequestControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SystemUser/systemUserClientRequest.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/AssertionUtil.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SystemUserClientRequestController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

Make Confetti package features inaccessible outside of dev and AT22 (#1305)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UsersPage.tsx
  src/global.d.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/featureFlagUtils.tsx
  src/sites/ErrorPage/ErrorPage.module.css
  src/sites/ErrorPage/contents/PageNotFound.tsx
  src/sites/ErrorPage/contents/UnknownError.tsx
Due: yarn prettier --write, yarn lint --fix

Update src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

fix: refactor imports and update click handler in AccessPackage components
  src/features/amUI/common/AccessPackageList/AccessPackageList.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DeletePackageButton.tsx
Due: yarn prettier --write, yarn lint --fix

fix: remove unnecessary target and rel attributes from Link components in PageLayoutWrapper
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

fix: update test case description for GetReporteeListForUser to reflect 500 error scenario
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
Due: none

fix: add parameter description for userId in GetReporteeList method
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
Due: none

refactor: extract sidebar links into separate SidebarItems component
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
Due: yarn prettier --write, yarn lint --fix

Fix "global"-meny og aktørvalg (#1304)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClientV0.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClientV0.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientV0Mock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/GetReporteeListForUser/reporteeList.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/pathUtils.tsx
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

feat: integrate DelegationModalProvider into EditModal and related components
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContext.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/RoleList/RoleInfoModal.tsx
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageInfoModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
Due: yarn prettier --write, yarn lint --fix

short description for running playwright tests using colima
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
  playwright/README.md
Due: none

described microsoft playwright testing in Readme
  .github/workflows/template-playwright.yml
  playwright/README.md
Due: none

adjusted too small timeout for login function
  playwright/pages/loginPage.ts
Due: yarn prettier --write, yarn lint --fix

feat: enhance DelegationModal with user-specific actions and improved closing behavior
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceSearch.tsx
Due: yarn prettier --write, yarn lint --fix

feat: add availableActions prop to DelegationModal and related components for enhanced action handling
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModal.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
Due: yarn prettier --write, yarn lint --fix

fix: correct button text in RevokeRoleButton component for consistency
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: replace DeletePackageButton with inline button in AccessPackageInfo for simplified action handling
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/DeletePackageButton.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: remove unused DeletePackageButton import in AccessPackageInfo for cleaner code
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: simplify modalRef checks in DelegationModalContent for cleaner code
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
Due: yarn prettier --write, yarn lint --fix

refactor: remove unnecessary padding from roleArea in roleSection.module.css for cleaner layout
  src/features/amUI/common/RoleList/roleSection.module.css
Due: yarn prettier --write

deploy to YT on release
  .github/workflows/deploy-release.yml
Due: none

refactor: update button icon handling in role-related components for consistency
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/RequestRoleButton.tsx
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
Due: yarn prettier --write, yarn lint --fix

deploy to YT on release (#1307)
  .github/workflows/deploy-release.yml
Due: none

refactor: enhance RoleSection to accept numberOfAccesses prop and display heading
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
