Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

fix styling of paging in agent systemuser customer list (#2294)
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
Due: yarn prettier --write, yarn lint --fix

Add useFocusTarget hook to restore focus
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useFocusTarget.test.tsx
  src/resources/hooks/useFocusTarget.ts
Due: yarn prettier --write, yarn lint --fix

QA
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.tsx
  src/localizations/no_nb.json
Due: yarn prettier --write, yarn lint --fix

remove test code
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

added extra test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
Due: none

fixes
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

fix
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

use new urls
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
Due: none

Update error message mapping for missing access package
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Constants/Problem.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/ProblemMapper.cs
  src/localizations/no_nb.json
Due: none

update error mapping text in english, nynorsk and map the error id in typescript
  src/features/amUI/systemUser/errorHandling.ts
  src/localizations/en.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

update problem mapper for missing access package for delegation
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/ProblemMapper.cs
Due: none

fix PR comments
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Constants/Problem.cs
  src/features/amUI/systemUser/errorHandling.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Husk valgt fane i URL (#2289)
  src/features/amUI/InstanceDetailPage/InstanceDetailPage.tsx
  src/features/amUI/agentDetails/AgentDetails.tsx
  src/features/amUI/clientAdministration/ClientAdministrationPageContent.tsx
  src/features/amUI/clientDetails/ClientDetails.tsx
  src/features/amUI/common/Breadcrumbs/Breadcrumbs.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/common/useUrlParamState.ts
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/ConsumerPageContent.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/maskinporten/SupplierPageContent.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetails.tsx
  src/features/amUI/packagePoaDetailsPage/PackagePoaDetailsPage.tsx
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/GuardianshipPermissions.tsx
  src/features/amUI/poaOverview/InstancePermissions.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/requestPage/RequestsPage.tsx
  src/resources/hooks/index.ts
  src/resources/hooks/useTabState.ts
Due: yarn prettier --write, yarn lint --fix

Feat/dowload file from UI (#2293)
  .yarn/releases/yarn-4.15.0.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/DelegationExportControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/DelegationExportController.cs
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.module.css
  src/features/amUI/common/DownloadFileButton/DownloadFileButton.tsx
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.module.css
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
  src/features/amUI/poaOverview/PoaOverviewPage.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.module.css
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
  src/features/amUI/users/UsersList.module.css
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Refactor focus handling: replace useFocusTarget with useRestoreFocusRef in multiple components and add tests for the new hook
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useRestoreFocusRef.test.tsx
  src/resources/hooks/useRestoreFocusRef.ts
Due: yarn prettier --write, yarn lint --fix

fix: upgrade altinn-components to get new snackbar implementation (#2292)
  package.json
  src/features/amUI/InstanceDetailPage/RequestInstanceAdminPackage/RequestInstanceAdminPackage.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/maskinporten/ConsumerPage.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/SupplierPage.tsx
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/myClients/MyClientsPage.tsx
  src/features/amUI/packagePoaDetailsPage/PartyInfoModal.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModal.tsx
  src/features/amUI/requestPage/SentRequestsCombinedModal.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsModal.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/sites/ErrorPage/amUi/ErrorLayoutWrapper.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

attempt to reduce the large number of heading elements
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/PackageItem.tsx
  src/features/amUI/common/CurrentUserPageHeader/CurrentUserPageHeader.tsx
  src/features/amUI/common/DelegationModal/SingleRights/SearchResults.tsx
  src/features/amUI/common/ReporteePageHeading/ReporteePageHeading.tsx
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/common/RoleList/RoleListItem.tsx
  src/features/amUI/common/UserList/UserItem.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserSearch/UserSearch.tsx
  src/features/amUI/common/UserSearch/UserSearchResults.tsx
  src/features/amUI/consent/ActiveConsentsPage/ConsentListItem.tsx
  src/features/amUI/maskinporten/MaskinportenUserSearch.tsx
  src/features/amUI/maskinporten/ScopeSearchResults.tsx
  src/features/amUI/reportees/ReporteesList.tsx
  src/features/amUI/requestPage/RequestsTabPanel.tsx
  src/features/amUI/requestPage/SentRequestsTabPanel.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.tsx
  src/features/amUI/systemUser/SystemUsersOverviewPage/SystemUserList.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
  src/features/amUI/systemUser/components/RightsList/RightsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/features/amUI/users/UsersList.tsx
Due: yarn prettier --write, yarn lint --fix

Remove nowrap from infoPopover CSS
  src/features/amUI/poaOverview/AccessPackagePermissions.module.css
Due: yarn prettier --write

Change popover min-width to auto on small screens to avoid horizontal scroll
  src/features/amUI/common/AccessPackageInfoPopover/AccessPackageInfoPopover.module.css
Due: yarn prettier --write

avoid div as child of p element, gives console error
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
Due: yarn prettier --write, yarn lint --fix

Update error message mapping for missing access package (#2295)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Constants/Problem.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/ProblemMapper.cs
  src/features/amUI/systemUser/errorHandling.ts
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

remove almost dead funtionality
  src/resources/hooks/useRestoreFocusRef.test.tsx
  src/resources/hooks/useRestoreFocusRef.ts
Due: yarn prettier --write, yarn lint --fix

more heading cleanup
  src/features/amUI/common/ClientAccessList/ClientAccessList.tsx
Due: yarn prettier --write, yarn lint --fix

handle focusTargetId state inside hook
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useRestoreFocusRef.test.tsx
  src/resources/hooks/useRestoreFocusRef.ts
Due: yarn prettier --write, yarn lint --fix

make focusNonInteractiveTarget optional and only use it in request modal where item becomes non-interactive after approve/revoke
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/resources/hooks/useRestoreFocusRef.test.tsx
  src/resources/hooks/useRestoreFocusRef.ts
Due: yarn prettier --write, yarn lint --fix

Update tests to handle the fact that actor search is hidden on few actors
  playwright/e2eTests/altinn3/navigation/headertest.spec.ts
  playwright/pages/LoginPage.ts
Due: yarn prettier --write, yarn lint --fix

qa
  playwright/pages/LoginPage.ts
Due: yarn prettier --write, yarn lint --fix

get to party instead of sending to from frontend
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/rtk/features/selfIdentifiedUserApi.ts
Due: yarn prettier --write, yarn lint --fix

minor fix for infopopover on small screens
  src/features/amUI/common/AccessPackageInfoPopover/AccessPackageInfoPopover.module.css
  src/features/amUI/maskinporten/MaskinportenInfoPopover.module.css
Due: yarn prettier --write

Fix for info popover on small screens (#2297)
  src/features/amUI/common/AccessPackageInfoPopover/AccessPackageInfoPopover.module.css
  src/features/amUI/maskinporten/MaskinportenInfoPopover.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.module.css
  src/features/amUI/poaOverview/AccessPackagePermissions.tsx
Due: yarn prettier --write, yarn lint --fix

fix after change in backend
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/ISelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/AccountLink/Altinn2ForgotPasswordResponse.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SelfIdentifiedUserClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SelfIdentifiedUserClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
  src/rtk/features/selfIdentifiedUserApi.ts
Due: yarn prettier --write, yarn lint --fix

rename hook
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useRestoreFocus.test.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix

Update tests to handle the fact that actor search is hidden on few actors (#2299)
  playwright/e2eTests/altinn3/navigation/headertest.spec.ts
  playwright/pages/LoginPage.ts
Due: yarn prettier --write, yarn lint --fix

simplify hook locgic according to actual use
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix

typo
  src/localizations/no_nb.json
Due: none

fix tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
Due: none

rename ref to containerRef
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/requestPage/RequestReviewModal/RequestReviewModalContent.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/ActiveDelegations.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/PendingRequests.tsx
  src/resources/hooks/useRestoreFocus.test.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix

better feature flag handling
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  src/features/amUI/altinn2Account/AddAltinn2AccountPage.tsx
Due: yarn prettier --write, yarn lint --fix

Nynorskrettingar og anna språklige korrigeringar (#2287)
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

Fix timing issue with restore focus after refactor
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/resources/hooks/useRestoreFocus.ts
Due: yarn prettier --write, yarn lint --fix
