Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

renovate package.json update
  package.json
  yarn.lock
Due: none

renovate package.json update (#596)
  package.json
  yarn.lock
Due: none

make use of collectionBar prop for disabling proceed button and use small heading on small screen for pageHeader (#588)
  src/features/singleRight/components/ResourceCollectionBar/ResourceCollectionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, yarn lint --fix

pr fixes and added loading state to ResourceActionBar to placate user while waiting for return of delegationAccessCheck result
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

Integrate check delegation access with backend (#586)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/MaskinportenSchemaService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Altinn.AccessManagement.UI.Mocks.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/CreateDelegation/appid-506.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/a3-app2.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-508.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-509.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/appid-510.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/SingleRightClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Altinn.AccessManagement.UI.Tests.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/a3-app.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/appid-503.json
  src/dataObjects/dtos/singleRights/DelegationInputDto.tsx
  src/dataObjects/dtos/singleRights/ResourceIdentifierDto.tsx
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

move relevan dependencies to devDependencies
  package.json
Due: none

upgrade yarn
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  yarn.lock
Due: none

try to update node-version
  .github/workflows/build-frontend.yaml
Due: none

Chore/578 move dependencies to devdep (#600)
  .github/workflows/build-frontend.yaml
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Before creating component for listing error codes over chips
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Rename component
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.module.css
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
Due: yarn prettier --write, yarn lint --fix

continue developing component
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsAlert/RightsAlert.tsx
Due: yarn prettier --write, yarn lint --fix

Feat/api delegation/581 split up summary page (#592)
  src/components/index.ts
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.module.css
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/apiDelegation/components/SummaryPage/index.ts
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.module.css
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.module.css
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/sites/NotFoundSite/NotFoundSite.tsx
Due: yarn prettier --write, yarn lint --fix

backup commit
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsAlert/RightsAlert.tsx
Due: yarn prettier --write, yarn lint --fix

Prioritize to show errorcodes of highest relevance
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/Details.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/322a.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  src/components/ErrorPanel/ErrorPanel.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.module.css
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsAlert/RightsAlert.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/errorCodeUtils.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

update props on buttons
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
Due: yarn prettier --write, yarn lint --fix

added handling of http errors with retry and changed status to enum
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/errorCodeUtils.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

update props on buttons (#606)
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
Due: yarn prettier --write, yarn lint --fix

code cleanup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

added wrapping on chip container
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.module.css
  src/localizations/no_nn.json
Due: yarn prettier --write

fixed test
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/3225.json
Due: none

Remove common from unlocalized actions
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

small change
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.tsx
Due: yarn prettier --write, yarn lint --fix

Added wrapping on chip container (#610)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/3225.json
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.module.css
  src/localizations/no_nn.json
Due: yarn prettier --write

added descriptive comment to pending case and changed a variable name for easier readability
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

added type specification
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Handle http errors of DelegationCheck with the option of retry (#608)
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/request/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/utils/errorCodeUtils.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Add RestartPrompter to single rights
  src/components/RestartPrompter/RestartPrompter.module.css
  src/components/RestartPrompter/RestartPrompter.tsx
  src/components/index.ts
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
Due: yarn prettier --write, yarn lint --fix

Fix PR issues
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
  src/resources/utils/errorCodeUtils.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

PR code improvement
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

PR improvement fix
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Fix PR comments
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
Due: yarn prettier --write, yarn lint --fix

Add HTTPError in status
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/components/SearchSection/SearchSection.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, yarn lint --fix

Fix PR comment
  src/features/singleRight/components/SearchSection/SearchSection.tsx
Due: yarn prettier --write, yarn lint --fix

Change test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/3225.json
Due: none

Fxing tests
  package.json
  src/components/DeletableListItem/DeletableListItem.test.cy.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Add RestartPrompter to single rights (#615)
  src/components/RestartPrompter/RestartPrompter.module.css
  src/components/RestartPrompter/RestartPrompter.tsx
  src/components/index.ts
  src/features/apiDelegation/components/RestartPrompter/RestartPrompter.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ConfirmationPage/ConfirmationPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

updating design system tokens
  package.json
  yarn.lock
Due: none

Remove common from unlocalized actions (#611)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/3225.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/SingleRight/DelegationAccessCheckResponse/3225.json
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix
