Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

Enable package requests in PROD (#2180)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
Due: none

Enable Dialogporten dialog lookup
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
Due: none

renaming
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SelfIdentifiedUserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  src/features/amUI/altinn2user/AddAltinn2UserPage.tsx
  src/rtk/app/store.ts
  src/rtk/features/selfIdentifiedUserApi.ts
Due: yarn prettier --write, yarn lint --fix

only client admins can add and remove agent system user clients (#2181)
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fix comment
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SelfIdentifiedUserController.cs
Due: none

fix for setting phone numbers on small screens
  src/features/amUI/settings/SettingsModal.module.css
Due: yarn prettier --write

Ignore duplicate requestIds in draft confirmation
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

Enable adding self to system user in production settings
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
Due: none

Enable adding self to system user in production settings (#2185)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
Due: none

Enable Dialogporten dialog lookup (#2182)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
Due: none

Fix for sub unit
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ReporteeController.cs
Due: none

fix for setting phone numbers on small screens (#2183)
  src/features/amUI/settings/SettingsModal.module.css
Due: yarn prettier --write

Also fix for partyid
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ReporteeController.cs
Due: none

Ignore duplicate requestIds in draft confirmation (#2184)
  src/features/amUI/requestPage/DraftRequestPage/DraftRequestPage.tsx
Due: yarn prettier --write, yarn lint --fix

structure
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ReporteeController.cs
Due: none

Add unit tests for subunit resolution in ReporteeController
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ReporteeControllerTest.cs
Due: none

Updates testdata
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/GetReporteeListForUser/reporteeList.json
Due: none

Fix for sub unit (#2186)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/ReporteeList/1234.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/ReporteeControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/ReporteeList/GetReporteeListForUser/reporteeList.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/ReporteeController.cs
Due: none

change return type
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IConnectionClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SelfIdentifiedUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/ConnectionClientMock.cs
Due: none

Enable UseConnectionsForAgentSystemuser in prod
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
Due: none

qa
  src/features/amUI/maskinporten/MaskinportenConsumersTab.tsx
  src/features/amUI/maskinporten/MaskinportenDeleteDialog.tsx
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/MaskinportenSupplierPage.tsx
  src/features/amUI/maskinporten/MaskinportenSuppliersTab.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Set error-snackbars to default duration
  src/features/amUI/agentDetails/useAgentDetailsAccessPackageActions.ts
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/clientDetails/useClientDetailsAccessPackageActions.ts
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
Due: yarn prettier --write, yarn lint --fix

Enable UseConnectionsForAgentSystemuser in prod (#2187)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
Due: none

remove unused imports
  src/features/amUI/agentDetails/useAgentDetailsAccessPackageActions.ts
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/clientDetails/useClientDetailsAccessPackageActions.ts
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
Due: yarn prettier --write, yarn lint --fix

Feat/add new provider (#2175)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IMaskinportenClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Extensions/HttpClientExtension.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Maskinporten/MaskinportenConnection.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IMaskinportenService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/MaskinportenService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/MaskinportenClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/MaskinportenClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/MaskinportenControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/MaskinportenController.cs
  src/features/amUI/common/PageLayoutWrapper/useSidebarItems.tsx
  src/features/amUI/common/UserList/UserListActions.tsx
  src/features/amUI/common/UserSearch/UserSearch.tsx
  src/features/amUI/common/UserSearch/UserSearchResults.tsx
  src/features/amUI/common/UserSearch/connectionMapper.ts
  src/features/amUI/landingPage/LandingPage.tsx
  src/features/amUI/maskinporten/MaskinportenAddSupplierButton.tsx
  src/features/amUI/maskinporten/MaskinportenConsumersTab.tsx
  src/features/amUI/maskinporten/MaskinportenDeleteDialog.tsx
  src/features/amUI/maskinporten/MaskinportenPage.module.css
  src/features/amUI/maskinporten/MaskinportenPage.tsx
  src/features/amUI/maskinporten/MaskinportenSupplierPage.tsx
  src/features/amUI/maskinporten/MaskinportenSuppliersTab.tsx
  src/features/amUI/maskinporten/MaskinportenUserSearch.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewPersonContent.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/amUIPath.tsx
  src/rtk/features/maskinportenApi.ts
Due: yarn prettier --write, yarn lint --fix

Set error-snackbars to default duration (#2188)
  src/features/amUI/agentDetails/useAgentDetailsAccessPackageActions.ts
  src/features/amUI/clientAdministration/ClientAdministrationAgentsTab.tsx
  src/features/amUI/clientDetails/useClientDetailsAccessPackageActions.ts
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/myClients/MyClientsAccessSection.tsx
  src/features/amUI/requestPage/RequestReviewModal/useRequestReview.ts
  src/features/amUI/userRightsPage/AccessPackageSection/PendingPackageRequests/RequestsList.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
Due: yarn prettier --write, yarn lint --fix

Flyttet testdata setup ut fra testene og inn i beforeEach, og endret cleanup til å kjøres etter hver test
  playwright/e2eTests/altinn3/Tilgangsstyring/Enkelttjenestedelegering.spec.ts
  playwright/e2eTests/altinn3/Tilgangsstyring/tilgangspakkedelegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

Fixed text on no resources in ResourceList
  src/features/amUI/common/DelegationModal/AccessPackages/PackageMeta.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

nynorsk
  src/localizations/no_nn.json
Due: none

Display account selector on reportee error page
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/sites/ErrorPage/amUi/ErrorLayoutWrapper.tsx
  src/sites/ErrorPage/amUi/ErrorPage.module.css
  src/sites/ErrorPage/amUi/ReporteeChangeErrorPage.tsx
  src/sites/ErrorPage/amUi/contents/ReporteeChangeError.tsx
Due: yarn prettier --write, yarn lint --fix

Potential fix for pull request finding
  src/localizations/no_nn.json
Due: none

Potential fix for pull request finding
  src/localizations/en.json
Due: none

innbox to inbox
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/sites/ErrorPage/amUi/contents/ReporteeChangeError.tsx
Due: yarn prettier --write, yarn lint --fix

Use DsList
  src/sites/ErrorPage/amUi/contents/ReporteeChangeError.tsx
Due: yarn prettier --write, yarn lint --fix

styling
  src/sites/ErrorPage/amUi/ErrorPage.module.css
  src/sites/ErrorPage/amUi/contents/ReporteeChangeError.tsx
Due: yarn prettier --write, yarn lint --fix

styling
  src/sites/ErrorPage/amUi/ErrorPage.module.css
Due: yarn prettier --write

fixed errors
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Altinn.AccessManagement.UI.Core.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
Due: none

Fixed text on no resources in ResourceList (#2190)
  src/features/amUI/common/DelegationModal/AccessPackages/PackageMeta.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

Display account selector on reportee error page (#2191)
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/sites/ErrorPage/amUi/ErrorLayoutWrapper.tsx
  src/sites/ErrorPage/amUi/ErrorPage.module.css
  src/sites/ErrorPage/amUi/ReporteeChangeErrorPage.tsx
  src/sites/ErrorPage/amUi/contents/ReporteeChangeError.tsx
Due: yarn prettier --write, yarn lint --fix

feat: Implement Maskinporten scope search functionality
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IMaskinportenService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/MaskinportenService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/ResourceService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/MaskinportenControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/MaskinportenController.cs
  src/features/amUI/common/DelegationModal/DelegationModal.module.css
  src/features/amUI/common/ResourceList/ResourceList.tsx
  src/features/amUI/maskinporten/MaskinportenPage.module.css
  src/features/amUI/maskinporten/MaskinportenScopeInfo.module.css
  src/features/amUI/maskinporten/MaskinportenScopeInfo.tsx
  src/features/amUI/maskinporten/MaskinportenScopeModal.tsx
  src/features/amUI/maskinporten/MaskinportenScopeSearch.tsx
  src/features/amUI/maskinporten/MaskinportenSupplierPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/maskinportenApi.ts
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
