Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

debug report path
  .github/workflows/template-playwright.yml
Due: none

more debugging of test reports
  .github/workflows/template-playwright.yml
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

more debugging of test reports
  .github/workflows/template-playwright.yml
Due: none

more debugging of test reports
  .github/workflows/debug-workflow.yml
Due: none

add secrets: inherit to workflow job
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

fix proper path to upload to Azure
  .github/workflows/template-playwright.yml
Due: none

reports now work - use this commit if anything fails at some point to revert to this point
  .github/workflows/template-playwright.yml
Due: none

dynamic report directory
  .github/workflows/template-playwright.yml
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Snackbar
  src/features/amUI/common/Snackbar/Snackbar.tsx
  src/features/amUI/common/Snackbar/SnackbarProvider.tsx
  src/features/amUI/common/Snackbar/index.ts
  src/features/amUI/common/Snackbar/snackbar.module.css
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UsersPage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/singleRights/singleRightsApi.ts
Due: yarn prettier --write, yarn lint --fix

Refactor method parameter name in ISingleRightService.cs and SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

Refactor method parameter name in ISingleRightService.cs and SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/ISingleRightService.cs
Due: none

continue on error just to see if reporting is easier to catch
  .github/workflows/template-playwright.yml
Due: none

run all the playwright tests and remove debugging
  .github/workflows/debug-workflow.yml
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

back to normal - done debugging, tests running for now and report is published
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
  playwright/e2eTests/api-delegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

setting retries from yarn run instead to avoid defaulting to retry locally and too much config setups in playwright config
  .github/workflows/template-playwright.yml
Due: none

test-coverage + typo fix
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/SingleRightService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightControllerTest.cs
Due: none

cleanup
  src/components/Avatar/Avatar.module.css
  src/components/Avatar/Avatar.tsx
  src/components/List/List.module.css
  src/components/List/ListItem.tsx
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/features/amUI/userRightsPage/DelegateSingleRightsModule.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UserItem/UserItem.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, yarn lint --fix

fixed tests
  .yarn/releases/yarn-4.4.1.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
Due: none

Test/fix playwright reports GitHub/1076 (#1080)
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
  .yarn/releases/yarn-4.4.1.cjs
  playwright/pages/profile/apidelegeringPage.ts
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

removed border on avatar
  src/components/Avatar/Avatar.module.css
Due: yarn prettier --write

trying to solve 409 conflict when uploading artifact through 2 jobs
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
Due: none

debugging - deploy main will fail for feature branches
  .github/workflows/deploy-at.yml
Due: none

using env + run number to set unique build ids
  .github/workflows/template-playwright.yml
  playwright/e2eTests/api-delegering.spec.ts
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

test it, have to create new branch
  .github/workflows/deploy-at.yml
Due: none

fix path
  .github/workflows/template-playwright.yml
Due: none

test
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

test
  .github/workflows/template-playwright.yml
Due: none

not sure why this wont work
  .github/workflows/template-playwright.yml
Due: none

debug
  .github/workflows/template-playwright.yml
Due: none

spelling
  .github/workflows/template-playwright.yml
Due: none

spelling
  .github/workflows/template-playwright.yml
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Refactor delegation type enum values in OrganizationApiSet.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/OrganizationApiSet.cs
Due: none

uppercase
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
