Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

.lintstagedrc.json:

{
    "*.ts": [
      "yarn prettier --write",
      "yarn lint --fix"
    ],
    "*.tsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.js": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.jsx": [
        "yarn prettier --write",
        "yarn lint --fix"
    ],
    "*.css": "yarn prettier --write"
  }

Fix summary comment for DisplayLimitedPreviewLaunch feature flag in FeatureFlags class
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
Due: none

Add missing parameter description for flags in GetTestClient methods
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

Refactor RightsTabs component to streamline feature flag checks and improve readability
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
Due: yarn prettier --write, yarn lint --fix

Fix formatting issue in parameter documentation for GetTestClient method in SetupUtils
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
Due: none

Add account search functionality & virtualization to PageLayoutWrapper (#1404)
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
Due: yarn prettier --write, yarn lint --fix

Add feature flag for limited preview launch (#1406)
  .storybook/preview-head.html
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/FeatureFlags.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/RoleControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Utils/SetupUtils.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/RoleController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/common/PageLayoutWrapper/SidebarItems.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
  src/features/amUI/users/UsersList.tsx
  src/global.d.ts
Due: yarn prettier --write, yarn lint --fix

manual fix
  package.json
  yarn.lock
Due: none

use scrollbar-gutter and add color to bar
  src/components/Filter/OptionDisplay.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/resources/css/Common.module.css
Due: yarn prettier --write

msw
  package.json
  yarn.lock
Due: none

use transparent background color on scrollbar
  src/components/Filter/OptionDisplay.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/resources/css/Common.module.css
Due: yarn prettier --write

use transparent background color on scrollbar
  src/resources/css/Common.module.css
Due: yarn prettier --write

Make scrollbar less noticable (#1411)
  src/components/Filter/OptionDisplay.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.module.css
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/resources/css/Common.module.css
Due: yarn prettier --write

new bff endpoint
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RightHolderClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

add user org is working!
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/HttpStatusException.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/UserAccesses/cd35779b-b174-4ecc-bbef-ece13611be7f_3d8b34c3-df0d-4dcc-be12-e788ce414744.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

auto lint
  .yarn/releases/yarn-4.8.1.cjs
Due: none

added tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RightHolderClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
Due: none

fixes
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RightHolderClient.cs
Due: none

Add new org with backend support (#1412)
  .yarn/releases/yarn-4.8.1.cjs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Configuration/MockSettings.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/HttpStatusException.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Altinn.AccessManagement.UI.Integration.csproj
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/UserAccesses/cd35779b-b174-4ecc-bbef-ece13611be7f_3d8b34c3-df0d-4dcc-be12-e788ce414744.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RightHolderClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Program.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Test.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

initial commit before main pull
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/Interfaces/IUserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/userRightsPage/DeleteUserModal.module.css
  src/features/amUI/userRightsPage/DeleteUserModal.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Use snackbar from altinn components instead of local
  src/features/amUI/common/AccessPackageList/AccessPackageList.stories.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/DelegationModal.stories.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
  src/features/amUI/common/RoleList/RoleList.stories.tsx
  src/features/amUI/common/Snackbar/Snackbar.stories.tsx
  src/features/amUI/common/Snackbar/Snackbar.tsx
  src/features/amUI/common/Snackbar/SnackbarProvider.tsx
  src/features/amUI/common/Snackbar/index.ts
  src/features/amUI/common/Snackbar/snackbar.module.css
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor snackbar duration handling across multiple components
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
Due: yarn prettier --write, yarn lint --fix

Add Snackbar component to AccessPackageList, DelegationModal, and RoleList story files
  src/features/amUI/common/AccessPackageList/AccessPackageList.stories.tsx
  src/features/amUI/common/DelegationModal/DelegationModal.stories.tsx
  src/features/amUI/common/RoleList/RoleList.stories.tsx
Due: yarn prettier --write, yarn lint --fix

Use snackbar from altinn components instead of local implementation (#1417)
  src/features/amUI/common/AccessPackageList/AccessPackageList.stories.tsx
  src/features/amUI/common/AccessPackageList/useAccessPackageActions.ts
  src/features/amUI/common/DelegationModal/DelegationModal.stories.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/PageLayoutWrapper/PageLayoutWrapper.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/RevokeRoleButton.tsx
  src/features/amUI/common/RoleList/RoleList.stories.tsx
  src/features/amUI/common/Snackbar/Snackbar.stories.tsx
  src/features/amUI/common/Snackbar/Snackbar.tsx
  src/features/amUI/common/Snackbar/SnackbarProvider.tsx
  src/features/amUI/common/Snackbar/index.ts
  src/features/amUI/common/Snackbar/snackbar.module.css
  src/features/amUI/reporteeRightsPage/ReporteeRightsPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/DeleteResourceButton.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

use components form ds through
  package.json
  src/components/Page/PageHeader.module.css
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/AccessPackageList/DelegateAccessPackageActionControl.tsx
  src/features/amUI/common/ButtonWithConfirmPopup/ButtonWithConfirmPopup.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/DelegationModalContent.tsx
  src/features/amUI/common/DelegationModal/EditModal.tsx
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceAlert.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceSearch.tsx
  src/features/amUI/common/DelegationModal/StatusSection.tsx
  src/features/amUI/common/List/List.stories.tsx
  src/features/amUI/common/LoadingAnimation/LoadingAnimation.tsx
  src/features/amUI/common/OldRolesAlert/OldRolesAlert.stories.tsx
  src/features/amUI/common/OldRolesAlert/OldRolesAlert.tsx
  src/features/amUI/common/PageContainer/PageContainer.tsx
  src/features/amUI/common/PartyRepresentationContext/PartyRepresentationContext.tsx
  src/features/amUI/common/RightsTabs/RightsTabs.tsx
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/common/RoleList/SkeletonRoleList.tsx
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraphs.tsx
  src/features/amUI/common/UserList/UserList.tsx
  src/features/amUI/common/UserPageHeader/UserPageHeader.tsx
  src/features/amUI/reporteeRightsPage/ReporteeAccessPackageSection.tsx
  src/features/amUI/reporteeRightsPage/ReporteeRoleSection.tsx
  src/features/amUI/reportees/ReporteesPage.tsx
  src/features/amUI/userRightsPage/AccessPackageSection/AccessPackageSection.tsx
  src/features/amUI/userRightsPage/RoleSection/RoleSection.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/features/amUI/users/NewUserModal/NewUserModal.tsx
  src/features/amUI/users/UsersList.tsx
  src/features/amUI/users/UsersPage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

Remove duplicate import statements in DelegateRoleButton and UserRightsPage components
  src/features/amUI/common/RoleList/DelegateRoleButton.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor components to use DsHeading instead of Heading for consistency across the application
  src/features/amUI/common/AccessPackageList/AreaItemContent.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/AccessPackageInfo.tsx
  src/features/amUI/common/DelegationModal/AccessPackages/PackageSearch.tsx
  src/features/amUI/common/DelegationModal/Role/RoleInfo.tsx
  src/features/amUI/common/DelegationModal/SingleRights/ResourceAlert.tsx
  src/features/amUI/common/List/List.stories.tsx
  src/features/amUI/common/OldRolesAlert/OldRolesAlert.tsx
  src/features/amUI/common/UserPageHeader/UserPageHeader.tsx
  src/features/amUI/systemUser/components/RightsList/AccessPackageInfo.tsx
Due: yarn prettier --write, yarn lint --fix

fix double snackbar in customer list agent delegation
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Fixed playwright failing test
  playwright/pages/profile/delegationPage.ts
Due: yarn prettier --write, yarn lint --fix

Fixed playwright failing test (#1418)
  playwright/pages/profile/delegationPage.ts
Due: yarn prettier --write, yarn lint --fix

better fix
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Fix: double snackbar in customer agent delegation (#1419)
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/CustomerList.module.css
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPageContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor: consolidate imports from @altinn/altinn-components in SystemUserAgentDelegationPage
  src/features/amUI/systemUser/SystemUserAgentDelegationPage/SystemUserAgentDelegationPage.tsx
Due: yarn prettier --write, yarn lint --fix

Fix: update checkbox component to use DsChip in RightsActionBarContent
  src/components/Filter/OptionDisplay.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBarContent/RightsActionBarContent.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor: migrate components to use @altinn/altinn-components and remove @digdir/designsystemet dependencies
  .storybook/preview.tsx
  package.json
  src/components/BorderedList/BorderedList.tsx
  src/components/BorderedList/BorderedListItem/BorderedListItem.tsx
  src/components/RestartPrompter/RestartPrompter.tsx
  src/features/amUI/systemUser/components/RequestPageBase/RequestPageBase.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/singleRight/delegate/ChooseRightsPage/RightsActionBar/RightsActionBar.tsx
  src/main.jsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

fix bugs
  src/components/ProgressModal/ProgressModal.tsx
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
Due: yarn prettier --write, yarn lint --fix

using backend to delete user connection
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IAccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/ClientInterfaces/IRightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Services/UserService.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/AccessManagementClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/RightHolderClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/AccessManagementClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RightHolderClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
  src/features/amUI/common/LoadingAnimation/LoadingAnimation.tsx
  src/features/amUI/common/TechnicalErrorParagraphs/TechnicalErrorParagraphs.tsx
  src/features/amUI/userRightsPage/DeleteUserModal.module.css
  src/features/amUI/userRightsPage/DeleteUserModal.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/NewUserModal/NewOrgContent.tsx
  src/features/amUI/users/NewUserModal/NewUserAlert.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Added confitional statment for e-post for rolle delegering
  playwright/pages/profile/delegationPage.ts
Due: yarn prettier --write, yarn lint --fix

added tests
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/UserControllerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/UserController.cs
Due: none

Fixed failing playwright test (#1422)
  playwright/pages/profile/delegationPage.ts
Due: yarn prettier --write, yarn lint --fix
