Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint --fix

uppercase
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

uppercase wtf
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Refactor delegation type enum values in OrganizationApiSet.cs and method parameter name in SingleRightController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/Delegation/OrganizationApiSet.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

more unique artifact name
  .github/workflows/template-playwright.yml
Due: none

invalid characters
  .github/workflows/template-playwright.yml
Due: none

debugging
  .github/workflows/template-playwright.yml
Due: none

replace report id with report name
  .github/workflows/template-playwright.yml
Due: none

generate different report names for different environments to avoid 409 conflict
  .github/workflows/template-playwright.yml
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

accidentally added an apostrophe
  .github/workflows/template-playwright.yml
  .yarn/releases/yarn-4.5.0.cjs
Due: none

fix argument parsing
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
Due: none

generate different report names for different environments to avoid 4… (#1082)
  .github/workflows/template-playwright.yml
  .yarn/releases/yarn-4.5.0.cjs
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

fixed breaking change
  src/features/apiDelegation/offered/ConfirmationPage/DelegationLists.tsx
Due: yarn prettier --write, yarn lint --fix

no more reusing of testdata, and better descriptions of methods used
  playwright/e2eTests/api-delegering.spec.ts
  playwright/pages/profile/apidelegeringPage.ts
Due: yarn prettier --write, yarn lint --fix

update changed react-components
  .vscode/launch.json
  package.json
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.tsx
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.tsx
  src/main.jsx
  src/sites/ErrorPage/ErrorPage.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint --fix

remove duplicated test data and added support for running individual tests in parallell
  playwright/e2eTests/api-delegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

fixes for QA
  src/components/Avatar/Avatar.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.module.css
Due: yarn prettier --write, yarn lint --fix

Feat: Delegate new service (new GUI) (#1081)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/RightHolders/51329012.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Data/ExpectedResults/RightHolders/51329012.json
  src/components/Avatar/Avatar.module.css
  src/components/Avatar/Avatar.tsx
  src/components/List/List.module.css
  src/components/List/List.tsx
  src/components/List/ListItem.tsx
  src/components/List/index.ts
  src/components/UserIcon/UserIcon.module.css
  src/components/UserIcon/UserIcon.tsx
  src/components/UserInfoBar/UserInfoBar.tsx
  src/components/index.ts
  src/dataObjects/dtos/resourceDelegation.tsx
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.module.css
  src/features/amUI/userRightsPage/DelegationModal/DelegationModal.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceInfo.tsx
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.module.css
  src/features/amUI/userRightsPage/DelegationModal/ResourceSearch.tsx
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.tsx
  src/features/amUI/userRightsPage/UserRightsPage.tsx
  src/features/amUI/users/UserItem/UserItem.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/rtk/features/apiDelegation/apiDelegationApi.ts
  src/rtk/features/lookup/lookupApi.ts
  src/rtk/features/singleRights/singleRightsApi.ts
  src/rtk/features/userInfo/userInfoApi.ts
Due: yarn prettier --write, yarn lint --fix

Refactor CSS class names for FilterButton, Floatover, and OptionDisplay components
  src/components/Filter/FilterButton.module.css
  src/components/Filter/Floatover.module.css
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, yarn lint --fix

Refactor CSS class names for FilterButton, Floatover, and OptionDisplay components
  src/components/Filter/OptionDisplay.module.css
  src/features/apiDelegation/components/ApiActionBar/ApiActionBar.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ApiSearchResult.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/components/SearchSection/SearchSection.module.css
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.module.css
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.module.css
  src/features/singleRight/delegate/ReceiptPage/ReceiptPage.module.css
Due: yarn prettier --write, yarn lint --fix

turn on mock in at22
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
Due: none

turn on mock in at22 (#1086)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
Due: none

remove cypress e2e tests + fix unique test data for api delegation tests
  cypress/README.md
  cypress/cypress.config.js
  cypress/package.json
  cypress/pageObjects/Inbox/inbox.js
  cypress/pageObjects/login.js
  cypress/pageObjects/profile3/APIadministration.js
  cypress/pageObjects/profile3/header.js
  cypress/pageObjects/profile3/localRole.js
  cypress/pageObjects/profile3/other-with-rights.js
  cypress/pageObjects/profile3/partyselect.js
  cypress/src/config/at21.json
  cypress/src/config/at22.json
  cypress/src/config/at23.json
  cypress/src/config/at24.json
  cypress/src/config/tt02.json
  cypress/src/e2e/profile/APIdelegering.js
  cypress/src/e2e/profile/idPortenLogin.js
  cypress/src/fixtures/overviewOrgs.ts
  cypress/src/fixtures/pin.json
  cypress/src/support/APIadministration.js
  cypress/src/support/commands.ts
  cypress/src/support/component-index.html
  cypress/src/support/component.ts
  cypress/src/support/e2e.ts
  cypress/src/support/generic-helper.js
  cypress/src/support/idPortenLogin.js
  cypress/src/support/inbox.js
  cypress/src/support/index.js
  cypress/src/support/login.js
  cypress/src/support/other-with-rights-helper.js
  cypress/src/support/party-select.js
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/idPortenLogin.spec.ts
  playwright/e2eTests/singleRightsDelegering.spec.ts
  playwright/pages/profile/apidelegeringPage.ts
  playwright/playwright.config.ts
Due: yarn prettier --write, yarn lint --fix

Refactor CSS class names for FilterButton, Floatover, and OptionDisplay components
  src/components/ActionBar/ActionBar.tsx
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/ActionBar/ActionBarHeader.tsx
  src/components/BorderedList/BorderedList.tsx
  src/components/BorderedList/BorderedListItem/BorderedListItem.tsx
  src/components/Page/PageHeader.module.css
  src/features/singleRight/components/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/delegate/ReceiptPage/ActionBarSection/ActionBarSection.module.css
Due: yarn prettier --write, yarn lint --fix

allow CI runs to run tests in parallell+ test it on branch
  .github/workflows/deploy-at.yml
  .github/workflows/template-playwright.yml
  playwright/e2eTests/api-delegering.spec.ts
  playwright/e2eTests/idPortenLogin.spec.ts
Due: yarn prettier --write, yarn lint --fix

Update css-variables from ds-v.1
  src/components/CollectionBar/CollectionBar.module.css
  src/components/Filter/FilterButton.tsx
  src/components/List/List.module.css
  src/features/amUI/common/PageContainer/PageContainer.module.css
  src/features/amUI/userRightsPage/SingleRightsSection.module.css
  src/features/amUI/users/UserItem/UserItem.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.module.css
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/singleRight/components/ChooseServiceSkeleton/ChooseServiceSkeleton.tsx
  src/features/singleRight/components/NavigationSection/NavigationSection.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, yarn lint --fix

update yarn.lock after removing cypress
  yarn.lock
Due: none

Update src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
Due: yarn prettier --write, yarn lint --fix

test new playwright template
  .github/workflows/deploy-at.yml
Due: none

remove console.log
  src/features/amUI/common/Snackbar/SnackbarProvider.tsx
Due: yarn prettier --write, yarn lint --fix

update test data
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-502.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/RevokeDelegation/appid-508.json
Due: none

back to normal
  .github/workflows/deploy-at.yml
  playwright/e2eTests/api-delegering.spec.ts
Due: yarn prettier --write, yarn lint --fix

only run deploys/playwright tests on main due to pr rules
  .github/workflows/deploy-at.yml
Due: none

Refactor Snackbar component and fix typo in SingleRightItem.tsx
  src/features/amUI/common/Snackbar/Snackbar.tsx
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightItem.tsx
Due: yarn prettier --write, yarn lint --fix

fix li grid sizing
  src/features/amUI/userRightsPage/SingleRightsSection/SingleRightsSection.module.css
Due: yarn prettier --write

merge issue?
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  yarn.lock
Due: none

reset p.json
  package.json
Due: none

y lock
  yarn.lock
Due: none

reset pacag.json
  package.json
Due: none

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  yarn lint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
