Repository Altinn/altinn-access-management-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, eslint

Change error text key implementation
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

change dto name
  src/dataObjects/dtos/singleRights/ResourceIdentifierDto.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/rtk/features/singleRights/singleRightsSlice.ts
Due: yarn prettier --write, eslint

Feat/single rights/468 changes requested from design review (#494)
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/PageContainer/PageContainer.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
Due: yarn prettier --write

Feat/single rights/457 action bars reaction (#486)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Helpers/HttpStatusException.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/CheckDelegationAccess/DelegationAccessCheckResponse.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/CheckDelegationAccess/Details.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Core/Models/SingleRight/CheckDelegationAccess/Parameters.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/ResourceRegistryClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Integration/Clients/SingleRightClient.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/AllAccessesAppid503.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/NoAccessesAppid504.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/OnlyReadAppid505.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/SingleRight/DelegationAccessCheckResponse/ReadAndWriteAppid506.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Tests/Controllers/SingleRightCotrollerTest.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/SingleRightController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT23.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Development.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  package.json
  src/components/CollectionBar/CollectionBar.tsx
  src/dataObjects/dtos/singleRights/ResourceIdentifierDto.tsx
  src/dataObjects/index.ts
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.module.css
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.module.css
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/resources/hooks/useUpdate.tsx
  src/rtk/app/store.ts
  src/rtk/features/apiDelegation/delegableApi/delegableApiSlice.ts
  src/rtk/features/singleRights/singleRightsApi.ts
  src/rtk/features/singleRights/singleRightsSlice.ts
  yarn.lock
Due: yarn prettier --write, eslint

Initial commit
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
Due: yarn prettier --write, eslint

Change useMockData
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
Due: none

change locales-files
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: none

change key
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

Set mockData explicitly to false
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/LookupController.cs
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT21.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
Due: none

Revert changes in controller
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/Controllers/LookupController.cs
Due: none

Change useMockData value (#496)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT21.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT22.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.AT24.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.Prod.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.TT02.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.YT01.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI/appsettings.json
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, eslint

using new checkboxes. Works but has a couple of scruples
  package.json
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
  src/resources/css/Common.module.css
  yarn.lock
Due: yarn prettier --write, eslint

fixed faulty lookup and added two orgs to mock registry
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
Due: none

removed unused includes. ran yarn
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
  yarn.lock
Due: none

Make Modal starting point
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/main.jsx
  src/routes/Router/Router.tsx
  src/sites/NotFoundSite/NotFoundSite.tsx
Due: yarn prettier --write, eslint

Change PR labeler
  .github/pr-labeler.yml
  .github/release-drafter.yml
Due: none

removed unnecessary lines
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
Due: none

Change PR labeler (#498)
  .github/pr-labeler.yml
  .github/release-drafter.yml
Due: none

Fixed faulty org lookup (#497)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Mocks/RegisterClientMock.cs
  yarn.lock
Due: none

forgot to rename
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
Due: none

forgot to rename (#499)
  backend/src/Altinn.AccessManagement.UI/Altinn.AccessManagement.UI.Mocks/Data/Register/Parties/parties.json
Due: none

changed border colors for actionBar
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/CollectionBar/CollectionBar.module.css
  src/components/CollectionBar/CollectionBar.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

removed padding and group, waiting for bugfix in design system
  src/components/Filter/OptionDisplay.module.css
  src/components/Filter/OptionDisplay.tsx
Due: yarn prettier --write, eslint

Before adding tests
  package.json
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogClose.tsx
  src/components/Dialog/DialogContent.module.css
  src/components/Dialog/DialogContent.tsx
  src/components/Dialog/DialogContext.ts
  src/components/Dialog/DialogDescription.tsx
  src/components/Dialog/DialogHeading.tsx
  src/components/Dialog/DialogTrigger.tsx
  src/components/Dialog/index.ts
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.tsx
  src/components/ProgressModal/ProgressModal.module.css
  src/components/ProgressModal/ProgressModal.tsx
  src/components/index.ts
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  yarn.lock
Due: yarn prettier --write, eslint

add jsdoc
  package.json
  src/components/ActionBar/ActionBar.tsx
  src/components/DualElementsContainer/DualElementsContainer.module.css
  src/components/DualElementsContainer/DualElementsContainer.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

code cleanup
  src/components/DualElementsContainer/DualElementsContainer.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/no_nn.json
Due: yarn prettier --write, eslint

Code cleanup 2
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
Due: yarn prettier --write, eslint

code cleanup
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  yarn.lock
Due: yarn prettier --write, eslint

Code cleanup
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, eslint

code cleanup
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, eslint

reset actionBar border colors, reset dark headers on api-delegation, and removed Page enums
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/Page/Context.ts
  src/components/Page/Page.tsx
  src/components/Page/index.ts
  src/components/index.ts
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, eslint

Add tests to Dialog
  src/components/ActionBar/ActionBar.test.cy.tsx
  src/components/Dialog/Dialog.test.cy.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogClose.tsx
  src/components/Dialog/DialogHeading.tsx
  src/components/Dialog/DialogTrigger.tsx
  src/components/Dialog/index.ts
  src/components/ProgressModal/ProgressModal.tsx
  src/components/index.ts
Due: yarn prettier --write, eslint

code cleanup
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

Change Page colors
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
Due: yarn prettier --write, eslint

fix jsdoc
  src/components/DualElementsContainer/DualElementsContainer.tsx
Due: yarn prettier --write, eslint

Feat/single rights/408 choose service page implement navigation (#493)
  .lintstagedrc.json
  .vscode/extensions.json
  package.json
  src/components/ActionBar/ActionBar.tsx
  src/components/DualElementsContainer/DualElementsContainer.module.css
  src/components/DualElementsContainer/DualElementsContainer.tsx
  src/components/index.ts
  src/features/apiDelegation/components/OverviewPageContent/OverviewPageContent.tsx
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
  src/routes/Router/Router.tsx
  src/routes/paths/GeneralPath.tsx
  src/routes/paths/SingleRightPath.tsx
  yarn.lock
Due: yarn prettier --write, eslint

changes from PR comments
  src/components/DeletableListItem/DeletableListItem.tsx
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, eslint

fixed merge conflict error
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
Due: yarn prettier --write, eslint

Multiple small design changes (#501)
  src/components/ActionBar/ActionBarContent.module.css
  src/components/ActionBar/ActionBarHeader.module.css
  src/components/CollectionBar/CollectionBar.module.css
  src/components/CollectionBar/CollectionBar.tsx
  src/components/DeletableListItem/DeletableListItem.tsx
  src/components/Page/Context.ts
  src/components/Page/Page.tsx
  src/components/Page/index.ts
  src/components/index.ts
  src/features/apiDelegation/components/OverviewPageContent/OrgDelegationActionBar/OrgDelegationActionBar.tsx
  src/features/apiDelegation/components/SummaryPage/SummaryPage.tsx
  src/features/apiDelegation/offered/ChooseApiPage/ChooseApiPage.tsx
  src/features/apiDelegation/offered/ChooseOrgPage/ChooseOrgPage.tsx
  src/features/apiDelegation/offered/OverviewPage/OverviewPage.tsx
  src/features/apiDelegation/offered/ReceiptPage/ReceiptPage.tsx
  src/features/apiDelegation/received/OverviewPage/OverviewPage.tsx
  src/features/singleRight/delegate/ChooseRightsPage/ChooseRightsPage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
  src/features/singleRight/delegate/ChooseServicePage/ResourceActionBar/ResourceActionBar.tsx
  src/localizations/en.json
  src/localizations/no_nb.json
  src/localizations/no_nn.json
Due: yarn prettier --write, eslint

Code cleanup
  src/components/Dialog/Dialog.test.cy.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogDescription.tsx
  src/components/Dialog/index.ts
  src/components/ProgressModal/ProgressModal.module.css
  src/components/ProgressModal/ProgressModal.tsx
  src/components/index.ts
  src/features/singleRight/delegate/ChooseServicePage/ChooseServicePage.tsx
Due: yarn prettier --write, eslint

Path conditions:
  yarn prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.css)
  eslint: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
